{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/prototypes/route-to-correct-service/homelessness" method="post">

      {{ govukRadios({
        name: "age",
        value: data['age'],
        fieldset: {
          legend: {
            text: "Is the person 18 or older?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Over18",
            text: "Yes"
          },
          {
            value: "Under18",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

      <br><br>

      <h2 class="govuk-heading-m">Your answers</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Immigration status
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['immigration'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/prototypes/route-to-correct-service/immigration">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>

    </div>
  </div>

{% endblock %}
