{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check the person's immigration status
      </h1>

      <p class="govuk-body">
        The applicant must:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>not have breached immigration law (other than over staying on approved period of leave to enter or remain in UK)</li>
        <li>not have the ‘no recourse to public funds’ (NRPF) condition applied to their permission to enter or stay in the UK</li>
      </ul>

      <form class="form" action="/prototypes/route-to-correct-service/age" method="post">

      {{ govukRadios({
        name: "immigration",
        value: data['immigration'],
        fieldset: {
          legend: {
            text: "Is the person eligible for accommodation services?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
