{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/prototypes/route-to-correct-service/sexual-offences" method="post">

      {{ govukRadios({
        name: "SentenceLength",
        value: data['SentenceLength'],
        fieldset: {
          legend: {
            text: "Is the person currently serving a prison sentence of four years or longer?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "4yearsPlus",
            text: "Yes"
          },
          {
            value: "Under4Years",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
