{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check sexual charges and offences
      </h1>

      <p class="govuk-body">
        The applicant must:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>not be currently charged with, or have any past convictions of cautions, or current allegations of any sexual offences in Schedule 3 of the Sexual Offences Act 2003</li>
      </ul>

      <form class="form" action="/prototypes/route-to-correct-service/risk" method="post">

      {{ govukRadios({
        name: "SexualOffences",
        value: data['SexualOffences'],
        fieldset: {
          legend: {
            text: "Is the person eligible for accommodation services?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "No",
            text: "Yes"
          },
          {
            value: "Yes",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

      <br><br>

      <h2 class="govuk-heading-m">Your answers</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Immigration status
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['immigration'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/prototypes/route-to-correct-service/immigration">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            18 or over
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['age'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/prototypes/route-to-correct-service/age">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Risk of homelessness
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['HomelessnessRisk'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/prototypes/route-to-correct-service/homelessness">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Broken a past Home Detention Order
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['BrokenHDC'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/prototypes/route-to-correct-service/home-detention-curfew">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Prison sentence length
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['SentenceLength'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/prototypes/route-to-correct-service/sentence-length">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>

    </div>
  </div>

{% endblock %}
