{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check sexual charges and offences
      </h1>

      <p class="govuk-body">
        The applicant must:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>not be currently charged with, or have any past convictions of cautions, or current allegations of any sexual offences in Schedule 3 of the Sexual Offences Act 2003</li>
      </ul>

      <form class="form" action="/prototypes/route-to-correct-service/risk" method="post">

      {{ govukRadios({
        name: "SexualOffences",
        value: data['SexualOffences'],
        fieldset: {
          legend: {
            text: "Is the person eligible for accommodation services?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "No",
            text: "Yes"
          },
          {
            value: "Yes",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
