{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Add a previous offence for Terry Midhurst</h1>
      <!-- <p class="govuk-body">You must add all of Terry Midhurst's offences that are <b>serious and unspent</b>.</p> -->

      <!-- <p class="govuk-body">
        The CAS-2 referral team needs this information to assess risk and make sure people are placed safely.
      </p> -->

      <p class="govuk-body">You must include unspent offences involving:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>stalking or harassment</li>
        <li>weapons or firearms</li>
        <li>arson</li>
        <li>violence</li>
        <li>domestic abuse</li>
        <li>hate crimes</li>
        <li>drugs</li>
        <li>any behaviour where the applicant is a risk to themselves or others</li>
      </ul>

      <p class="govuk-body">Add one offence at a time. For example, you should record 3 drug-related offences as 3 separate offences.</p>

      <hr class="govuk-section-break govuk-section-break--m">

      <h2 class="govuk-heading-m">Check the offence is not spent</h2>


<p class="govuk-body">
 You should <a href="https://www.gov.uk/tell-employer-or-college-about-criminal-record/check-your-conviction-caution" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">check if a caution or conviction is spent (opens in a new tab)</a> first.
</p>

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "Spent convictions are protected under law and should not be disclosed. If a current risk, such as a restraining order, is linked to a spent conviction, you should add it to the relevant section.",
  iconFallbackText: "Warning"
}) }}

      {% from "govuk/components/details/macro.njk" import govukDetails %}

      <!-- {{ govukDetails({
        summaryText: "What is an unspent conviction?",
        text: "Crimes that are violent and/or serious (any custodial sentence over two and a half years) OR convictions that are still in the ‘rehabilitation period’ (so not enough time has passed for it to be ‘wiped’ from your record). These should be taken into consideration, because the applicant is in the rehabilitation period"
      }) }} -->


      <hr class="govuk-section-break govuk-section-break--m">

      <form class="form" action="oh-listing" method="post">

        <!------------------------ Offence title ------------------------>
        {{ govukInput({
          label: {
            text: "Offence title and number",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, 'Stalking (08000)'"
          },
          classes: "govuk-input--width-20",
          id: "offence-title",
          name: "offence-title"
        }) }}

        <!------------------------ Type of offence ------------------------>
        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "offence-category",
          name: "offence-category",
          label: {
            text: "Offence category",
            classes: "govuk-label--m"
          },
            hint: {
            text: "Select the offence category"
          },
          items: [
            {
              value: "choose",
              text: "Choose category",
              selected: true
            },
            {
              value: "Stalking or Harassment",
              text: "Stalking or Harassment"
            },
            {
              value: "Weapons or Firearms",
              text: "Weapons or Firearms"
            },
            {
              value: "Arson",
              text: "Arson"
            },
            {
              value: "Violence",
              text: "Violence"
            },
            {
              value: "Domestic abuse",
              text: "Domestic Abuse"
            },
            {
              value: "Hate crime",
              text: "Hate crime"
            },
            {
              value: "Drugs",
              text: "Drugs"
            },
            {
              value: "Other",
              text: "Other"
            }
          ]
        }) }}
        
        <!------------------------ Date offence was commited ------------------------>
        {{ govukDateInput({
          id: "sentence-date",
          value: data['sentence-date'],
          namePrefix: "sentence-date",
          fieldset: {
            legend: {
                text: "When did they commit the offence?",
                classes: "govuk-label--m"
            }
          },
          hint: {
              text: "For example, 27 3 2007"
          }
        }) }}

        <!------------------------ Sentence length ------------------------>
        {{ govukInput({
          id: "sentence-length",
          value: data['sentence-length'],
          name: "sentence-length",
          classes: "govuk-input--width-10",
          label: {
            text: "How long were they sentenced for?",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, 6 months"
          }
        }) }}

        <!------------------------ Details about the offence ------------------------>
        {{ govukTextarea({
          id: "offence-details",
          name: "offence-details",
          rows: "10",
          label: {
            text: "Provide a summary of the offence",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            html: "
              <p class='govuk-hint'>Include:</p>
              <ul class='govuk-list govuk-list--bullet govuk-hint'> 
              <li>where it happened (excluding addresses)</li>
              <li>when it happened</li>
              <li>damage or injury caused</li>
              <li>weapon type</li>
              <li>motivations for the offence</li>
              <li>if a violent offence, the relationship to the victim</li>
              </ul>"
          }
        }) }}

        <div class="moj-button-action">
          {{ govukButton({
            text: 'Add another offence',
            classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
          }) }}
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          <a class="govuk-link" href="#">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
