{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <!-- <span class="govuk-caption-m">RoSH for Terry Midhurst</span> -->
        <h1 class="govuk-heading-l">
          Risk summary for Terry Midhurst
        </h1>

        <div class="oasys-update govuk-!-margin-bottom-4">
          <p class="">Imported from OASys on<strong> 1 August 2023</strong>, last updated on<strong> 4 January 2023</strong></p>
        </div>

        {% from "/components/rosh-widget/macro.njk" import roshWidget %}
        {{ roshWidget({
          hasBeenCompleted: true,
          overallRisk: "MEDIUM",
          riskInCommunity: {
            "Children": "LOW",
            "Public": "MEDIUM",
            "Known Adult": "MEDIUM",
            "Staff": "MEDIUM"
          },
          riskInCustody: {
            "Children": "LOW",
            "Public": "MEDIUM",
            "Known Adult": "MEDIUM",
            "Staff": "MEDIUM",
            "Prisoners": "MEDIUM"
          },
          lastUpdated: "10th October 2021"
        }) }} 

        <!-- Additional info -->
        {% set riskSummaryNotesHTML %}
          {{ govukTextarea({
            name: "risk-summary-notes",
            id: "risk-summary-notes",
            classes: "govuk-!-margin-0",
            label: {
              text: "Additional comments (Optional)",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}
        {% endset -%}

        {{ govukDetails({
          summaryText: "Add additional comments to this summary",
          classes: "govuk-!-margin-top-4",
          html: riskSummaryNotesHTML
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "rosh-about"
          }) }}
  
          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>
  
        </div>

      </form>

    </div>
  </div>

{% endblock %}