{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-full">

      <!-- <span class="govuk-caption-m">RoSH for Terry Midhurst</span> -->
      <h1 class="govuk-heading-l">RoSH for Terry Midhurst</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'About the risk',
            href: 'rosh-about.html'
          },
          {
            text: 'Risk factors',
            href: 'rosh-factors.html'
          },
          {
            text: 'Risk circumstances',
            href: 'rosh-circumstances.html',
            active: true
          },
          {
            text: 'Risk management arrangements',
            href: 'rosh-arrangements.html'
          },
          {
            text: 'Cell share information',
            href: 'rosh-cell-share-x2.html'
          },
          {
            text: 'Prison notes',
            href: 'rosh-prison-notes.html'
          },
          {
            text: 'Additional information',
            href: 'rosh-additional-info.html'
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <!-- <h2 class="govuk-heading-m">Risk factors</h2> -->

        <!---------------------------- Circumstances increasing risk ---------------------------->
        {{ govukTextarea({
          name: "oasys-textarea",
          id: "oasys-textarea",
          classes: "oasys-textarea",
          disabled: true,
          rows: "10",
          value: "As previous. Drug use, need to obtain money for drugs at all costs, feeling he has been wronged in some way, lack of consideration of consequences, impulsive behaviour. Previously 1. if in a pub with mates and feels he or mates are threatened or 2. may be an increased risk if drinking.",
          label: {
            text: "What circumstances are likely to increase risk?",
            classes: "govuk-label--m",
            isPageHeading: false
          }
        }) }}

        <a href="#" id="edit-text" class="govuk-link govuk-body govuk-!-text-align-right link-edit-text">Edit text</a>
        <a href="#" id="revert-text" class="govuk-link govuk-body govuk-!-text-align-right link-edit-text govuk-!-display-none">Revert to original OASys</a>

        <!---------------------------- Circumstances reducing risk ---------------------------->
        {{ govukTextarea({
          name: "oasys-textarea",
          id: "oasys-textarea",
          classes: "oasys-textarea",
          disabled: true,
          rows: "10",
          value: "Mr Midhurst thinking about consequences of his actions and not acting impulsively. He was walking away from situations that he assesses as risky. If he is not drinking to excess, not taking drugs.",
          label: {
            text: "What factors are likely to reduce risk?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "Describe factors, actions and events which might reduce or contain the level of risk now and in the future."
          }
        }) }}

        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

        {{ govukWarningText({
          text: "Any live risks must be documented. Any changes you make here won’t be written back into OASys.",
          iconFallbackText: "Warning"
        }) }}

        <!-- Answer options for question -->
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "oasys-edit",
          fieldset: {
          },
          items: [
            {
              value: "up-to-date",
              id: "up-to-date",
              text: "I confirm this information is relevant."
            }
          ]
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            id: "button-save-and-continue",
            text: "Save and continue",
            class: "govuk-button--disabled",
            href: "#",
            disabled: true
          }) }}

          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

        </div> 

      </form>

    </div>
    
  </div>

{% endblock %}
