{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-m">RoSH for Terry Midhurst</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Risk of Serious Harm</h1>
      <a href="risk-summary" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Go back to Terry Midhurst's risk summary</a>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'About the risk',
            href: 'rosh-about.html'
          },
          {
            text: 'Risk factors',
            href: 'rosh-factors.html'
          },
          {
            text: 'Risk circumstances',
            href: 'rosh-circumstances.html'
          },
          {
            text: 'Risk management arrangements',
            href: 'rosh-arrangements.html',
            active: true
          },
          {
            text: 'Cell share information',
            href: 'rosh-cell-share-x2.html'
          },
          {
            text: 'Prison notes',
            href: 'rosh-prison-note-x2.html'
          },
          {
            text: 'Additional information',
            href: 'rosh-additional-info.html'
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <!-- <h2 class="govuk-heading-m">Risk factors</h2> -->

        <!---------------------------- Risk management arrangements ---------------------------->
        {% set yesHtml %}

          {{ govukTextarea({
            name: "risk-management-type",
            id: "risk-management-type",
            label: {
              text: "What is the arrangement type?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "mappa-category-level",
            id: "mappa-category-level",
            label: {
              text: "What is the category level?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "mappa-lead-contact",
            id: "mappa-lead-contact",
            label: {
              text: "Who is the lead contact? (Optional)",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

        {% endset -%}

        {{ govukRadios({
        name: "rosh-arrangements-radio",
        fieldset: {
          legend: {
            text: "Are there any Risk Management Arrangements?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Including MAPPA, MARAC or Integrated Offender Management."
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: yesHtml
          }
        },
        {
          value: "no",
          text: "No"
        }
        ]
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            id: "button-save-and-continue",
            text: "Save and continue",
            href: "#",
            disabled: false
          }) }}

          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

        </div> 

      </form>

    </div>
    
  </div>

{% endblock %}
