{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-m">Risks and needs for Terry Midhurst</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Risk to self</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'About the risk',
            href: 'rosh-about.html'
          },
          {
            text: 'Risk factors',
            href: 'rosh-factors.html'
          },
          {
            text: 'Risk circumstances',
            href: 'rosh-circumstances.html'
          },
          {
            text: 'Risk management arrangements',
            href: 'rosh-arrangements.html'
          },
          {
            text: 'Cell share information',
            href: 'rosh-cell-share-x2.html',
            active: true
          },
          {
            text: 'Prison notes',
            href: 'rosh-prison-note-x2.html'
          },
          {
            text: 'Additional information',
            href: 'rosh-additional-info.html'
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <h2 class="govuk-heading-m">Cell share information</h2>
        <!-- <div class="oasys-update govuk-!-margin-bottom-6">
          <p class="govuk-!-margin-bottom-1">Imported from P-NOMIS <strong> 26th January 2023 </strong>, last updated <strong> 09 January 2023</strong></p>
        </div> -->
        <p class="govuk-body">Something here explaining what cell share information is and why it's useful to have in this application.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <!------------------------ User entered ------------------------>
        <div class="govuk-summary-card prison-info">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">{{ data['cell-share-referring-institution'] }}</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">
                  Remove<span class="govuk-visually-hidden"> cell share information entry</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Created: 
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['cell-share-start-date-day'] }}/{{ data['cell-share-start-date-month'] }}/{{ data['cell-share-start-date-year'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Details:
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['cell-share-detail'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!------------------------ Leeds ------------------------>
        {{ govukSummaryList({
          classes: "prison-info",
          card: {
            title: {
              text: "HMPPS Leeds"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "prison case note"
                }
              ]
            }
          },
          rows: [
            {
              key: {
                text: "Created:"
              },
              value: {
                html: "21/02/2022"
              }
            },
            {
              key: {
                text: "Details"
              },
              value: {
                html: "Whilst dealing with Mr Midhurst's neigbour Mr Roe who wasnt complying with officers instructions to un cover his obs panel, Midhurst was able to communicate with Mr Roe and Mr Roe listened to him and uncovered his obs panel and went to bed. This support to officers assisted and resolved the incident."
              }
            }
          ]
        }) }}

        <!------------------------ Sheffield ------------------------>
        {{ govukSummaryList({
          classes: "prison-info",
          card: {
            title: {
              text: "HMPPS Sheffield"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "prison case note"
                }
              ]
            }
          },
          rows: [
            {
              key: {
                text: "Created:"
              },
              value: {
                html: "21/02/2022"
              }
            },
            {
              key: {
                text: "Details"
              },
              value: {
                html: "Whilst dealing with Mr Midhurst's neigbour Mr Roe who wasnt complying with officers instructions to un cover his obs panel, Midhurst was able to communicate with Mr Roe and Mr Roe listened to him and uncovered his obs panel and went to bed. This support to officers assisted and resolved the incident."
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Add cell share information",
          classes: "govuk-button--secondary",
          href: "../cell-share/cell-share-add--manual"
        }) }}

        <br>

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "vulnerability"
          }) }}
  
          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>
  
        </div>

      </form>

    </div>
  </div>

{% endblock %}
