{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-full">

      <!-- <span class="govuk-caption-m">RoSH for Terry Midhurst</span> -->
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Additional risk information for Terry Midhurst</h1>
      <a href="risk-summary" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">View Terry Midhurst's RoSH summary</a>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'Risk to others',
            href: 'rosh-about.html'
          },
          {
            text: 'Risk factors',
            href: 'rosh-factors.html'
          },
          {
            text: 'Reducing risk',
            href: 'reducing-risk.html'
          },
          {
            text: 'Risk management arrangements',
            href: 'rosh-arrangements.html'
          },
          {
            text: 'Cell share information',
            href: 'rosh-cell-share.html'
          },
          {
            text: 'Behaviour notes',
            href: 'behaviour-notes.html'
          },
          {
            text: 'Additional risk information',
            href: 'rosh-additional-info.html',
            active: true
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Additional information</h2>
        <div class="oasys-update govuk-!-margin-bottom-6">
          <p class="govuk-!-margin-bottom-1">Imported from OASys <strong> 26th January 2023 </strong>, last updated <strong> 09 January 2023</strong></p>
        </div> -->

        <!---------------------------- Additional information ---------------------------->
        {% set riskAdditionalHTML %}

          {{ govukTextarea({
            name: "risk-implications",
            id: "risk-implications",
            label: {
              text: "Additional information",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}
        
        {% endset -%}

        {{ govukRadios({
          name: "risk-additional-info-radio",
          fieldset: {
            legend: {
              text: "Is there any other risk information for Terry Midhurst?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: riskAdditionalHTML
            }
          },
          {
            value: "no",
            text: "No"
          }
          ],
          hint: {
            text: "Record any additional information about their risk to others."
          }
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            id: "button-save-and-continue",
            text: "Save and continue",
            href: "#",
            disabled: false
          }) }}

          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

        </div> 

      </form>

    </div>
    
  </div>

{% endblock %}
