{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-full">

      <!-- <span class="govuk-caption-m">RoSH for Terry Midhurst</span> -->
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Incentive level (IEP) for Terry Midhurst</h1>
      <a href="risk-summary" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">View Terry Midhurst's RoSH summary</a>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'Risk to others',
            href: 'rosh-about.html'
          },
          {
            text: 'Risk factors',
            href: 'rosh-factors.html'
          },
          {
            text: 'Reducing risk',
            href: 'reducing-risk.html'
          },
          {
            text: 'Risk management arrangements',
            href: 'rosh-arrangements.html'
          },
          {
            text: 'Incentive level',
            href: 'rosh-incentives.html',
            active: true
          },
          {
            text: 'Cell share information',
            href: 'rosh-cell-share.html'
          },
          {
            text: 'Behaviour notes',
            href: 'behaviour-notes.html'
          },
          {
            text: 'Additional risk information',
            href: 'rosh-additional-info.html'
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <!---------------------------- Incentive level question ---------------------------->
        {{ govukRadios({
          name: "risk-cell-share-radio",
          fieldset: {
            legend: {
              text: "What incentive level is Terry Midhurst on?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Incentive level is also known as Incentive and Enhanced Privileges (IEP)."
          },
          items: [
            {
              value: "Basic",
              text: "Basic"
            },
            {
              value: "Standard",
              text: "Standard"
            },
            {
              value: "Enhanced",
              text: "Enhanced"
            }
          ]
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "behaviour-notes.html"
          }) }}
  
          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>
  
        </div>

      </form>

    </div>
  </div>

{% endblock %}
