{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-full">

      <!-- <span class="govuk-caption-m">RoSH for Terry Midhurst</span> -->
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Risk management arrangements for Terry Midhurst</h1>
      <a href="risk-summary" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">View Terry Midhurst's RoSH summary</a>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'Risk to others',
            href: 'rosh-about.html'
          },
          {
            text: 'Risk factors',
            href: 'rosh-factors.html'
          },
          {
            text: 'Reducing risk',
            href: 'reducing-risk.html'
          },
          {
            text: 'Risk management arrangements',
            href: 'rosh-arrangements.html',
            active: true
          },
          {
            text: 'Cell share information',
            href: 'rosh-cell-share.html'
          },
          {
            text: 'Behaviour notes',
            href: 'behaviour-notes.html'
          },
          {
            text: 'Additional risk information',
            href: 'rosh-additional-info.html'
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Risk management arrangements</h2> -->

        <!---------------------------- Risk management arrangements ---------------------------->
        <!-- {% set yesHtml %}

          {{ govukTextarea({
            name: "risk-management-type",
            id: "risk-management-type",
            label: {
              text: "What is the arrangement type?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "mappa-category-level",
            id: "mappa-category-level",
            label: {
              text: "What is the category level?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "mappa-lead-contact",
            id: "mappa-lead-contact",
            label: {
              text: "Who is the lead contact? (Optional)",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

        {% endset -%}

        {{ govukRadios({
        name: "rosh-arrangements-radio",
        fieldset: {
          legend: {
            text: "Are there any Risk Management Arrangements?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Including MAPPA, MARAC or Integrated Offender Management."
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: yesHtml
          }
        },
        {
          value: "no",
          text: "No"
        }
        ]
        }) }} -->

         <!-- <h2 class="govuk-heading-m">Prison behaviour notes</h2> -->
         <!-- <p class="govuk-body">Risk management arrangements are for managing an applicant's risk of serious harm and risk of reoffending.</p> -->

         <p class="govuk-body">You should check with Terry Midhurst's Community Probation Practitioner (CPP) for up-to-date risk management arrangements.</p>

         <p class="govuk-body">You can also check the 'Risk Management Plan' section in OASys.</p>

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

         <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Is Terry Midhurst subject to any of these multi-agency risk management arrangements upon release?
              </h1>
            </legend>
            <div id="contact-hint" class="govuk-hint">
              Select all that apply
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-checkboxes__label" for="contact">
                  Multi-Agency Public Protection Arrangements (MAPPA)
                </label>
                
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    {{ govukTextarea({
                    name: "mappa-details",
                    id: "mappa-details",
                    rows: '8',
                    label: {
                      text: "Provide MAPPA details",
                      classes: "govuk-label--s",
                      isPageHeading: false
                    },
                    hint: {
                      text: "Specify whether the MAPPA is Category 2 or Category 3."
                    }
                  }) }}
        
        
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                  Multi-Agency Risk Assessment Conference (MARAC)
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-phone">
                
                    {{ govukTextarea({
                      name: "marac-details",
                      id: "marac-details",
                      rows: '8',
                      label: {
                        text: "Provide MARAC details",
                        classes: "govuk-label--s",
                        isPageHeading: false
                      }
                    }) }}
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
                <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                  Integrated Offender Management (IOM)
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-text">
                    {{ govukTextarea({
                      name: "iom-details",
                      id: "iom-details",
                      rows: '8',
                      label: {
                        text: "Provide IOM details",
                        classes: "govuk-label--s",
                        isPageHeading: false
                      }
                    }) }}
                  </div>
                </div>
              </div>
                    <div class="govuk-checkboxes__divider">or</div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" data-behaviour="exclusive">
                      <label class="govuk-label govuk-checkboxes__label" for="countries-5">
                        No, Terry Midhurst does not have risk management arrangements
                        </label>
                </div>
          </fieldset>
        </div>


        <div class="govuk-button-group">

          {{ govukButton({
            id: "button-save-and-continue",
            text: "Save and continue",
            href: "rosh-cell-share.html",
            disabled: false
          }) }}

          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

        </div> 

      </form>

    </div>
    
  </div>

{% endblock %}
