 {% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Short-Term Accommodation (CAS-2) applications</h1>

      <div class="govuk-tabs" data-module="govuk-tabs">

        <!-- Tab titles -->
        <ul class="govuk-tabs__list">
          
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#new">
               New
            </a>
          </li>

          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#in-progress">
              In progress
            </a>
          </li>

          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#completed">
              Completed
            </a>
          </li>

          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#abandoned">
              Abandoned
            </a>
          </li>

        </ul>

        <!---------------------------------- New applications ---------------------------------->
        <div class="govuk-tabs__panel" id="new">

          <table class="govuk-table" style="table-layout: fixed;">
            <caption class="govuk-heading-m" style="display: table-caption; text-align: left;">New applications</caption>

            <!-- Table top -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" width="30%" class="govuk-table__header">Person</th>
                <th scope="col" width="15%" class="govuk-table__header">CRN</th>
                <th scope="col" width="20%" class="govuk-table__header">Date submitted</th>
                <th scope="col" width="35%" class="govuk-table__header">Status</th>
              </tr>
            </thead>

            <!-- Table body -->
            <tbody class="govuk-table__body">

              <!-- Application 1 -->
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="application-overview.html" class="govuk-link govuk-link--no-visited-state">
                    Terry Midhurst
                  </a>
                </td>
                <td class="govuk-table__cell">783JSAA</td>
                <td class="govuk-table__cell">19 February 2023</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--new">
                    New application
                  </strong>
                </td>
              </tr>

            </tbody>

          </table>

        </div>

        <!---------------------------------- In progress ---------------------------------->
        <div class="govuk-tabs__panel" id="in-progress">

          <table class="govuk-table" style="table-layout: fixed;">
            <caption class="govuk-heading-m" style="display: table-caption; text-align: left;">In progress applications</caption>

            <!-- Table top -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" width="30%" class="govuk-table__header">Person</th>
                <th scope="col" width="15%" class="govuk-table__header">CRN</th>
                <th scope="col" width="20%" class="govuk-table__header">Date submitted</th>
                <th scope="col" width="35%" class="govuk-table__header">Status</th>
              </tr>
            </thead>

            <!-- Table body -->
            <tbody class="govuk-table__body">

              <!-- Application 1 -->
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">
                    Ruby Webber
                  </a>
                </td>
                <td class="govuk-table__cell">783JSAA</td>
                <td class="govuk-table__cell">19 February 2023</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--in-progress">
                    Awaiting review
                  </strong>
                </td>
              </tr>

              <!-- Application 2 -->
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Jane Earle</a>
                </td>
                <td class="govuk-table__cell">474DGSA</td>
                <td class="govuk-table__cell">1 January 2023</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--in-progress">
                    Needs further information
                  </strong>
                </td>
              </tr>

              <!-- Application 2 -->
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Judith MacDonald</a>
                </td>
                <td class="govuk-table__cell">56758AD</td>
                <td class="govuk-table__cell">12 March 2023</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--in-progress">
                    In assessment
                  </strong>
                </td>
              </tr>

            </tbody>

          </table>

        </div>

        <!---------------------------------- Completed ---------------------------------->
        <div class="govuk-tabs__panel" id="completed">

          <table class="govuk-table" style="table-layout: fixed;">
            <caption class="govuk-heading-m" style="display: table-caption; text-align: left;">Completed applications</caption>

            <!-- Table top -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" width="30%" class="govuk-table__header">Person</th>
                <th scope="col" width="15%" class="govuk-table__header">CRN</th>
                <th scope="col" width="20%" class="govuk-table__header">Date submitted</th>
                <th scope="col" width="35%" class="govuk-table__header">Status</th>
              </tr>
            </thead>

            <!-- Table body -->
            <tbody class="govuk-table__body">

              <!-- Application 1 -->
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">
                    Jesse	Heathcote
                  </a>
                </td>
                <td class="govuk-table__cell">783JSAA</td>
                <td class="govuk-table__cell">19 February 2023</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--completed">
                    Place offered
                  </strong>
                </td>
              </tr>

              <!-- Application 2 -->
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">
                    Dariana	Metz
                  </a>
                </td>
                <td class="govuk-table__cell">474DGSA</td>
                <td class="govuk-table__cell">1 January 2023</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--completed">
                    Declined
                  </strong>
                </td>
              </tr>

              <!-- Application 3 -->
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">
                    Neal Casper
                  </a>
                </td>
                <td class="govuk-table__cell">56758AD</td>
                <td class="govuk-table__cell">12 March 2023</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--completed">
                    Waitlist
                  </strong>
                </td>
              </tr>

            </tbody>

          </table>

        </div>

        <!---------------------------------- Abandoned ---------------------------------->
        <div class="govuk-tabs__panel" id="abandoned">

          <table class="govuk-table" style="table-layout: fixed;">
            <caption class="govuk-heading-m" style="display: table-caption; text-align: left;">Abandoned applications</caption>

            <!-- Table top -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" width="30%" class="govuk-table__header">Person</th>
                <th scope="col" width="15%" class="govuk-table__header">CRN</th>
                <th scope="col" width="20%" class="govuk-table__header">Date submitted</th>
                <th scope="col" width="35%" class="govuk-table__header">Status</th>
              </tr>
            </thead>

            <!-- Table body -->
            <tbody class="govuk-table__body">

              <!-- Application 1 -->
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="application-overview.html" class="govuk-link govuk-link--no-visited-state">
                    Arden	Bogan
                  </a>
                </td>
                <td class="govuk-table__cell">783JSAA</td>
                <td class="govuk-table__cell">19 February 2023</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--abandoned">
                    Withdrawn
                  </strong>
                </td>
              </tr>

              <!-- Application 2 -->
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">
                    Charlene Bahringer
                  </a>
                </td>
                <td class="govuk-table__cell">56758AD</td>
                <td class="govuk-table__cell">12 March 2023</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--abandoned">
                    No response
                  </strong>
                </td>
              </tr>

            </tbody>

          </table>

        </div>


    </div>
  </div>

</div>
{% endblock %}
