{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">

      <!-- <span class="govuk-caption-m">Risk to self for Terry Midhurst</span> -->
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Terry Midhurst's ACCT notes</h1>
      <p class="govuk-!-margin-bottom-1">Imported from OASys on <strong> 26 January 2023 </strong></p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">

          <li class="moj-side-navigation__item ">
            <a href="vulnerability.html">
              <!-- <span class="moj-badge moj-badge--green side-nav--status">Complete</span> -->
              Vulnerability
            </a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="current.html">
              <!-- <span class="moj-badge moj-badge--green side-nav--status">Complete</span> -->
              Current risk
            </a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="historical.html">
              <!-- <span class="moj-badge moj-badge--red side-nav--status">Incomplete</span> -->
              Historical risk
            </a>
          </li>

          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="acct-x3.html">
              <!-- <span class="moj-badge moj-badge--red side-nav--status">Incomplete</span> -->
              ACCT
            </a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="additional-info.html">
              <!-- <span class="moj-badge moj-badge--red side-nav--status">Incomplete</span> -->
              Additional information
            </a>
          </li>

        </ul>
      </nav>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <h2 class="govuk-heading-m">Assessment, Care in Custody and Teamwork (ACCT)</h2>
        <div class="oasys-update govuk-!-margin-bottom-4">
          <p class="govuk-!-margin-bottom-1">Imported from P-NOMIS <strong> 26th January 2023 </strong>, last updated <strong> 09 January 2023</strong></p>
        </div>
        <p class="govuk-body">An ACCT is a plan to support someone in prison who is at risk of self-harm or suicide. Plans are tailored to the people being supported and their needs, and involve the person throughout in making decisions about the best support for them.</p>
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> {{ data['acct-start-date'] }}

        <!------------------------ User entered ------------------------>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">{{ data['acct-referring-institution'] }}</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">
                  Remove<span class="govuk-visually-hidden"> ACCT entry</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Started: 
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['acct-start-date-day'] }}/{{ data['acct-start-date-month'] }}/{{ data['acct-start-date-year'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Ended: 
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['acct-end-date-day'] }}/{{ data['acct-end-date-month'] }}/{{ data['acct-end-date-year'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Details:
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['acct-detail'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!------------------------ Leeds ------------------------>
        {{ govukSummaryList({
          classes: "prison-info",
          card: {
            title: {
              text: "HMPPS Leeds"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "ACCT entry"
                }
              ]
            }
          },
          rows: [
            {
              key: {
                text: "Started:"
              },
              value: {
                html: "21/02/2022"
              }
            },
            {
              key: {
                text: "Ended:"
              },
              value: {
                html: "20/05/2022"
              }
            },
            {
              key: {
                text: "Details"
              },
              value: {
                html: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              }
            }
          ]
        }) }}

        <!------------------------ Sheffield ------------------------>
        {{ govukSummaryList({
          classes: "prison-info",
          card: {
            title: {
              text: "HMPPS Sheffield"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "ACCT entry"
                }
              ]
            }
          },
          rows: [
            {
              key: {
                text: "Started:"
              },
              value: {
                html: "21/02/2022"
              }
            },
            {
              key: {
                text: "Ended:"
              },
              value: {
                html: "20/05/2022"
              }
            },
            {
              key: {
                text: "Details"
              },
              value: {
                html: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Select ACCT entries",
          classes: "govuk-button--secondary",
          href: "../acct/acct-add--auto"
        }) }}

        <br>

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "current"
          }) }}
  
          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>
  
        </div>

      </form>

    </div>
  </div>

{% endblock %}
