//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import "risk/widgets";

.flexbox {
    display: inline-flex;
    justify-content: space-between;
}

.border--top {
    border-top: 2px solid red;
    padding-top: 1em;
}

.border--blue {
    border-color: govuk-colour("blue");
}

.applicant-details-overview {
    align-self: baseline;
    border: 1px solid $govuk-border-colour;
    padding: 1em;
}

.govuk-form-group {
 clear: both;   
}

.govuk-prototype-kit-task-list__section {
    // font-size: inherit;
}

// --------

.oasys-update p {
    color: $govuk-secondary-text-colour;
}

#oasys-textarea:disabled {
    background-color:  govuk-colour("light-grey");
    border-color: govuk-colour("mid-grey");
    color: govuk-colour("dark-grey");

    // background-color: govuk-colour("white");
    // border-color: govuk-colour("white");
    // padding: 0;

    opacity: 1;
}

.link-edit-text {
    float: right;
}

.govuk-table__body tr.govuk-table__row th {
    font-weight: 400;
}

.padded-box {
    border: 1px solid govuk-colour("dark-grey");
    padding: 1.25rem;
}

// --------

.check-answers .govuk-summary-list__key {
    width: 40%;
}