//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import "risk/widgets";

.flexbox {
    display: inline-flex;
    justify-content: space-between;
}

.border--top {
    border-top: 2px solid red;
    padding-top: 1em;
}

.border--blue {
    border-color: govuk-colour("blue");
}

.applicant-details-overview {
    align-self: baseline;
    border: 1px solid $govuk-border-colour;
    padding: 1em;
}

.govuk-form-group {
    clear: both;   
}

// -------- Risk and RoSH/OASys

.oasys-update p {
    color: $govuk-secondary-text-colour;
}

#oasys-textarea:disabled {
    background-color:  govuk-colour("light-grey");
    border-color: govuk-colour("mid-grey");
    color: govuk-colour("dark-grey");

    // background-color: govuk-colour("white");
    // border-color: govuk-colour("white");
    // padding: 0;

    opacity: 1;
}

.link-edit-text {
    float: right;
}

.govuk-table__body tr.govuk-table__row th {
    font-weight: 400;
}

.padded-box {
    border: 1px solid govuk-colour("dark-grey");
    padding: 1.25rem;
}

// -------- Health

.moj-side-navigation {
    padding: 0;
}

.side-nav--status {
    margin-right: 6px;
}

.button--copy-text {
    color: white;
    background: $govuk-brand-colour;
    box-shadow: 0 2px 0 darken($govuk-brand-colour, 10%);

    &:hover {
        color: white;
        background: darken($govuk-brand-colour, 10%);
        box-shadow: 0 2px 0 darken($govuk-brand-colour, 20%);
    }
}

.moj-badge--white {
    background: govuk-colour("white");
}

// .moj-badge--green {
//     color: $govuk-text-colour;
//     background: lighten(govuk-colour("green"), 20%);
//     background: govuk-colour("green");
// }

// -------- Check answers

.check-answers .govuk-summary-list__key {
    width: 40%;
}

.prototype-infobox {
    border: 2px solid black;
    background: yellow;
    padding: 2rem;
    margin-bottom: 3em;

    .govuk-form-group {
        margin-bottom: 0;
    }
}