//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import "risk/widgets";

.flexbox {
    display: inline-flex;
    justify-content: space-between;
}

.border--top {
    border-top: 2px solid red;
    padding-top: 1em;
}

.border--blue {
    border-color: govuk-colour("blue");
}

.applicant-details-overview {
    align-self: baseline;
    border: 1px solid $govuk-border-colour;
    padding: 1em;
}

.govuk-form-group, .clear-both, .govuk-warning-text {
    clear: both;   
}

.moj-side-navigation__list {
    font-size: 18px;
}

// -------- Risk and RoSH/OASys

.last-edited {
    display: inline-block;
}

.oasys-update p, .last-edited {
    color: $govuk-secondary-text-colour;
}

.oasys-edit--container {
    text-align: right;
}

#oasys-textarea:disabled, .health-not-applicable-test--disabled {
    background-color:  govuk-colour("light-grey");
    border-color: govuk-colour("mid-grey");
    color: govuk-colour("dark-grey");
    opacity: 1;
}

.checked {
    .govuk-table__body .govuk-table__row:nth-child(-1n + 3) {
        background: lighten(govuk-colour("light-blue"), 40%);
    }
} 

.govuk-checkboxes__item {
    background: white;
}

// .govuk-table__header {
//     text-wrap: nowrap;
// }

.float-right, .link-edit-text {
    float: right;
}

.govuk-table__body tr.govuk-table__row th {
    font-weight: 400;
}

.padded-box {
    border: 1px solid govuk-colour("dark-grey");
    padding: 1.25rem;
}

.prison-info {
    .govuk-summary-list__key {
        width: 20%;
    }
}

// -------- Health

.moj-side-navigation {
    padding: 0;
}

.side-nav--status {
    margin-right: 6px;
}

.button--copy-text {
    color: white;
    background: $govuk-brand-colour;
    box-shadow: 0 2px 0 darken($govuk-brand-colour, 10%);

    &:hover {
        color: white;
        background: darken($govuk-brand-colour, 10%);
        box-shadow: 0 2px 0 darken($govuk-brand-colour, 20%);
    }
}

.moj-badge--white {
    background: govuk-colour("white");
}

.overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    // opacity: .5;
    z-index: 10;
}

.govuk-width-container--pop-up {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// -------- Check answers

.check-answers .govuk-summary-list__key {
    width: 40%;
}

.prototype-infobox {
    border: 2px solid black;
    background: yellow;
    padding: 2rem;
    margin-bottom: 3em;

    .govuk-form-group {
        margin-bottom: 0;
    }
}

.autocomplete__wrapper * {
  @include govuk-typography-common();
}


// -------- Offence history

.oh-card--blue .govuk-summary-card__title-wrapper {
    background-color: #d2e2f1;
}

.oh-card--red .govuk-summary-card__title-wrapper {
    background-color: #f6d7d2;

    .govuk-tag--red {
        background: #942514;
        color: #ffffff;
    }
}

.oh-card--yellow .govuk-summary-card__title-wrapper {
    background-color: #fff7bf;

    .govuk-tag--yellow {
        background: #FFE30F;
        color: $govuk-text-colour;
    }
}

.oh-card--pink .govuk-summary-card__title-wrapper {
    background-color: #f7d7e6;

    .govuk-tag--pink {
        background: #80224d;
        color: #ffffff;
    }
}

.oh-card--purple .govuk-summary-card__title-wrapper {
    background-color: #dbd5e9;

    .govuk-tag--purple {
        background: #3d2375;
        color: #ffffff;
    }
}

.oh-card--turquoise .govuk-summary-card__title-wrapper {
    background-color: #bfe3e0;

    .govuk-tag--turquoise {
        background: #10403c;
        color: #ffffff;
    }
}

// .oh-card--brown .govuk-summary-card__title-wrapper {
//     background-color: #bfe3e0;
// }

.govuk-tag--brown {
    background: #eec98c;
    color: $govuk-text-colour;
}

.oh-card--grey .govuk-summary-card__title-wrapper {
    background-color: #bfe3e0;

    .govuk-tag--grey {
        background: #f3f2f1;
        color: $govuk-text-colour;
    }
}

// -------- NACRO

.govuk-tag--big {
    font-size: 1.15rem;
}

.govuk-tag--new {
    background: govuk-colour("pink");
    color:  govuk-colour("white");
}

.govuk-tag--in-progress {
    background: govuk-colour("yellow");
    color: $govuk-text-colour;
}

.govuk-tag--assessment-complete {
    background: #b0d7f9;
    color: $govuk-text-colour;
}

.govuk-tag--abandoned {
    background:  govuk-colour("black");
    color:  govuk-colour("white");
}


// -------- Footer things

.govuk-footer {
    padding-bottom: 8rem;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2em 0;
    background-color: govuk-colour("light-grey");
    border-top: 1px solid govuk-colour("mid-grey");
 }

 .sticky-footer--flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }

//  .sticky-footer--item {
//     h2, p {
//         color: inherit;
//     }
//  }

.govuk-summary-list--border {
    border-bottom: 1px solid #b1b4b6 !important;
} 