{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <!-- <span class="govuk-caption-m">Risk of Serious Harm for Terry Midhurst</span> -->
      <h1 class="govuk-heading-l">Add a behaviour note for Terry Midhurst</h1>
      <p class="govuk-body">Behaviour notes can be prison notes, or P-Nomis alerts. The CAS-2 referral team uses behaviour notes to assess any risks and other factors to consider how suitable an applicant is for a placement.</p>
      <p class="govuk-body">Important notes to include could be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>issues with working or being managed by a specific gender of staff</li>
        <li>inappropriate comments or lewd touching</li>
        <li>any enhanced level incentives the applicant has</li>
      </ul>

      {{ govukDetails({
        summaryText: "A good example of a behaviour note",
        classes: "govuk-!-margin-bottom-2",
        text: "They have a history of making inappropriate comments to female staff."
      }) }}

      {{ govukDetails({
        summaryText: "A bad example of a behaviour note",
        text: "They were being difficult and did not want to talk."
      }) }}

      <hr class="govuk-section-break govuk-section-break--s">

      <form class="form" action="../rosh-prison-note-x3" method="post">

        <!------------------------ Start date ------------------------>
        <!-- {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "prison-note-date",
          namePrefix: "prison-note-date",
          fieldset: {
            legend: {
              text: "When did this incident occur?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          }
        }) }} -->

        {{ govukInput({
          label: {
            text: "When did the behaviour or event happen?",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This can be an approximate date. For example, 17 December 2022"
          },
          classes: "govuk-!-width-one-third",
          id: "prison-note-start-date",
          name: "prison-note-start-date"
        }) }}

        <!------------------------ Referring institution ------------------------>
        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "prison-note-referring-institution",
          name: "prison-note-referring-institution",
          label: {
            text: "Referring institution",
            classes: "govuk-label--m"
          },
            hint: {
            text: "Where the applicant was based at the time the incident occured"
          },
          items: [
            {
              value: "choose",
              text: "Choose location",
              selected: true
            },
            {
              value: "HMPPS Leeds",
              text: "HMPPS Leeds"
            },
            {
              value: "HMPPS Sheffield",
              text: "HMPPS Sheffield"
            },
            {
              value: "HMPPS London",
              text: "HMPPS London"
            }
          ]
        }) }}

        <!------------------------ Details ------------------------>
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          id: "prison-note-detail",
          name: "prison-note-detail",
          rows: "10",
          label: {
            text: "Describe the behaviour",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "Guidance about the level of detail to include"
          }
        }) }}

        <div class="moj-button-action">
          {{ govukButton({
            text: 'Save and add another',
            classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
          }) }}
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and add behaviour note"
          }) }}

          <a class="govuk-link" href="#">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
