{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <!-- <span class="govuk-caption-m">Risk of Serious Harm for Terry Midhurst</span> -->
      <h1 class="govuk-heading-l">Add a behaviour note for Terry Midhurst</h1>
      <p class="govuk-body">
        Behaviour notes are positive or negative notes about an applicant's behaviour.
      </p>
      <p class="govuk-body">
        You should share behaviour notes from the last year, or over any period of time if they show a pattern of behaviour. Add one behaviour note at a time.
      </p>
      <p class="govuk-body">Examples of behaviour notes could be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>issues with working or being managed by a specific gender of staff</li>
        <li>inappropriate comments or behaviour</li>
        <li>P-Nomis alerts</li>
        <!-- <li>any enhanced level incentives the applicant has</li> -->
        <li>protective factors, such as positive relationships, employment and goals</li>
      </ul>

      {{ govukDetails({
        summaryText: "What protective factors are",
        classes: "govuk-!-margin-bottom-2",
        text: "Protective factors can counteract negative influences. Individual protective factors include education, employment, leisure activities, goals and ambitions. Community and family protective factors include receiving professional support and having positive (prosocial) relationships."
      }) }}

    

      <!-- {{ govukDetails({
        summaryText: "Bad behaviour note examples",
        text: "Avoid vague descriptions such as 'they were difficult' and describing minor events such as an argument with a member of staff."
      }) }} -->

      <hr class="govuk-section-break govuk-section-break--m">

      <form class="form" action="../behaviour-notes-x1" method="post">

        <!------------------------ P-Nomis alert creation date ------------------------>
        <!-- {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {% set dateHTML %}

          {{ govukDateInput({
            id: "prison-note-date",
            namePrefix: "prison-note-date",
            hint: {
              text: "For example, 17 December 2022"
            },
            fieldset: {
              legend: {
                text: "When was the P-Nomis alert created?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            }
          }) }}

        {% endset -%} -->

        <!---------------------------- Referring institution ---------------------------->
        <!-- {% set yesHtml %} -->

        <!-- {{ govukSelect({
          id: "prison-note-referring-institution",
          name: "prison-note-referring-institution",
          label: {
            text: "Referring institution (Optional)",
            classes: "govuk-label--m"
          },
            hint: {
            text: "Where the applicant was based at the time the incident occured"
          },
          items: [
            {
              value: "choose",
              text: "Choose location",
              selected: true
            },
            {
              value: "HMPPS Leeds",
              text: "HMPPS Leeds"
            },
            {
              value: "HMPPS Sheffield",
              text: "HMPPS Sheffield"
            },
            {
              value: "HMPPS London",
              text: "HMPPS London"
            }
          ]
        }) }} -->
        
        <!-- {{ govukTextarea({
          name: "incident-date",
          id: "incident-date",
          label: {
            text: "When did the incident happen?",
            classes: "govuk-label--s",
            
            isPageHeading: false
          }
        }) }} -->

        <!-- {% endset -%} -->
<!-- 
        {{ govukRadios({
          name: "behaviour-notes-radio",
          fieldset: {
            legend: {
              text: "Is the behaviour note related to a P-Nomis alert?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: dateHTML
            }
          },
          {
            value: "no",
            text: "No"
          }
          ]
        }) }} -->

        <!-- {{ govukInput({
          label: {
            text: "Date of event or behaviour",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This can be an approximate date. For example, 17 December 2022"
          },
          classes: "govuk-!-width-one-third",
          id: "prison-note-start-date",
          name: "prison-note-start-date"
        }) }} -->

        <!------------------------ Referring institution ------------------------>
        <!-- {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "prison-note-referring-institution",
          name: "prison-note-referring-institution",
          label: {
            text: "Referring institution",
            classes: "govuk-label--m"
          },
            hint: {
            text: "Where the applicant was based at the time the incident occured"
          },
          items: [
            {
              value: "choose",
              text: "Choose location",
              selected: true
            },
            {
              value: "HMPPS Leeds",
              text: "HMPPS Leeds"
            },
            {
              value: "HMPPS Sheffield",
              text: "HMPPS Sheffield"
            },
            {
              value: "HMPPS London",
              text: "HMPPS London"
            }
          ]
        }) }} -->

        <!------------------------ Details ------------------------>
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          id: "prison-note-detail",
          name: "prison-note-detail",
          rows: "10",
          label: {
            text: "Describe the behaviour",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "If it's related to a specific incident, include when it happened."
          }
        }) }}

          <!-- },
          hint: {
            text: "Guidance about the level of detail to include"
          }
        }) }} -->

        <div class="moj-button-action">
          {{ govukButton({
            text: 'Save and add another',
            classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
          }) }}
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and add behaviour note"
          }) }}

          <a class="govuk-link" href="#">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
