{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <!-- <span class="govuk-caption-m">Risk to self for Terry Midhurst</span> -->
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Choose ACCT notes for Terry Midhurst</h1>
      <div class="oasys-update">
        <p>Imported from OASys on<strong> 26 January 2023</strong>, last updated on<strong> 09 January 2023</strong></p>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form class="form govuk-!-margin-top-3" action="" method="post">
        
        {%- from "govuk/components/table/macro.njk" import govukTable -%}

        {{ govukTable({
          attributes: {
            'data-module': 'moj-sortable-table'
          },
          head: [
            {
              text: "Select",
              classes: "govuk-visually-hidden"
            },
            {
              text: "Alert type",
              attributes: {
                "aria-sort": "ascending"
              }
            },
            {
              text: "Description",
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Created",
              attributes: {
                "aria-sort": "descending"
              },
              format: "numeric"
            },
            {
              text: "Expired",
              attributes: {
                "aria-sort": "descending"
              },
              format: "numeric"
            }
          ],
          rows: [
            [
              {
                html: '<div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" name="acct-note" type="checkbox">
                        <label class="govuk-label govuk-checkboxes__label" for="acct-note" style="padding:0;">
                          <span class="govuk-visually-hidden" style="padding:0;">Select ACCT</span>
                        </label>
                      </div>'
              },
              {
                text: "Self harm"
              },
              {
                text: "ACCT re-opened at the request of P/C after stating he felt like self-harming."
              },
              {
                text: "19/2/2023",
                format: "numeric",
                attributes: {
                  "data-sort-value": "2023"
                }
              },
              {
                text: "Open",
                attributes: {
                  "data-sort-value": "Open"
                }
              }
            ],
            [
              {
                html: '<div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" name="acct-note" type="checkbox">
                        <label class="govuk-label govuk-checkboxes__label" for="acct-note" style="padding:0;">
                          <span class="govuk-visually-hidden" style="padding:0;">Select ACCT</span>
                        </label>
                      </div>'
              },
              {
                text: "Suicidal intent"
              },
              {
                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              },
              {
                text: "2/12/2022",
                format: "numeric",
                attributes: {
                  "data-sort-value": "2022"
                }
              },
              {
                text: "18/1/2023",
                format: "numeric",
                attributes: {
                  "data-sort-value": "2023"
                }
              }
            ],
            [
              {
                html: '<div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" name="acct-note" type="checkbox">
                        <label class="govuk-label govuk-checkboxes__label" for="acct-note" style="padding:0;">
                          <span class="govuk-visually-hidden" style="padding:0;">Select ACCT</span>
                        </label>
                      </div>'
              },
              {
                text: "Self harm"
              },
              {
                text: "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium."
              },
              {
                text: "11/10/2022",
                format: "numeric",
                attributes: {
                  "data-sort-value": "2022"
                }
              },
              {
                text: "18/12/2023",
                format: "numeric",
                attributes: {
                  "data-sort-value": "2023"
                }
              }
            ],
            [
              {
                html: '<div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" name="acct-note" type="checkbox">
                        <label class="govuk-label govuk-checkboxes__label" for="acct-note" style="padding:0;">
                          <span class="govuk-visually-hidden" style="padding:0;">Select ACCT</span>
                        </label>
                      </div>'
              },
              {
                text: "Suicidal intent"
              },
              {
                text: "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur."
              },
              {
                text: "15/6/2021",
                format: "numeric",
                attributes: {
                  "data-sort-value": "2021"
                }
              },
              {
                text: "18/8/2021",
                format: "numeric",
                attributes: {
                  "data-sort-value": "2021"
                }
              }
            ],
            [
              {
                html: '<div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" name="acct-note" type="checkbox">
                        <label class="govuk-label govuk-checkboxes__label" for="acct-note" style="padding:0;">
                          <span class="govuk-visually-hidden" style="padding:0;">Select ACCT</span>
                        </label>
                      </div>'
              },
              {
                text: "Suicidal intent"
              },
              {
                text: "Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur."
              },
              {
                text: "2/3/2021",
                format: "numeric",
                attributes: {
                  "data-sort-value": "2021"
                }
              },
              {
                text: "16/4/2021",
                format: "numeric",
                attributes: {
                  "data-sort-value": "2021"
                }
              }
            ]
          ]
        }) }}

        <div class="" style="display:flex; justify-content: end;">

          <!---------------------- Results indicator ---------------------->
          <div style="display:flex; align-items: center">
            <p class="moj-pagination__results" style="margin-right: 20px;">Showing <strong>5</strong> of <strong>15</strong> results</p>
          </div>

          <!---------------------- Pagination ---------------------->
          {% from "govuk/components/pagination/macro.njk" import govukPagination %}

          {{ govukPagination({
            classes: "govuk-!-margin-bottom-0",
            next: {
              href: "#"
            },
            items: [
              {
                number: 1,
                current: true,
                href: "#"
              },
              {
                number: 2,
                href: "#"
              },
              {
                number: 3,
                href: "#"
              }
            ]
          }) }}

        </div>

        {{ govukButton({
          text: "Save and add ACCT notes",
          href: "../v4/acct-x3",
          classes: "govuk-!-margin-top-5"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
