{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <form action="" method="post" validate>

      {% set hdcConditionsHTML %}

        {{ govukTextarea({
          name: "hdc-conditions-detail",
          id: "hdc-conditions-detail",
          rows: "12",
          label: {
            text: "Describe the conditions",
            classes: "govuk-label--m"
          }
        }) }}
        
      {% endset -%}

      {{ govukRadios({
        name: "hdc-conditions",
        fieldset: {
          legend: {
            text: "Does Terry Midhurst have any non-standard licence conditions?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Check with their Community Probation Practitioner (CPP), also known as Community Offender Manager (COM). Non-standard licence conditions may also be in nDelius."
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: hdcConditionsHTML
            }
          },
          {
            value: "no",
            text: "No"
          },
          {
            divider: "or"
          },
          {
            value: "na",
            text: "I don't know"
          }
        ]
      }) }}

      <div class="govuk-button-group govuk-!-margin-top-7">

        {{ govukButton({
          text: "Save and complete",
          href: "../tasklists/tasklist"
        }) }}

        <a href="../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

      </div>

    </form>

  </div>
</div>

{% endblock %}