{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <!-- <span class="govuk-caption-m">Community supervision and HDC licence conditions</span> -->
    <h1 class="govuk-heading-l">Who is Terry Midhurst's Community Probation Practitioner (CPP)?</h1>
    <p class="govuk-body">A Community Probation Practitioner (CPP) is also known as Community Offender Manager (COM).</p>

    <form action="" method="post" validate>

      {{ govukInput({
        label: {
          text: "Full name"
        },
        id: "com-full-name",
        name: "com-full-name",
        autocomplete: "name",
        classes: "govuk-!-width-two-thirds",
        spellcheck: false
      }) }}

      {{ govukInput({
        label: {
          text: "Probation region"
        },
        id: "com-probation-region",
        classes: "govuk-!-width-two-thirds",
        name: "com-probation-region"
      }) }}

      {{ govukInput({
        label: {
          text: "Contact email address"
        },
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        classes: "govuk-!-width-two-thirds",
        spellcheck: false
      }) }}

      {{ govukInput({
        label: {
          text: "Contact number"
        },
        id: "com-telephone-number",
        name: "com-telephone-number",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-10"
      }) }}


      <div class="govuk-button-group govuk-!-margin-top-7">

        {{ govukButton({
          text: "Save and continue",
          href: "hdc-conditions"
        }) }}

        <a href="../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

      </div>

    </form>

  </div>
</div>

{% endblock %}