{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-m">Risks and needs for Terry Midhurst</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Health needs</h1>

    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">

          <li class="moj-side-navigation__item">
            <a href="#">
              <span class="moj-badge side-nav--status">Draft</span>
              Substance misuse
            </a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="#">
              <span class="moj-badge side-nav--status">Draft</span>
              Physical health
            </a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="#">Mental health</a>
          </li>

          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="#" aria-current="location">
              <span class="moj-badge side-nav--status">Draft</span>
              Communication needs
            </a>
          </li>
  
          <li class="moj-side-navigation__item">
            <a href="#">Learning difficulties and Neurodiversity</a>
          </li>
  
          <li class="moj-side-navigation__item">
            <a href="#">Brain injury</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="#">Other health</a>
          </li>

        </ul>
      </nav>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <h2 class="govuk-heading-m">Communications needs</h2>

        {{ govukTextarea({
          name: "health-communication-severity",
          id: "health-communication-severity",
          label: {
            text: "Describe their communication need(s) and the level of severity.",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          value: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
        }) }}

        {{ govukTextarea({
          name: "health-communication-needs",
          id: "health-communication-needs",
          label: {
            text: "Do they need any support to see, hear, speak, or understand? If so, please describe it.",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          value: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
        }) }}

        {{ govukTextarea({
          name: "health-communication-independent",
          id: "health-communication-independent",
          label: {
            text: "Can they live independently? Please provide detail.",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          value: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
        }) }}

        {{ govukTextarea({
          name: "health-communication-interpreter",
          id: "health-communication-interpreter",
          label: {
            text: "Do they need an interpreter? If so, which language?",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          value: "They do not need an interpreter."
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "#"
          }) }}

          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

        </div>

      </form>

    </div>
  </div>

{% endblock %}
