{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-full">

      <!-- <span class="govuk-caption-m">Health needs for Terry Midhurst</span> -->
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Physical health needs for Terry Midhurst</h1>
      <!-- <p class="govuk-body-l">Enter information gathered from health teams in the relevant sections.</p> -->
      <a href="health-guidance" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Who to contact for health care information</a>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'Substance misuse',
            href: 'health-needs-substance.html'
          },
          {
            text: 'Physical health',
            href: 'health-needs-physical.html',
            active: true
          }, 
          {
            text: 'Mental health',
            href: 'health-needs-mental.html'
          }, 
          {
            text: 'Communication and language needs',
            href: 'health-needs-communication.html'
          }, 
          {
            text: 'Learning difficulties and neurodiversity',
            href: 'health-needs-learning.html'
          }, 
          {
            text: 'Brain injury',
            href: 'health-needs-brain-injury.html'
          },
          {
            text: 'Other health',
            href: 'health-needs-other.html'
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <!-- <h2 class="govuk-heading-m">Physical health</h2> -->

        <!---------------------------- Physical health needs ---------------------------->
        {% set physicalNeedsHTML %}

          {{ govukTextarea({
            name: "health-physical-needs",
            id: "health-physical-needs",
            label: {
              text: "Please describe their needs.",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukRadios({
            name: "health-physical-needs-medication-radio",
            classes: "govuk-radios--inline",
            fieldset: {
              legend: {
                text: "Can they climb stairs?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {% endset -%}

        {{ govukRadios({
          name: "health-physical-needs-radio",
          fieldset: {
            legend: {
              text: "Do they have any physical health needs?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            html: '
                <div id="physical-health-needs-hint" class="govuk-hint">
                <p class="govuk-hint">This includes needing a mobility scooter, stair lift, wet room, grip rails in the shower or bath, or wider door frames and ramps</p>
               </div>
                '
                },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: physicalNeedsHTML
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <!---------------------------- Physical health needs treatments ---------------------------->
        {% set physicalNeedsTreatmentHTML %}

          {{ govukTextarea({
            name: "health-physical-needs-treatment",
            id: "health-physical-needs-treatment",
            label: {
              text: "Please describe their treatment.",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

        {% endset -%}

        {{ govukRadios({
          name: "health-physical-needs-treatment-radio",
          fieldset: {
            legend: {
              text: "Are they currently receiving any medical treatment for their physical health needs?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: physicalNeedsTreatmentHTML
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <!---------------------------- Physical health needs medications ---------------------------->
        {% set physicalNeedsMedicationHTML %}

        {{ govukTextarea({
          name: "health-physical-needs-medication",
          id: "health-physical-needs-medication",
          label: {
            text: "Please describe their medication.",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {% endset -%}

        {{ govukRadios({
        name: "health-physical-needs-medication-radio",
        fieldset: {
          legend: {
            text: "Are they currently receiving any medication for their physical health needs?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: physicalNeedsMedicationHTML
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
        }) }}

        <!---------------------------- Physical health needs independence ---------------------------->
        {% set physicalNeedsIndependenceHTML %}

        {{ govukTextarea({
          name: "health-physical-needs-independence",
          id: "health-physical-needs-independence",
          label: {
            text: "Please describe why they cannot live independently.",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {% endset -%}

        {{ govukRadios({
        name: "health-physical-needs-independence-radio",
        fieldset: {
          legend: {
            text: "Can they live independently?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: '
              <div id="live-independently-details-hint" class="govuk-hint">
              <p class="govuk-hint">Someone can live independently if they can:</p>
              <ul class="govuk-list govuk-list--bullet govuk-hint"> 
              <li>cook for themselves</li>
              <li>clean for themselves</li>
              <li>manage their own personal hygiene</li>
              <li>shop for themselves</li>
              <li>manage their own medication</li>
              </ul>
             </div>
              '
              },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No",
            conditional: {
              html: physicalNeedsIndependenceHTML
            }
          }
        ]
        }) }}

        <!---------------------------- Physical health needs support ---------------------------->
        {% set physicalNeedsSupportHTML %}

        {{ govukTextarea({
          name: "health-physical-needs-support",
          id: "health-physical-needs-support",
          label: {
            text: "Please describe the types of support.",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {% endset -%}

        {{ govukRadios({
        name: "health-physical-needs-support-radio",
        fieldset: {
          legend: {
            text: "Do they require any additional support?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: physicalNeedsSupportHTML
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "health-needs-mental"
          }) }}

          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

        </div>
        
      </form>

    </div>
  </div>

{% endblock %}
