{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for a CAS-2 placement
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 8 sections.</p>

      <ol class="govuk-prototype-kit-task-list">

        <li>

          <h2 class="govuk-prototype-kit-task-list__section">
            Information about the applicant
          </h2>

          <p class="govuk-body govuk-!-margin-bottom-5">To be completed by the <strong>referrer</strong>.</p>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Risk of harm
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">In progress</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Health needs
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey" id="read-declaration-status">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <p class="govuk-!-margin-0">
                  Current convictions or alleged offences
                </p>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">In progress</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <p class="govuk-!-margin-0">
                  Offending history
                </p>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">In progress</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <p class="govuk-!-margin-0">
                  Community supervision and HDC license conditions
                </p>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">In progress</strong>
            </li>

          </ul>

        </li>

        <li>

          <h2 class="govuk-prototype-kit-task-list__section">
            Information from the applicant
          </h2>

          <p class="govuk-body govuk-!-margin-bottom-5">To be completed by the <strong>applicant</strong> with the referrer's help.</p>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Applicant consent
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey" id="read-declaration-status">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <p class="govuk-!-margin-0">
                  Funding your CAS-2 placement
                </p>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey" id="read-declaration-status">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <p class="govuk-!-margin-0">
                  Address before custody
                </p>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey" id="read-declaration-status">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  CAS-2 area
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey" id="read-declaration-status">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Identification documents
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey" id="read-declaration-status">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <p class="govuk-!-margin-0">
                  Nacro CAS-2 Equality and Diversity Monitoring Form
                </p>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey" id="read-declaration-status">Not started</strong>
            </li>

          </ul>
          
        </li>

      </ol>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "changed-name",
        fieldset: {
          legend: {
            text: "Has the area been confirmed by a Community Offender Manager (COM)?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "This includes changing your last name or spelling your name differently."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
