
{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <span class="govuk-caption-m">Risks to self for Terry Midhurst</span>
        <h1 class="govuk-heading-l">Suicide</h1>

        <div class="govuk-notification-banner" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">

          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>

          <div class="govuk-notification-banner__content">
            <p class="">Terry Midhurst is currently at risk of <strong>suicide</strong>.</p>
          </div>

        </div>

        <p class="govuk-body">They have been assessed as medium risk on OASys, or have other indicators of risk.</p>

        <p class="govuk-body"><strong>Please make sure all the information that follows is accurate and relevant.</strong></p>
          
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        {{ govukTextarea({
          name: "oasys-textarea",
          id: "oasys-textarea",
          classes: "oasys-textarea",
          disabled: true,
          rows: "10",
          value: "Mr Midhurst has made several attempts to kill himself, and has stated he may try again in future should the opportunity arise. He has stated he wishes to hang himself rather than die from cutting, so needs housing which reduces ease of this and regular meetings with case worker and counsellor.",
          label: {
            text: "Describe current circumstances, issues and needs",
            classes: "govuk-label--m",
            isPageHeading: false
          },
            hint: {
              html: '<div class="oasys-update govuk-!-margin-bottom-6">
                    <p class="govuk-!-margin-bottom-1">Imported from OASys <strong> 09 January 2023 </strong>, last updated <strong> 09 January 2023</strong></p>
                    </div>'
            }
        }) }}

        <a href="#" id="edit-text" class="govuk-link govuk-body govuk-!-text-align-right link-edit-text">Edit text</a>
        <a href="#" id="revert-text" class="govuk-link govuk-body govuk-!-text-align-right link-edit-text govuk-!-display-none">Revert to original OASys</a>

        {{ govukInsetText({
          text: "Any live risks must be documented. Any changes you make here won’t be written back into OASys."
        }) }}

        {{ govukTextarea({
          name: "oasys-textarea",
          id: "oasys-textarea",
          classes: "oasys-textarea",
          disabled: true,
          rows: "10",
          value: "Lorum ipsum",
          label: {
            text: "Describe historic circumstances, issues and needs",
            classes: "govuk-label--m",
            isPageHeading: false
          },
            hint: {
              html: '<div class="oasys-update govuk-!-margin-bottom-6">
                    <p class="govuk-!-margin-bottom-1">Imported from OASys <strong> 09 January 2023 </strong>, last updated <strong> 09 January 2023</strong></p>
                    </div>'
            }
        }) }}

        <a href="#" id="edit-text" class="govuk-link govuk-body govuk-!-text-align-right link-edit-text">Edit text</a>
        <a href="#" id="revert-text" class="govuk-link govuk-body govuk-!-text-align-right link-edit-text govuk-!-display-none">Revert to original OASys</a>

        <!-- Answer options for question -->
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "oasys-edit",
          fieldset: {
          },
          items: [
            {
              value: "up-to-date",
              id: "up-to-date",
              text: "I confirm this information is relevant."
            }
          ]
        }) }}

        {{ govukButton({
          id: "button-save-and-continue",
          text: "Save and continue",
          class: "govuk-button--disabled",
          href: "risk-implications",
          disabled: true
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

