
{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <span class="govuk-caption-m">Risks to self for Terry Midhurst</span>
        <h1 class="govuk-heading-l">Suicide</h1>

        <div class="govuk-notification-banner" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">

          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>

          <div class="govuk-notification-banner__content">
            <p class="">Terry Midhurst is <strong>not currently at risk of suicide.</strong>.</p>
          </div>

        </div>

        {{ govukInsetText({
          text: "Any live risks must be documented. If you believe there are current concerns relating to suicide, please add your notes in the following section."
        }) }}
          
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        {{ govukTextarea({
          name: "oasys-textarea",
          id: "oasys-textarea",
          classes: "oasys-textarea",
          disabled: false,
          rows: "10",
          label: {
            text: "Notes on suicide",
            classes: "govuk-label--m",
            isPageHeading: false
          }
        }) }}

        <a href="#" id="edit-text" class="govuk-link govuk-body govuk-!-text-align-right link-edit-text">Edit text</a>
        <a href="#" id="revert-text" class="govuk-link govuk-body govuk-!-text-align-right link-edit-text govuk-!-display-none">Revert to original OASys</a>

        <!-- Answer options for question -->
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "oasys-edit",
          fieldset: {
          },
          items: [
            {
              value: "up-to-date",
              id: "up-to-date",
              text: "I confirm this information is relevant."
            }
          ]
        }) }}

        {{ govukButton({
          id: "button-save-and-continue",
          text: "Save and continue",
          class: "govuk-button--disabled",
          href: "#",
          disabled: true
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

