{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <span class="govuk-caption-m">Risks and needs for Terry Midhurst</span>
        <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Risk of Serious Harm (RoSH) Summary</h1> -->

        {{ govukTextarea({
          name: "risk-implications",
          id: "risk-implications",
          label: {
            text: "Is there any other information to add?",
            classes: "govuk-label--l govuk-!-margin-top-2",
            isPageHeading: true
          },
          hint: {
            text: "Please record any other risk-related information you feel is relevant to the applicant’s move into CAS-2 housing and the support they’ll need."
          }
        }) }}

        {{ govukButton({
          id: "button-save-and-continue",
          text: "Save and complete section",
          class: "govuk-button--disabled",
          href: "../../../tasklists/tasklist",
          disabled: false
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
