<!---------------------- About XXX ---------------------->
<h2 class="govuk-heading-m">About Tanya Midhurst</h2>

<!-- Task Personal information -->
<div class="govuk-summary-card" id="personal-information">
    <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Personal information</h2>
    </div>

    <div class="govuk-summary-card__content">
    
    <!-- Mobile phone -->
    <dl class="govuk-summary-list govuk-summary-list--border">
        <!-- Mobile phone -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Does Tanya Midhurst have a working mobile phone?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>

        <!-- What is their mobile number? -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            What is their mobile number?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            01234567891
        </dd>
        
        </div>

        <!-- Is their mobile a smart phone? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Is their mobile a smart phone?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>
    </dl> 

    <!-- Pregnancy -->
    <dl class="govuk-summary-list govuk-summary-list--border">
        <!-- Is Tanya Midhurst pregnant? -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Is Tanya Midhurst pregnant?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>

        <!-- When is their due date? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            When is their due date?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            January 2023
        </dd>
        
        </div>
    </dl> 

    <!-- Support worker -->
    <dl class="govuk-summary-list">
        <!-- Does Tanya Midhurst have a gender preference for their support worker? -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Does Tanya Midhurst have a gender preference for their support worker?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>

        <!-- What is their preference? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            What is their preference?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Female
        </dd>
        
        </div>
    </dl>

    </div>
</div>

<!-- Task Address history -->
<div class="govuk-summary-card" id="address-history">
    <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Address history</h2>
    </div>

    <!-- Address before custody -->
    <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">            
        <!-- Address before custody -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Did Tanya Midhurst have an address before entering custody?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            No
        </dd>
        
        </div>

        <!-- How long did Tanya Midhurst have no fixed address for? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            How long did Tanya Midhurst have no fixed address for?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            6 Years
        </dd>
        
        </div>
        
        <!-- Actual address -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            What was Tanya Midhurst's last known permanent address?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            12 House<br>
            13 Street<br>
            Township<br>
            West countyshire<br>
            LS12 45YU
        </dd>
        
        </div>
    </dl> 
    </div>

</div>

<!-- Task Equality and diversity monitoring information -->
<div class="govuk-summary-card" id="equality-diversity">
    <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Equality and diversity monitoring information</h2>
    </div>

    <!-- Address before custody -->
    <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">            
        <!-- Does Tanya Midhurst want to answer the equality questions? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Does Tanya Midhurst want to answer the equality questions?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>

        <!-- Do they have a disability? -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Do they have a disability?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>
        
        <!-- What type of disability? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            What type of disability?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Sensory impairment<br>
            Physical impairment
        </dd>
        
        </div>

        <!-- What is their sex? -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            What is their sex?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Female
        </dd>
        
        </div>

        <!-- Is the gender they identify with the same as the sex registered at birth? -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Is the gender they identify with the same as the sex registered at birth?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>

        <!-- Which of the following best describes their sexual orientation? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Which of the following best describes their sexual orientation?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Heterosexual or straight
        </dd>
        
        </div>

        <!-- What is their ethnic group? -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            What is their ethnic group?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Mixed or multiple ethnic groups
        </dd>
        
        </div>

        <!-- Which of the following best describes their mixed or multiple ethnic groups background? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Which of the following best describes their mixed or multiple ethnic groups background?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            White and Black Caribbean
        </dd>
        
        </div>

        <!-- What is their religion? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            What is their religion?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Sikh
        </dd>
        
        </div>

        <!-- Are they a military veteran? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Are they a military veteran?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>

        <!-- Is the applicant a care leaver? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Is the applicant a care leaver?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>

        <!-- Do they have parental or carer responsibilities? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Do they have parental or carer responsibilities?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>

        <!-- What is their legal marital or registered civil partnership status? -->
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            What is their legal marital or registered civil partnership status?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Separated, but still legally in a civil partnership
        </dd>
        
        </div>

    </dl> 
    </div>

</div>