{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <h2 class="govuk-heading-l">Consent and eligibility</h2>

      <!---------------------- Eligibility ---------------------->

      {{ govukSummaryList({
        classes: "check-answers",
        card: {
          title: {
            text: "CAS-2 Eligibility"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "area"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Applicant is over 18 years old"
            },
            value: {
              html: "Confirmed"
            }
          },
          {
            key: {
              text: "Applicant is not currently serving a sentence of 4 years or more for any offence"
            },
            value: {
              html: "Confirmed"
            }
          },
          {
            key: {
              text: "Applicant is not currently charged with, or has any past convictions or cautions, or current allegations of any sexual offences in Schedule 3 of the Sexual Offences Act 2003"
            },
            value: {
              html: "Confirmed"
            }
          },
          {
            key: {
              text: "Applicant is not assessed as high or very high risk of serious harm"
            },
            value: {
              html: "Confirmed"
            }
          },
          {
            key: {
              text: "Applicant has not breached immigration law other than over staying on approved period of leave to enter or remain in UK, or has no recourse to public funds"
            },
            value: {
              html: "Confirmed"
            }
          },
          {
            key: {
              text: "HDC applicant is currently not in prison having been recalled for failing to comply with HDC curfew conditions"
            },
            value: {
              html: "Confirmed"
            }
          }
        ]
      }) }}

      <!---------------------- Consent ---------------------->

      {{ govukSummaryList({
        classes: "check-answers",
        card: {
          title: {
            text: "CAS-2 Consent"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "area"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Does the applicant consent to sharing their data with Nacro?"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Date consent was given"
            },
            value: {
              html: "27/3/2023"
            }
          }
        ]
      }) }}
      
      <h2 class="govuk-heading-l">CAS-2 application</h2>

      <!---------------------- AREA ---------------------->

      {{ govukSummaryList({
        classes: "check-answers",
        card: {
          title: {
            text: "Preferred CAS-2 area"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "area"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Do you want to apply for a Nacro CAS-2 family property to live with your children?"
            },
            value: {
              html: "No"
            }
          },
          {
            key: {
              text: "1st choice region"
            },
            value: {
              html: "London"
            }
          },
          {
            key: {
              text: "1st choice area"
            },
            value: {
              html: "Southhall"
            }
          },
          {
            key: {
              text: "2nd choice region"
            },
            value: {
              html: "London"
            }
          },
          {
            key: {
              text: "2nd choice area"
            },
            value: {
              html: "Shepherds Bush"
            }
          },
          {
            key: {
              text: "Have these Local Areas been approved by the probation office?"
            },
            value: {
              html: "Yes"
            }
          }
        ]
      }) }}

      <!---------------------- FUNDING ---------------------->

      {{ govukSummaryList({
        classes: "check-answers",
        card: {
          title: {
            text: "Funding information for CAS-2 placement"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "area"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "How will you pay for CAS-2 accommodation and the service charge?"
            },
            value: {
              html: "Housing benefit and Universal credit"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">About the applicant</h2>

      <!---------------------- ID documents ---------------------->

      {{ govukSummaryList({
        classes: "check-answers",
        card: {
          title: {
            text: "Identification checks"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "area"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Confirmed types of identification"
            },
            value: {
              html: "UK Passport<br>HMRC correspondence"
            }
          }
        ]
      }) }}

      <!---------------------- Equality and Diversity Monitoring ---------------------->

      {{ govukSummaryList({
        classes: "check-answers",
        card: {
          title: {
            text: "Equality and Diversity Monitoring"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "area"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Gender/Identity"
            },
            value: {
              html: "Male"
            }
          },
          {
            key: {
              text: "Sexual orientation"
            },
            value: {
              html: "Heterosexual/straight"
            }
          },
          {
            key: {
              text: "Ethnicity"
            },
            value: {
              html: "White - British"
            }
          },
          {
            key: {
              text: "Religion"
            },
            value: {
              html: "None"
            }
          },
          {
            key: {
              text: "Marital status"
            },
            value: {
              html: "Divorced"
            }
          },
          {
            key: {
              text: "Is the applicant a military veteran?"
            },
            value: {
              html: "No"
            }
          },
          {
            key: {
              text: "Is the applicant a carer leaver?"
            },
            value: {
              html: "No"
            }
          },
          {
            key: {
              text: "Does the applicant have parental or carer responsibilities?"
            },
            value: {
              html: "No"
            }
          }
        ]
      }) }}

      <!---------------------- Review address history ---------------------->

      {{ govukSummaryList({
        classes: "check-answers",
        card: {
          title: {
            text: "Address history"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "area"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Where were you living before custody including the full address and postcode?"
            },
            value: {
              html: "13 Trough Street <br>Grimsby <br>Yorkshire<br>GR32 GJ3"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">Risks and needs of the applicant</h2>
      <h3 class="govuk-heading-m">Review offending history</h3>

      <!---------------------- Offending history ---------------------->

      {{ govukSummaryList({
        classes: "check-answers",
        card: {
          title: {
            text: "Unspent convictions"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "area"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Does the applicant have any unspent convictions?"
            },
            value: {
              html: "Yes"
            }
          }
        ]
      }) }}

      <h4 class="govuk-heading-m">Unspent convictions</h4>

      {{ govukSummaryList({
        classes: "check-answers",
        card: {
          title: {
            text: "Conviction 1"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "area"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "What type of unspent conviction does this applicant have?"
            },
            value: {
              html: "Arson"
            }
          },
          {
            key: {
              text: "Date of conviction "
            },
            value: {
              html: "28/03/2021"
            }
          },
          {
            key: {
              text: "Details of conviction"
            },
            value: {
              html: "Terry was involved in the arson of his local takeaway following a neighbourhood dispute."
            }
          },
          {
            key: {
              text: "Sentence details of conviction"
            },
            value: {
              html: "16 Months suspended"
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        classes: "check-answers",
        card: {
          title: {
            text: "Conviction 2"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "area"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "What type of unspent conviction does this applicant have?"
            },
            value: {
              html: "Hate crime"
            }
          },
          {
            key: {
              text: "Date of conviction"
            },
            value: {
              html: "28/03/2021"
            }
          },
          {
            key: {
              text: "Details of conviction"
            },
            value: {
              html: "Terry was involved in the arson of his local takeaway following a neighbourhood dispute."
            }
          },
          {
            key: {
              text: "Sentence details of conviction"
            },
            value: {
              html: "12 Months suspended"
            }
          }
        ]
      }) }}

      <h4 class="govuk-heading-m">Other unspent offences</h4>

      {{ govukSummaryList({
        classes: "check-answers",
        card: {
          title: {
            text: "Other offences"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "area"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Does the applicant have any other unspent offences?"
            },
            value: {
              html: "Yes"
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        classes: "check-answers",
        card: {
          title: {
            text: "Offence 1"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "area"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Date of offence"
            },
            value: {
              html: "4/2018"
            }
          },
          {
            key: {
              text: "Details of offence"
            },
            value: {
              html: "3 x Theft and Kindred"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
