{% extends "layouts/main.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your feedback will help us to improve it.'
  }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        Apply for Short-Term Accommodation (CAS-2)
      </h1>

      <p class="govuk-body">
        Use this service to apply for a Short-Term Accommodation placement on behalf of an applicant on Home Detention Curfew (HDC) licence.
      </p>

      <p class="govuk-body">
        You can save your progress and return to your application at any time.
      </p>

      <div class="govuk-inset-text">
        For prison bail applicants, you need to complete the paper form.
      </div>
    
      {{ govukButton({
        text: "Start now",
        href: "../prototypes/add-an-applicant/search-applicant--male.html",
        isStartButton: true
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">

      <h2 class="govuk-heading-m">Before you start</h2>
      <h3 class="govuk-heading-s">You need:</h3>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>consent from the applicant</li>
          <li>the applicant's CRN</li>
          <li>a Layer 3 OASys for the applicant, which has been updated in the last 6 months.</li>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What to do if OASys is not up to date
              </span>
            </summary>
            <div class="govuk-details__text">
              We recommend updating the applicant's OASys before starting so information can be imported to help you answer some sections. It's also important that information shared in the application is consistent with OASys. <br></br>If you cannot update OASys, you can complete the sections manually.
            </div>
          </details>
        </ul>

      <!-- <h3 class="govuk-heading-s">You need to know:</h3>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>eligibility requirements - you'll need to demonstrate that an applicant can meet the Short-Term Accommodation placement eligibility criteria</li>
        <li>factors that will have an impact on the location, type of placement, and room required </li>
        <li>how you'll prepare for move on after the Short-Term Accommodation placement</li>
      </ul> -->
  
    </div>

   
  </div>
{% endblock %}
