{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/panel/macro.njk" import govukPanel %}
      {{ govukPanel({
        titleText: "Application complete",
        html: "Terry Midhurst<br>HM Prison Pentonville"
      }) }}

      <p class="govuk-body">
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p class="govuk-body">
        Your CAS-2 referral has been sent to Nacro, the housing provider.
      </p>

      <p class="govuk-body">
        They will be in touch to confirm whether they have any suitable accommodation for your applicant, or to ask for more information.
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Start new application"
        }) }}

        {{ govukButton({
          text: "View application answers",
          href: "check-answers--no-cta",
          classes: "govuk-button--secondary"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
