{% extends "layouts/main.html" %}

{% from "components/widgets/macro.njk" import widgets %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- Title -->
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        Apply for a CAS-2 placement
      </h1>

      <div class="govuk-!-margin-bottom-7">
        <p class="govuk-body govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Owner:</span> Alex Edwards</p>
        <a class="govuk-!-font-size-19" href="#">Change owner</a>
      </div>
      
    </div>

    <!-- Main -->
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">You have completed 2 of 8 sections.</h2>
      <p class="govuk-body">Please work through all sections, following the instructions within each.</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Inviting people to contribute to this application.</h3>
      <p class="govuk-body">You can invite other contributors to complete parts of this application, but all sections must be completed before you can submit.</p>

      {{ govukButton({
        text: "Invite a contributor",
        classes: "govuk-button--secondary"
      }) }}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-margin-top-4">

      <!--
      <h2 class="govuk-prototype-kit-task-list__section govuk-!-font-size-27">
        Input interview data about Terry Midhurst
      </h2>

      <p class="govuk-body">After interviewing the applicant, enter the information on the form into each of the following sections.</p>

      {{ govukButton({
        text: "Download Applicant interview form",
        href: "#"
      }) }}
      -->

      <ol class="govuk-prototype-kit-task-list">

        <li>

          <h2 class="govuk-prototype-kit-task-list__section govuk-!-font-size-27">
            Before you apply
          </h2>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0 govuk-!-margin-bottom-0">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="consent/all-in-one.html" aria-describedby="read-declaration-status">
                  Confirm consent to share information
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Add a preferred CAS-2 area
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Add funding information for CAS-2 placement
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey">Not started</strong>
            </li>

          </ul>

        </li>

      </ol>

      <hr class="govuk-section-break govuk-section-break--l">

      <h2 class="govuk-prototype-kit-task-list__section govuk-!-font-size-27">
        Review system information
      </h2>

      <p class="govuk-body">Complete and check each of the following sections. You can do this at any time.</p>

      <ol class="govuk-prototype-kit-task-list">

        <li>

          <h3 class="govuk-prototype-kit-task-list__section">
            About Terry Midhurst
          </h3>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0 ">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="eligibility-checker/eligibility-success.html" aria-describedby="read-declaration-status">
                  Check eligibility for CAS-2
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Confirm ID documents
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Complete Equality and Diversity Monitoring
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Review address history
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--yellow">Ready for review</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Enter Community supervision and HDC licence conditions
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey">Not started</strong>
            </li>

          </ul>

          <h3 class="govuk-prototype-kit-task-list__section govuk-body govuk-!-font-size-24">
            Risks and needs for Terry Midhurst
          </h3>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Review offending history
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--yellow">Ready for review</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Enter current offence information
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--yellow">Ready for review</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="risks-and-needs/rosh/oasys-info" aria-describedby="read-declaration-status">
                  Review and complete Risk of Serious Harm (RoSH) summary
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--yellow">Ready for review</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="risks-and-needs/risk-to-self/oasys-info" aria-describedby="read-declaration-status">
                  Review and complete risk to self summary
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--yellow">Ready for review</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="risks-and-needs/prison-information/prison-case-notes" aria-describedby="read-declaration-status">
                  Choose prison information
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--yellow">Ready for review</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="risks-and-needs/health-needs/v1/health-needs-communication" aria-describedby="read-declaration-status">
                  Enter health needs
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Enter gang affiliations
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey">Not started</strong>
            </li>
            
          </ul>

        </li>

      </ol>

      <ol class="govuk-prototype-kit-task-list">

        <li>

          <h2 class="govuk-prototype-kit-task-list__section govuk-!-font-size-27">
            Before you submit
          </h2>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="check-answers.html" aria-describedby="read-declaration-status">
                  Check your answers
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey">Cannot start yet</strong>
            </li>
        
          </ul>
        </li>
      </ol>

      <form action="confirm-com" method="post" novalidate>

        {{ govukButton({
          text: "Save and continue",
          href: "confirm-com"
        }) }}

      </form>

    </div>

    <!-- Sidebar -->
    <!-- <div class="govuk-grid-column-one-third govuk-!-padding-left-8">

      <h3 class="govuk-heading-m">Recent activity</h3>
      <ul class="govuk-list">

        <li>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">17/01/2023 12:32pm</h4>
          <p class="govuk-body" style="color: #505a5f;">Sally Fish made updates to "Enter health needs"</p>
        </li>

        <li>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">15/01/2023 09:12am</h4>
          <p class="govuk-body" style="color: #505a5f;">Jack Chop made updates to "Add preferred CAS-2 area"</p>
        </li>

        <li>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">15/01/2023 15:22pm</h4>
          <p class="govuk-body" style="color: #505a5f;">Jack Chop made updates to "Obtain applicant consent"</p>
        </li>

      </ul>

    </div> -->

  </div>

{% endblock %}
