{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">First preferred area for Terry Midhurst</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'First preferred area',
            href: 'area-first-preference.html',
            active: true
          },
          {
            text: 'Second preferred area',
            href: 'area-second-preference.html'
          }, 
          {
            text: 'Exclusion zones',
            href: 'area-exclusion-zones.html'
          }, 
          {
            text: 'Gang affiliations',
            href: 'area-gang-affiliations.html'
          }, 
          {
            text: 'Family accommodation',
            href: 'area-family-accommodation.html'
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <!---------------------------- Area preference ---------------------------->
        <!-- <p class="govuk-body">An applicant can request an area because they have a local connection or it is close to their approved probation office.</p> -->

        <p class="govuk-body">Accommodation staff will use this information to help match applicants to the most suitable available rooms.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <!-- Towns and cities -->
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m govuk-!-font-weight-bold" for="address-town">
            Search for a town or city
          </label>
          <!-- <div id="" class="govuk-hint">
            Some sort of hint to help explain this is a preferred town or city, rather than exact area?
          </div> -->
          <select class="govuk-select govuk-input--width-20" name="town-city-one" id="choose-country">
            {% include "components/area/select-options.html" %}
          </select>
        </div>

        <!---------------------------- Preference reasoning ---------------------------->
        {% set preferenceReasoningHTML %}

          {{ govukTextarea({
            name: "area-preference-reason-explainer",
            id: "area-preference-reason-explainer",
            label: {
              text: "Can you provide more detail?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}
        
        {% endset -%}

        {{ govukRadios({
          name: "area-preference-reason",
          fieldset: {
            legend: {
              text: "Reason for preference",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Terry lived in the area in the 6 out of the 12 months before prison",
              text: "Terry lived in the area in the 6 out of the 12 months before prison"
            },
            {
              value: "Terry lived in the area in the area in the 3 out of the last 5 years",
              text: "Terry lived in the area in the area in the 3 out of the last 5 years"
            },
            {
              value: "Terry's parents, children or siblings have lived in the area for at least 5 years",
              text: "Terry's parents, children or siblings have lived in the area for at least 5 years"
            },
            {
              value: "Terry has secured full or part-time work in the area",
              text: "Terry has secured full or part-time work in the area"
            },
            {
              value: "The area is close to Terry's allocated probation office",
              text: "The area is close to Terry's allocated probation office"
            },
            {
              value: "Terry has different reason to live there.",
              text: "Terry has different reason to live there.",
              hint: "For example, to recieve specialist healthcare.",
              conditional: {
                html: preferenceReasoningHTML
              }
            }
          ],
          hint: {
            html: "<p class='govuk-hint'>An applicant can request an area because they have a local connection or it is close to their approved probation office.</p><p class='govuk-hint'>Select one.</p>"
          }
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "area-second-preference"
          }) }}

          <a href="../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

        </div> 

      </form>

    </div>
    
  </div>

{% endblock %}
