{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service. <a href="#" target="_blank">Complete our feedback form</a> or <a href="#">email us</a> to report a bug.'

    }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Area preferences and exclusion zones for Terry Midhurst</h1>

      <p class="govuk-body">
        To complete this section, it could be good to include some guidance here about who the referrer/POM needs to speak to, to get this information.
      </p>

      <p class="govuk-body">
        For example, going to the COM for areas or looking at nDelius/DPS for gang information (if this is accurate).
      </p>

      <form action="" method="post" novalidate>

        {{ govukButton({
          text: "Continue",
          href: "area-first-preference.html"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
