{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Substance misuse needs for Terry Midhurst</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
      
      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'First preferred area',
            href: 'area-first-preference.html',
            active: true
          },
          {
            text: 'Second preferred area',
            href: 'area-second-preference.html'
          }, 
          {
            text: 'Exclusion zones',
            href: 'area-exclusion-zones.html'
          }, 
          {
            text: 'Gang affiliations',
            href: 'area-gang-affiliations.html'
          }, 
          {
            text: 'Family accommodation',
            href: 'area-family-accommodation.html'
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <!-- <h2 class="govuk-heading-m">Substance misuse</h2> -->

        <!---------------------------- Substance misuse ---------------------------->
        {% set substancesHTML %}

          {{ govukTextarea({
            name: "health-substance-service",
            id: "health-substance-service",
            label: {
              text: "What substances do they take?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-substance-frequency",
            id: "health-substance-frequency",
            label: {
              text: "How often do they take these substances, by what method, and how much?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

        {% endset -%}
        
        {{ govukRadios({
          name: "applicant-mobile",
          fieldset: {
            legend: {
              text: "Do they take any illegal substances?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: substancesHTML
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <!---------------------------- Drug alcohol service ---------------------------->
        {% set drugAlcoholServiceHTML %}

          {{ govukInput({
            label: {
              text: "Name the drug and alcohol service",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

        {% endset -%}

        {{ govukRadios({
          name: "applicant-drugalcoholservice",
          fieldset: {
            legend: {
              text: "Are they engaged with a drug and alcohol service?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: drugAlcoholServiceHTML
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <!---------------------------- Substitute medication ---------------------------->
        {% set substituteMedicationHTML %}

          {{ govukInput({
            label: {
              text: "What substitute medication do they take?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

        {% endset -%}

        {{ govukRadios({
        name: "applicant-substitutemedication",
        fieldset: {
          legend: {
            text: "Do they require any substitute medication for misused substances?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: substituteMedicationHTML
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
        }) }}

          <div class="govuk-button-group">

            {{ govukButton({
              text: "Save and continue",
              href: "health-needs-physical"
            }) }}
  
            <a href="../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>
  
          </div> 

      </form>

    </div>
    
  </div>

{% endblock %}
