{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-m">Risks and needs for Terry Midhurst</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Health needs</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'Substance misuse',
            href: 'health-needs-substance.html'
          },
          {
            text: 'Physical health',
            href: 'health-needs-physical.html'
          }, 
          {
            text: 'Mental health',
            href: 'health-needs-mental.html'
          }, 
          {
            text: 'Communication needs',
            href: 'health-needs-communication.html'
          }, 
          {
            text: 'Learning difficulties and Neurodiversity',
            href: 'health-needs-learning.html',
            active: true
          }, 
          {
            text: 'Brain injury',
            href: 'health-needs-brain-injury.html'
          },
          {
            text: 'Other health',
            href: 'health-needs-other.html'
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <h2 class="govuk-heading-m">Learning difficulties and Neurodiversity</h2>
        <p class="govuk-body">Neurodiversity covers Autism, ADHD, ADD, Dyslexia, Dyscalculia and Dyspraxia.</p>
        <p class="govuk-body">This can overlap with learning difficulties. For example, they might find it hard to understand or remember information, or have persistent problems with reading, writing or maths.</p>

        {{ govukTextarea({
          name: "health-learning-severity",
          id: "health-learning-severity",
          label: {
            text: "Please describe their condition and the level of severity.",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {{ govukTextarea({
          name: "health-learning-vulnerable",
          id: "health-learning-vulnerable",
          label: {
            text: "Are they vulnerable as a result of this condition?",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {{ govukTextarea({
          name: "health-learning-independent",
          id: "health-learning-independent",
          label: {
            text: "Do they have difficulties interacting with other people as a result of this condition? If yes, please provide details.              ",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {{ govukTextarea({
          name: "health-learning-support",
          id: "health-learning-support",
          label: {
            text: "What support is required?",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "health-needs-brain-injury"
          }) }}

          <a href="../../../tasklist.html" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

        </div>

      </form>

    </div>
  </div>

{% endblock %}
