{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-m">Risks and needs for Terry Midhurst</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Health needs</h1>
      <!-- <p class="govuk-body-l">Enter information gathered from health teams in the relevant sections.</p> -->
      <a href="health-guidance" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Who do I need to contact for health care information?</a>

    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'Substance misuse',
            href: 'health-needs-substance.html'
          },
          {
            text: 'Physical health',
            href: 'health-needs-physical.html'
          }, 
          {
            text: 'Mental health',
            href: 'health-needs-mental.html'
          }, 
          {
            text: 'Communication needs',
            href: 'health-needs-communication.html'
          }, 
          {
            text: 'Learning difficulties and Neurodiversity',
            href: 'health-needs-learning.html'
          }, 
          {
            text: 'Brain injury',
            href: 'health-needs-brain-injury.html'
          },
          {
            text: 'Other health',
            href: 'health-needs-other.html',
            active: true
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <h2 class="govuk-heading-m">Other health needs</h2>

        {{ govukTextarea({
          name: "health-other-long-term",
          id: "health-other-long-term",
          label: {
            text: "Are they managing any long term health conditions?",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "For example, diabetes, arthritis or high blood pressure."
          }
        }) }}

        {{ govukTextarea({
          name: "health-other-cancer",
          id: "health-other-cancer",
          label: {
            text: "Are they currently recieving regular treatment for cancer?",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {{ govukTextarea({
          name: "health-other-seizure",
          id: "health-other-seizure",
          label: {
            text: "Do they experience seizures? If so, please describe how they manage these.",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {{ govukTextarea({
          name: "health-other-seizure",
          id: "health-other-seizure",
          label: {
            text: "Have they experienced a stroke?",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "health-needs-substance"
          }) }}

          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

        </div>

      </form>

    </div>
  </div>

{% endblock %}
