{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-m">Risks and needs for Terry Midhurst</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Health needs</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'Communication needs',
            href: 'health-needs-communication.html'
          }, 
          {
            text: 'Learning difficulties and Neurodiversity',
            href: 'health-needs-learning.html'
          }, 
          {
            text: 'Physical health',
            href: 'health-needs-physical.html',
            active: true
          }, 
          {
            text: 'Mental health',
            href: 'health-needs-mental.html'
          },
          {
            text: 'Substance misuse',
            href: 'health-needs-substance.html'
          },
          {
            text: 'Brain injury',
            href: 'health-needs-brain-injury.html'
          },
          {
            text: 'Mobility',
            href: 'health-needs-mobility.html'
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="health-needs-independent-living" method="post"></form>

        <!-- Set stuff to show when the answer Yes is selected -->
        {% set yesHtml %}

          {{ govukTextarea({
            name: "health-physical-severity",
            id: "health-physical-severity",
            label: {
              text: "Describe the nature of their physical health need(s) and the level of severity.",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-physical-treatment",
            id: "health-physical-treatment",
            label: {
              text: "Are they currently receiving any medical treatment for their physical health needs? If so, please describe it.",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-physical-medication",
            id: "health-physical-medication",
            label: {
              text: "Are they currently taking any medication for their physical health needs? If so, please provide details.",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-physical-stairs",
            id: "health-physical-stairs",
            label: {
              text: "Can they climb stairs?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-physical-independent",
            id: "health-physical-independent",
            label: {
              text: "Can they live independently?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-physical-support",
            id: "health-physical-support",
            label: {
              text: "What support is required?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          <div class="govuk-inset-text">
            This information may need to be gathered from the healthcare team. <br>Use this <a href="#">email template</a> to send these questions to the healthcare team.
          </div>

        {% endset -%}

        <!-- Answer options for question -->
        {{ govukRadios({
          name: "health-physical",
          fieldset: {
            legend: {
              text: "Does Terry Midhurst have any physical health needs?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Including mobility issues, such as difficulty with steps."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue",
            href: "health-needs-mental"
          }) }}
  
          {{ govukButton({
            text: "Save draft of section",
            href: "../../../tasklist",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
