{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <!-- <span class="govuk-caption-m">Add an applicant</span> -->

    <form action="" method="post" validate>
      {{ govukInput({
        label: {
          text: "Enter the person's prison number",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        hint: {
          text: "For example, DO16821"
        },
        classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
        id: "applicant-crn",
        name: "applicant-crn"
      }) }}

      {{ govukButton({
        text: "Search for applicant",
        href: "confirm-applicant--male"
      }) }}
    </form>

    <!-- <a href="#" class="govuk-link govuk-link--no-visited-state">Enter applicant details manually</a> -->

  </div>
</div>

{% endblock %}