{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exclusions - area section
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/prototypes/area/v1/exclusion-details" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Does Terry Midhurst have any exclusion zones?
                </h1>
              </legend>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="excluded" name="excluded" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="excluded">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="excluded-2" name="excluded" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="excluded-2">
                  No
                </label>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>

    </div>
  </div>

{% endblock %}
