{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <!-- <span class="govuk-caption-m">Address history for Terry Midhurst</span> -->

      <form class="form" action="" method="post">

        {{ govukInput({
          label: {
            text: "How long did Terry Midhurst have no fixed address for?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          classes: "govuk-!-width-one-half"
        }) }}
        
        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "address-history-manual-v2-2c"
          }) }}

          <a href="../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

        </div>

      </form>

    </div>
  </div>

{% endblock %}
