{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <!-- <span class="govuk-caption-m">Address history for Terry Midhurst</span> -->

      <form class="form" action="" method="post">

        {{ govukRadios({
          name: "previous-address",
          fieldset: {
            legend: {
              text: "Did Terry Midhurst have an address before entering custody?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no-fixed-address",
              text: "No fixed address"
            }
          ]
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue"
          }) }}

          <a href="../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

        </div>

      </form>

    </div>
  </div>

{% endblock %}
