{% extends "layouts/main.html" %}

{% from "components/widgets/macro.njk" import widgets %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service. <a href="#" target="_blank">Complete our feedback form</a> or <a href="#">email us</a> to report a bug.'

      }) }}
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <!-- Applicant name -->
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Terry Midhurst</h1>

      <!-- Set the status tag from the first question asked -->
      {% set statusTag = data['nacro-application-status-single'] %}

      <!-- Set the status tag colour -->
      {% set statusTagColour = '--assessment-complete' %}

      <!-- Set the status tag detail based on the status chosen -->
      {% if statusTag == 'More information requested' %}
        {% set statusTagDetailExplainer = 'The prison offender manager (POM) must provide information requested for the application to progress.' %}
      {% elseif statusTag == 'Awaiting decision' %}
        {% set statusTagDetailExplainer = 'The CAS-2 team has the information they need and will make a decision.' %}
      {% elseif statusTag == 'Place offered' %}
        {% set statusTagDetailExplainer = 'The applicant has been offered a place for Short-Term Accommodation (CAS-2).' %}
      {% elseif statusTag == 'On waitlist' %}
        {% set statusTagDetailExplainer = 'The applicant has been added to the waitlist for Short-Term Accommodation (CAS-2).' %}
      {% elseif statusTag == 'Could not be placed' %}
        {% set statusTagDetailExplainer = 'The applicant could not be placed in Short-Term Accommodation (CAS-2).' %}
      {% elseif statusTag == 'Incomplete' %}
        {% set statusTagDetailExplainer = 'The application could not progress because the prison offender manager (POM) did not provide the requested information.' %}
      {% elseif statusTag == 'Withdrawn' %}
        {% set statusTagDetailExplainer = 'The prison offender manager (POM) withdrew the application.' %}
      {% endif %}

      <!-- Status tag -->
      <p class="govuk-!-display-inline">Current status: </p> 
      <strong class="govuk-tag govuk-tag{{ statusTagColour }} govuk-tag--big govuk-!-margin-bottom-3">
        {% if statusTag %}{{ statusTag }}{% else %}received{% endif %}
      </strong>
      
      <!-- Status explainer -->
      {% if statusTagDetailExplainer %}
        <p class="govuk-body">{{ statusTagDetailExplainer }}</p>
      {% else %}
        <p class="govuk-body">This application was submitted on <strong>12 June 2023</strong>.</p>
      {% endif %}

      <div class="govuk-button-group govuk-!-margin-top-5">
        <!-- View submitted apps -->
        {{ govukButton({
          text: "View submitted application",
          href: "submitted-application-v4"
        }) }}

        <!-- Update status -->
        {{ govukButton({
          text: "Update application status",
          href: "status-update",
          classes: "govuk-button--secondary"
        }) }}
      </div>

      <!-- Spacer -->
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-2">
      
      <!-- History starts -->
      <h2 class="govuk-heading-l">
        Status history
      </h2>

      <div class="moj-timeline">

        <!-- Timeline item 2 -->
        {% if statusTag %}
          <div class="moj-timeline__item">
            <div class="moj-timeline__header">
              <span class="govuk-body govuk-!-margin-bottom-2 govuk-!-display-inline-block govuk-!-font-size-16 govuk-!-font-weight-bold" style="background: #ffdd00; padding: .25rem .5rem;">Latest activity</span><br>
              <h2 class="moj-timeline__title">{{ statusTag }}</h2>
              <p class="moj-timeline__byline"> by Alex Edwards</p><br>
            </div>

            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z">Just now</time>
            </p>

            <div class="moj-timeline__description">{{ statusTagDetailExplainer }}</div>
          </div>
        {% endif %}

        <!-- Timeline item 1 -->
        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Application received</h2>
            <p class="moj-timeline__byline"> by Chanel Diep</p><br>
          </div>

          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">13 June 2019 at 2:01pm</time>
          </p>

          <div class="moj-timeline__description">The submitted application has been received and is awaiting review.</div>
        </div>

      </div>

    </div>

  </div>

{% endblock %}
