{% extends "layouts/main.html" %}

{% from "components/widgets/macro.njk" import widgets %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Heading goes here
      </h1>

      <p>
        This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.
      </p>

      <p>
        Read more <a href="/path/of/page">about this topic</a>.
      </p>

    </div>
  </div>

{% endblock %}
