{% extends "layouts/main.html" %}

{% from "components/widgets/macro.njk" import widgets %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Check Terry Midhurst is eligible for Short-Term Accommodation (CAS-2)
      </h1>

      <p class="govuk-body">
        Check Terry Midhurst meets the requirements to apply for Short-Term Accommodation (CAS-2).
      </p>

      <p class="govuk-body">
        The applicant must:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>be 18 years old or older</li>
        <li>not be currently serving a sentence of 4 years or more for any offence</li>
        <li>not be currently charged with, or have any past convictions of cautions, or current allegations of any sexual offences in Schedule 3 of the Sexual Offences Act 2003</li>
        <li>not be assessed as high or very high risk of serious harm</li>
        <li>not have breached immigration law (other than over staying on approved period of leave to enter or remain in UK)</li>
        <li>not have the ‘no recourse to public funds’ (NRPF) condition applied to their permission to enter or stay in the UK</li>
        <li>if a Home Detention Curfew (HDC) applicant, not be currently in prison having been recalled for failing to comply with HDC licence conditions</li>
      </ul>

      <form action="" method="post" novalidate>
        
        <div class="govuk-!-margin-top-7">
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
          
            <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold" for="nationality">
              I confirm Terry Midhurst meets all requirements and is eligible for CAS-2. 
            </label>
          </div> -->

          {{ govukRadios({
            name: "eligibility-check",
            value: data['eligibility-check'],
            fieldset: {
              legend: {
                text: "Is Terry Midhurst eligible for Short-Term Accommodation (CAS-2)?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes, I confirm Terry Midhurst is eligible"
              },
              {
                value: "no",
                text: "No, Terry Midhurst is not eligible"
              }
            ]
          }) }}
        </div>
      
        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
