{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <div class="govuk-panel govuk-!-margin-bottom-9 govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Terry Midhurst is eligible for CAS-2 accommodation
          </h1>
        </div>

        <!-- <h2 class="govuk-heading-l">Eligibility summary</h2> -->
        <!-- <p class="govuk-body">Applicants must meet all requirements to be eligible for Short-Term Accommodation (CAS-2). Check carefully before starting Terry Midhurst's application.</p> -->
        
        <p class="govuk-body">
          You confirmed Terry Midhurst meets the requirements for CAS-2 accommodation which include:
        </p>
  
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>being 18 years old or older</li>
          <li>not currently serving a sentence of 4 years or more for any offence</li>
          <li>not being currently charged with, or not having any past convictions of cautions, or current allegations of any sexual offences in Schedule 3 of the Sexual Offences Act 2003</li>
          <li>not being assessed as high or very high risk of serious harm</li>
          <li>not breaching immigration law (other than over staying on approved period of leave to enter or remain in UK)</li>
          <li>not having the ‘no recourse to public funds’ (NRPF) condition applied to their permission to enter or stay in the UK</li>
          <li>if a Home Detention Curfew (HDC) applicant, not being currently in prison having been recalled for failing to comply with HDC curfew conditions</li>
        </ul>

        <!-- <p class="govuk-body">If Terry Midhurst meets all the requirements, you can start the application process on their behalf.</p> -->

        <div class="govuk-button-group govuk-!-margin-top-5">
        
          {{ govukButton({
            text: "Continue",
            href: "../tasklists/tasklist-without-required-tasks"
          }) }}
  
          {{ govukButton({
            text: "Change eligibility answer",
            href: "eligibility-flat",
            classes: "govuk-button--secondary"
          }) }}
  
        </div>

      </form>

      <!-- <a href="#" class="govuk-link govuk-link--no-visited-state">Search for a different applicant.</a> -->

    </div>
  </div>

{% endblock %}
