{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your feedback will help us to improve it.'
  }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        Check eligibility for a CAS-2 placement
      </h1>

      <p class="govuk-body-l">CAS-2 accommodation is offered by Nacro, the housing service provider.</p>

      <p class="govuk-body-l">Strict criteria must be met in order to apply for CAS-2. Use this service to check whether an applicant is eligible.</p>

      <div class="govuk-notification-banner govuk-!-margin-top-7" role="region"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">

        <div class="govuk-notification-banner__header">
          <h3 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>

        <div class="govuk-notification-banner__content">
          <p>To check eligibility, you need the applicant’s <strong>CRN number</strong>.</p>
          <p>Please be aware that eligibility does not guarantee the applicant a CAS-2 placement. You will also need to apply to Nacro on their behalf.</p>
        </div>

      </div>

      <form action="search-applicant" method="post" novalidate>

        {{ govukButton({
          text: "Check eligibility",
          classes: "govuk-!-margin-bottom-0",
          isStartButton: true
        }) }}
  
      </form>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">
        Before you start
      </h2>

      <h3 class="govuk-heading-m">Who is CAS-2 for?</h3>

      <p class="govuk-body">CAS-2 provides housing for people who don’t have a suitable address and are:</p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>are on Bail Order</li>
        <li>are on a Home Detention Curfew (HDC) licence </li>
        <li>who are homeless on conditional release (HCRD)</li>
      </ul>

    </div>
  </div>

{% endblock %}
