{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="../prelude-tasklist/gathering-applicant-info" method="post">

        <div class="govuk-panel govuk-!-margin-bottom-9 govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Terry Midhurst is eligible for CAS-2 accommodation
          </h1>
        </div>

        <h2 class="govuk-heading-l">Eligibility summary</h2>
        <p class="govuk-body">Applicants who fail to meet any of the following requirements are not CAS-2 eligible, meaning you cannot submit an application on their behalf. Please check carefully.</p>
        
        {% from "govuk/components/table/macro.njk" import govukTable %}

        {{ govukTable({
          classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-8",
          caption: "Criteria",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
            {
              text: "Requirement",
              classes: 'govuk-!-width-three-quarters'
            },
            {
              text: "Status",
              classes: 'govuk-!-width-one-quarter'
            }
          ],
          rows: [
            [
              {
                text: "Applicant is over 18 years old"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
              }
            ],
            [
              {
                text: "Applicant is not currently serving a sentence of 4 years or more for any offence"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
              }
            ],
            [
              {
                text: "Applicant is not currently charged with, or has any past convictions or cautions, or current allegations of any sexual offences in Schedule 3 of the Sexual Offences Act 2003"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
              }
            ],
            [
              {
                text: "Applicant is not assessed as high or very high risk of serious harm"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
              }
            ],
            [
              {
                text: "Applicant has not breached immigration law other than over staying on approved period of leave to enter or remain in UK, or has no recourse to public funds"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
              }
            ],
            [
              {
                text: "HDC applicant is currently not in prison having been recalled for failing to comply with HDC curfew conditions"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
              }
            ]
          ]
        }) }}

        <p class="govuk-body">You can now start the CAS-2 application process on behalf of this applicant.</p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <a href="#" class="govuk-link govuk-link--no-visited-state">Search for a different applicant.</a>

    </div>
  </div>

{% endblock %}
