{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        {% from "govuk/components/panel/macro.njk" import govukPanel %}

        {{ govukPanel({
          classes: "govuk-!-margin-bottom-9",
          titleText: "Joe Bloggs is eligible for CAS-2 accommodation"
        }) }}

        <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

        <h2 class="govuk-heading-l">Eligibility summary</h2>
        <p class="govuk-body ">Applicants who meet any of the following requirements are not CAS-2 eligible, meaning you cannot submit an application on their behalf. Please check carefully.</p>
        
        {% from "govuk/components/table/macro.njk" import govukTable %}

        {{ govukTable({
          classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-8",
          caption: "Criteria",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
            {
              text: "Risk to",
              classes: 'govuk-!-width-three-quarters'
            },
            {
              text: "In custody",
              classes: 'govuk-!-width-one-quarter'
            }
          ],
          rows: [
            [
              {
                text: "Applicant is over 18 years old"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
              }
            ],
            [
              {
                text: "Applicant is not currently serving a sentence of 4 years or more for any offence"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
              }
            ],
            [
              {
                text: "Applicant is not currently charged with, or has any past convictions or cautions, or current allegations of any sexual offences in Schedule 3 of the Sexual Offences Act 2003"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
              }
            ],
            [
              {
                text: "Applicant is not assessed as high or very high risk of serious harm"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
              }
            ],
            [
              {
                text: "Applicant has not breached immigration law other than over staying on approved period of leave to enter or remain in UK, or has no recourse to public funds"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
              }
            ],
            [
              {
                text: "HDC applicant is currently not in prison having been recalled for failing to comply with HDC curfew conditions"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>confirmed</strong>"
              }
            ]
          ]
        }) }}

        <p class="govuk-body">If you are ready, you can start your CAS-2 referral application now.</p>

          {{ govukButton({
            text: "Continue",
            href: "#"
          }) }}

      </form>

      <a href="#" class="govuk-link govuk-link--no-visited-state">Search for a different applicant.</a>

    </div>
  </div>

{% endblock %}
