{% extends "layouts/main.html" %}

{% from "components/widgets/macro.njk" import widgets %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <!-- Title -->
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">
      Short-Term Accommodation (CAS-2) Applications
    </h1>

  </div>

</div>

{% endblock %}