{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Exclusion zones for Terry Midhurst</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [
          {
            text: 'First preferred area',
            href: 'area-first-preference.html'
          },
          {
            text: 'Second preferred area',
            href: 'area-second-preference.html'
          }, 
          {
            text: 'Exclusion zones',
            href: 'area-exclusion-zones.html',
            active: true
          }, 
          {
            text: 'Gang affiliations',
            href: 'area-gang-affiliations.html'
          }, 
          {
            text: 'Family accommodation',
            href: 'area-family-accommodation.html'
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <p class="govuk-body">Exclusion zones are specific areas a person must not enter.</p>
          
          <p class="govuk-body">You must include all of Terry Midhurst's exclusion zones from licence conditions, restraining orders and injunctions.</p> 
          
        <p class="govuk-body">Check with Terry Midhurst's Community Probation Practitioner (CPP), also known as Community Offender Manager (COM), for exclusion zone details.</p>

        <div class="govuk-inset-text">
         If a map is available for an exclusion zone, email the map to referrals@nacrocas2.org.uk
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <!-- Exclusion zone -->
        {% set exclusionZoneDetail %}

          {{ govukTextarea({
            name: "exclusion-zone-detail",
            id: "exclusion-zone-detail",
            label: {
              text: "Provide details about the exclusion zone",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            hint: {
              html: 
              "<p class='govuk-hint'>Include details such as:</p>
              <ul class='govuk-list govuk-list--bullet govuk-hint'>
                <li>the area the applicant is excluded from</li>
                <li>the end date (if applicable) of the exclusion</li>
                <li>the reason for the exclusion (e.g. domestic abuse)</li>
                <li>the victim(s) full name so we can avoid placing the applicant near them</li>
                </ul>"
            }
          }) }}

        {% endset -%}

        {{ govukRadios({
        name: "exclusion-zone-question",
        fieldset: {
          legend: {
            text: "Does Terry Midhurst have any exclusion zones?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: exclusionZoneDetail
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "area-gang-affiliations.html"
          }) }}
  
          <a href="../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>
  
        </div>

      </form>

    </div>
  </div>

{% endblock %}
