{% extends "layouts/main.html" %}

{% from "components/widgets/macro.njk" import widgets %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="application-overview" method="post">

      <!-- Set the status tag -->
      {% set statusTag = data['nacro-application-status-single'] %}

      <!-- Set the status tag colour based on the status chosen -->
      {% set statusTagColour = '--assessment-complete' %}

      <!-- Status tag -->
      <div class="status-box govuk-!-margin-bottom-5">
        <p class="govuk-!-display-inline">Current status: </p> 
        <strong class="govuk-tag govuk-tag{{ statusTagColour }} govuk-tag--big">
          {% if statusTag %}{{ statusTag }}{% else %}Recieved{% endif %}
        </strong>
      </div>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "nacro-application-status-single",
          value: data['nacro-application-status-single'],
          fieldset: {
            legend: {
              text: "What is the new status of Terry Midhurst's application?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "More information requested",
              text: "More information requested",
              hint: {
                text: "The prison offender manager (POM) must provide information requested for the application to progress."
              }
            },
            {
              value: "Awaiting decision",
              text: "Awaiting decision",
              hint: {
                text: "The CAS-2 team has the information they need and will make a decision."
              }
            },
            {
              value: "Place offered",
              text: "Place offered",
              hint: {
                text: "The applicant has been offered a place for Short-Term Accommodation (CAS-2)."
              }
            },
            {
              value: "On waitlist",
              text: "On waitlist",
              hint: {
                text: "The applicant has been added to the waitlist for Short-Term Accommodation (CAS-2)."
              }
            },
            {
              value: "Could not be placed",
              text: "Could not be placed",
              hint: {
                text: "The applicant could not be placed in Short-Term Accommodation (CAS-2)."
              }
            },
            {
              value: "Incomplete",
              text: "Incomplete",
              hint: {
                text: "The application could not progress because the prison offender manager (POM) did not provide the requested information."
              }
            },
            {
              value: "Withdrawn",
              text: "Withdrawn",
              hint: {
                text: "The prison offender manager (POM) withdrew the application."
              }
            }
          ]
        }) }}

        <div class="govuk-button-group govuk-!-margin-top-7">

          {{ govukButton({
            text: "Save and continue"
          }) }}
  
          <a href="application-overview" class="govuk-link govuk-link--no-visited-state">Back to application overview</a>
  
        </div>

      </form>

    </div>
  </div>

{% endblock %}
