{% extends "layouts/main.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
        {{ govukPhaseBanner({
        tag: {
            text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.<br>'
        }) }}

    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}
<form action="" method="post" novalidate >

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
      <div class="govuk-panel govuk-panel--submitted-app govuk-!-margin-bottom-7">
    
        <h1 class="govuk-panel__title govuk-!-margin-bottom-5">
          Tanya Midhurst's application<br>
          <span class="govuk-body-l" style="color: #fff;"><strong>Prison number:</strong> 0345793</span>
        </h1>
        
        <ul class="govuk-list govuk-list--spaced" style="color: white;">
          <li><strong>Referrer name:</strong> Alex Edwards</li>
          <li><strong>Referring institution:</strong> HM Prison Pentonville</li> 
          <li><strong>Contact email address:</strong> <a class="govuk-link" href="mailto:aedwards3@hmppentonville.gov.uk" style="color: white;">aedwards3@hmppentonville.gov.uk</a></li>
          <li><strong>Contact number: </strong><a class="govuk-link" href="tel:01234567891" style="color: white;">01234567891</a></li>
        </ul>
        
        <div class="govuk-button-group govuk-!-margin-bottom-0">
          <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" style="background-color: #ffffff; color: #1d70b8; box-shadow: 0 2px 0 #505a5f;">
            Update application status
          </button>
          <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button" style="background-color: #1d70b8; color: #fff; box-shadow: 0 2px 0 #505a5f; border-color: #fff !important;">
            Download as a PDF
          </button>
        </div>

      </div>

    </div>
  </div>

  <div class="govuk-grid-row">

    <!-- Contents sticky sidebar -->
    <div class="govuk-grid-column-one-quarter sticky-sidebar">

      <h3 class="govuk-body-s ">Contents</h3>
        
      <ul class="govuk-list govuk-list--spaced">
        <li class="govuk-!-font-size-16">
          <a class="govuk-link govuk-link--no-visited-state" href="#personal-information">Personal information</a>
        </li>
        <li class="govuk-!-font-size-16">
          <a class="govuk-link govuk-link--no-visited-state" href="#address-history">Address history</a>
        </li>
        <li class="govuk-!-font-size-16">
          <a class="govuk-link govuk-link--no-visited-state" href="#equality-diversity">Equality and diversity monitoring</a>
        </li>
        <li class="govuk-!-font-size-16">
          <a class="govuk-link govuk-link--no-visited-state" href="#area">Exclusion zones and preferred areas</a>
        </li>
        <li class="govuk-!-font-size-16">
          <a class="govuk-link govuk-link--no-visited-state" href="#funding-id">Funding and ID</a>
        </li>
        <li class="govuk-!-font-size-16">
          <a class="govuk-link govuk-link--no-visited-state" href="#health">Health needs</a>
        </li>
        <li class="govuk-!-font-size-16">
          <a class="govuk-link govuk-link--no-visited-state" href="#rts">Risk to self information</a>
        </li>
        <li class="govuk-!-font-size-16">
          <a class="govuk-link govuk-link--no-visited-state" href="#rosh">Risk of serious harm information</a>
        </li>
        <li class="govuk-!-font-size-16">
          <a class="govuk-link govuk-link--no-visited-state" href="#current-offence">Current offences</a>
        </li>
        <li class="govuk-!-font-size-16">
          <a class="govuk-link govuk-link--no-visited-state" href="#offence-history">Offending history</a>
        </li>
        <li class="govuk-!-font-size-16">
          <a class="govuk-link govuk-link--no-visited-state" href="#hdc">HDC licence and CPP details</a>
        </li>
        <li class="govuk-!-font-size-16">
          <div class="app-back-to-top app-back-to-top--hidden" data-module="app-back-to-top">
            <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
              {#-
                The SVG needs `focusable="false"` so that Internet Explorer does not
                treat it as an interactive element - without this it will be 'focusable'
                when using the keyboard to navigate.
              #}
              <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
              </svg>Back to top
            </a>
          </div>
        </li>
      </ul>

    </div>

    <div class="govuk-grid-column-three-quarters">
      {% include "components/answers/fake-answers-static.html" %}
    </div>

  </div>

</form>
{% endblock %}
