<!---------------------- Area, funding and ID ---------------------->
    <h2 class="govuk-heading-m">Area, funding and ID</h2>

    <!-- Task Exclusion zones and preferred areas -->
    <div class="govuk-summary-card" id="area">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Exclusion zones and preferred areas</h2>
        </div>

        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">            
            <!-- First preferred area for Tanya Midhurst -->
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                First preferred area for Tanya Midhurst
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                Newcastle
            </dd>
            
            </div>

            <!-- Reason for preference -->
            <div class="govuk-summary-list__row">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                Reason for preference
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                During interview, she stated that she does not mind which area she is placed however she was living in the North East area prior to custody.
            </dd>
            
            </div>

            <!-- Second preferred area for Tanya Midhurst -->
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                Second preferred area for Tanya Midhurst
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                London
            </dd>
            
            </div>

            <!-- Reason for preference -->
            <div class="govuk-summary-list__row">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                Reason for preference
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                Tanya lived in the area in the area in the 3 out of the last 5 years
            </dd>
            
            </div>
            
            <!-- Does Tanya Midhurst have any exclusion zones? -->
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                Does Tanya Midhurst have any exclusion zones?
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                Yes
            </dd>
            </div>

            <!-- Provide details about the exclusion zone -->
            <div class="govuk-summary-list__row">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                Provide details about the exclusion zone
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                12 Street, 45 Town, Stockport, LS452JS. Restraining order issued 05/12/16 until further Order, not to contact Jerry Smith, not to write or go to Milton Keynes, Not to contact victim of Racially / religiously aggravated intentional harassment / alarm / distress - words / writing Persistant abusive behaviour towards his ex-partner.
            </dd>
            </div>

            <!-- Does Tanya Midhurst have any gang affiliations -->
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                Does Tanya Midhurst have any gang affiliations?
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                Yes
            </dd>
            
            </div>

            <!-- What is the name of the gang? -->
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                What is the name of the gang?
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                Peckham Girls
            </dd>
            
            </div>

            <!-- Where do they operate? -->
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                Where do they operate?
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                In and around Peckham, occasionally within a 2 mile radius of the town center.
            </dd>
            
            </div>

            <!-- Name any known rival gangs and where they operate (optional) -->
            <div class="govuk-summary-list__row">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                Name any known rival gangs and where they operate (optional)
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                "Hackney Crew", occasionally seen in and around Peckham.
            </dd>
            
            </div>

            <!-- Do they want to apply to live with their children in a family property? -->
            <div class="govuk-summary-list__row">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                Do they want to apply to live with their children in a family property?
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                Yes
            </dd>
            
            </div>
            
        </dl> 
        </div>
    
    </div>

    <!-- Task Funding and ID -->
    <div class="govuk-summary-card" id="funding-id">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Funding and ID</h2>
        </div>

        <!-- How will Tanya Midhurst pay for their accommodation and service charge? -->
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">            
            <!-- How will Tanya Midhurst pay for their accommodation and service charge? -->
            <div class="govuk-summary-list__row">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                How will Tanya Midhurst pay for their accommodation and service charge?
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                Benefits
            </dd>
            
            </div>

            <!-- What identification documentation (ID) does Tanya Midhurst have? -->
            <div class="govuk-summary-list__row">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                What identification documentation (ID) does Tanya Midhurst have?
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                Passport<br>
                Birth certificate<br>
                Bank, building society or Post Office card account statements
            </dd>
            
            </div>
            
            <!-- What is Tanya Midhurst's National Insurance number? (Optional) -->
            <div class="govuk-summary-list__row">
            <!-- Question -->
            <dt class="govuk-summary-list__key">
                What is Tanya Midhurst's National Insurance number? (Optional)
            </dt>
            <!-- Answer -->
            <dd class="govuk-summary-list__value">
                NI45645GDSD
            </dd>
            
            </div>
        </dl> 
        </div>
    
    </div>