{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Sign in
      </h1>

      <form class="form" action="" method="post">

        <!------------ Sign in ------------>
        {{ govukInput({
          label: {
            text: "Username"
          },
          classes: "govuk-!-width-one-half",
          id: "username",
          name: "username"
        }) }}

        <!------------ Password ------------>
        {{ govukInput({
          label: {
            text: "Password"
          },
          classes: "govuk-!-width-one-half",
          id: "password",
          name: "password"
        }) }} 

        {{ govukButton({
          text: "Sign in",
          href: "../multiple-applications/dashboard-1"
        }) }}

      </form>

      <div style="display: flex; flex-direction: column;">
        <h2 class="govuk-heading-m">
          Problems signing in
        </h1>
        <a href="#" class="govuk-link" style="margin-bottom: 20px;">I have forgotten my username</a>
        <a href="#" class="govuk-link">I have forgotten my password</a>
      </div>

    </div>
  </div>

{% endblock %}
