{% extends "layouts/main.html" %}

{% from "components/widgets/macro.njk" import widgets %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- Title -->
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        Apply for a CAS-2 placement
      </h1>

      <div class="govuk-!-margin-bottom-4">
        <p class="govuk-body govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Applicant:</span> Terry Midhurst</p>
        <p class="govuk-body govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Institution:</span> HM Prison Pentonville</p>
        <p class="govuk-body govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Referrer:</span> Alex Edwards</p>
        <!-- <a class="govuk-!-font-size-19" href="#">Change referrer</a> -->
      </div>
      
    </div>

    <!-- Main -->
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">You have completed 15 of 15 tasks.</h2>
      <p class="govuk-body">Please work through all sections, following the instructions within each.</p>

      <!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Inviting people to contribute to this application.</h3>
      <p class="govuk-body">You can invite other contributors to complete parts of this application, but all sections must be completed before you can submit.</p>

      {{ govukButton({
        text: "Invite a contributor",
        classes: "govuk-button--secondary"
      }) }} -->

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-margin-top-7">

      <!--
      <h2 class="govuk-prototype-kit-task-list__section govuk-!-font-size-27">
        Input interview data about Terry Midhurst
      </h2>

      <p class="govuk-body">After interviewing the applicant, enter the information on the form into each of the following sections.</p>

      {{ govukButton({
        text: "Download Applicant interview form",
        href: "#"
      }) }}
      -->

      <ol class="govuk-prototype-kit-task-list">

        <h2 class="govuk-prototype-kit-task-list__section govuk-!-font-size-27">
          Before you apply
        </h2>

        <p class="govuk-body">Complete these pre-application tasks first. <br>You’ll need to speak to the applicant to complete some of these sections.</p>
        
        <li>

          <!-- <h3 class="govuk-prototype-kit-task-list__section">Eligibility and consent</h3> -->

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0 govuk-!-margin-bottom-0">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../add-an-applicant/search-applicant--male.html" aria-describedby="read-declaration-status">
                  Confirm applicant details
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../eligibility-checker/eligibility-success.html" aria-describedby="read-declaration-status">
                  Confirm eligibility for CAS-2
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../checklist/web.html" aria-describedby="read-declaration-status">
                  Check information needed from Terry Midhurst
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>
            
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../consent/all-in-one.html" aria-describedby="read-declaration-status">
                  Confirm consent to share information
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

          </ul>

        </li>

      </ol>

      <hr class="govuk-section-break govuk-section-break--l">

      <ol class="govuk-prototype-kit-task-list">

        <h2 class="govuk-prototype-kit-task-list__section govuk-!-font-size-27">
          Complete application
        </h2>
  
        <p class="govuk-body">Review each of the following sections, checking the information is accurate and relevant.<br>You can do this at any time.</p>

        <li>

          <h3 class="govuk-prototype-kit-task-list__section">
            About Terry Midhurst
          </h3>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0 govuk-!-margin-bottom-0">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../add-applicant-information/male/aai-extra-question-1.html" aria-describedby="read-declaration-status">
                  Add personal information
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../equality-diversity/equality-diversity-opt-in.html" aria-describedby="read-declaration-status">
                  Add equality and diversity monitoring information
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../area/exclusions.html" aria-describedby="read-declaration-status">
                  Add address history
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../hdc-details/hdc-dates.html" aria-describedby="read-declaration-status">
                  Add HDC licence and COM details
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

          </ul>

        </li>

        <li>

          <h3 class="govuk-prototype-kit-task-list__section">Area and funding</h3>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0 govuk-!-margin-bottom-0">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../area/preferred-areas.html" aria-describedby="read-declaration-status">
                  Add exclusion zones and prefered areas
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../funding-ni-id/funding.html" aria-describedby="read-declaration-status">
                  Confirm funding and ID
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

          </ul>

        </li>

        <li>

          <h3 class="govuk-prototype-kit-task-list__section">
            Risks and needs for Terry Midhurst
          </h3>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../offending/offending-history/v2/first-time.html" aria-describedby="read-declaration-status">
                  Add offending history
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag">Completed</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../offending/current-offence/v1/co-add-manual.html" aria-describedby="read-declaration-status">
                  Add current offences
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag">Completed</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../risks-and-needs/rosh/v3/oasys-info" aria-describedby="read-declaration-status">
                  Add risk of serious harm (RoSH) information
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../risks-and-needs/risk-to-self/v4/oasys-info-2.html" aria-describedby="read-declaration-status">
                  Add risk to self information
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

            <!-- <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../risks-and-needs/prison-information/prison-case-notes" aria-describedby="read-declaration-status">
                  Select relevant prison information
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li> -->

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../risks-and-needs/health-needs/v4/health-guidance" aria-describedby="read-declaration-status">
                  Add health needs
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>

            <!-- <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Enter gang affiliations
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li> -->
            
          </ul>

        </li>

      </ol>

      <!-- <hr class="govuk-section-break govuk-section-break--s "> -->

      <ol class="govuk-prototype-kit-task-list">

        <li>

          <h2 class="govuk-prototype-kit-task-list__section govuk-!-font-size-27">
            Check answers and submit
          </h2>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../check-answers.html" aria-describedby="read-declaration-status">
                  Check answers and submit
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey">Not started</strong>
            </li>
        
          </ul>
        </li>
      </ol>

      <form action="" method="post" novalidate>

        <div class="govuk-button-group">

          <!-- {{ govukButton({
            text: "Submit application",
            disabled: false
          }) }} -->

          {{ govukButton({
            text: "Return to applications dashboard",
            href: "../multiple-applications/dashboard-1",
            classes: "govuk-button--secondary"
          }) }}

        </div>

        <!-- <div class="govuk-grid-row">

          <div class="govuk-grid-column-full">
        
            <div class="prototype-infobox">
        
              {{ govukInput({
                label: {
                  text: "What is your email address?",
                  classes: "govuk-label--m",
                  isPageHeading: true
                },
                hint: {
                  text: "We will only use your address to test this 'Review submitted applications' prototype with."
                },
                id: "email-address",
                name: "emailAddress",
                type: "email",
                autocomplete: "email",
                classes: "govuk-input--width-20 govuk-!-margin-0",
                spellcheck: false
              }) }}
        
            </div>
        
          </div>
        
        </div> -->
        

      </form>

    </div>

    <!-- Sidebar -->
    <!-- <div class="govuk-grid-column-one-third govuk-!-padding-left-8">

      <h3 class="govuk-heading-m">Recent activity</h3>
      <ul class="govuk-list">

        <li>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">17/01/2023 12:32pm</h4>
          <p class="govuk-body" style="color: #505a5f;">Sally Fish made updates to "Enter health needs"</p>
        </li>

        <li>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">15/01/2023 09:12am</h4>
          <p class="govuk-body" style="color: #505a5f;">Jack Chop made updates to "Add preferred CAS-2 area"</p>
        </li>

        <li>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">15/01/2023 15:22pm</h4>
          <p class="govuk-body" style="color: #505a5f;">Jack Chop made updates to "Obtain applicant consent"</p>
        </li>

      </ul>

    </div> -->

  </div>

{% endblock %}
