{% extends "layouts/main.html" %}

{% from "components/widgets/macro.njk" import widgets %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- Title -->
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        Apply for Short-Term Accommodation (CAS-2)
      </h1>

      <div class="govuk-!-margin-bottom-4">
        <p class="govuk-body govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Applicant:</span> Terry Midhurst</p>
        <p class="govuk-body govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Prison:</span> HM Prison Pentonville</p>
        <p class="govuk-body govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Referrer:</span> Alex Edwards</p>
        <!-- <a class="govuk-!-font-size-19" href="#">Change referrer</a> -->
      </div>
      
    </div>

    <!-- Main -->
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">You have completed 3 of 15 tasks.</h2>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-margin-top-7">

      <ol class="govuk-prototype-kit-task-list">

        <h2 class="govuk-prototype-kit-task-list__section govuk-!-font-size-27">
          Before you apply
        </h2>

        <!-- <p class="govuk-body">Complete these pre-application tasks first.</p> -->
        
        <li>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0 govuk-!-margin-bottom-0">

            <!-- Confirm applicant details -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../add-an-applicant/search-applicant--male.html" aria-describedby="prepare-application-1-status">Confirm applicant details</a>
              </div>
              <div class="govuk-task-list__status" id="prepare-application-1-status">
                Completed
              </div>
            </li>

            <!-- Confirm eligibility -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../eligibility-checker/eligibility-success.html" aria-describedby="prepare-application-1-status">Confirm eligibility</a>
              </div>
              <div class="govuk-task-list__status" id="prepare-application-1-status">
                Completed
              </div>
            </li>

            <!-- Confirm consent -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../consent/all-in-one.html" aria-describedby="prepare-application-1-status">Confirm consent to share information</a>
              </div>
              <div class="govuk-task-list__status" id="prepare-application-1-status">
                Completed
              </div>
            </li>

            <!-- Add your details -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../referrer-details/v2/confirm-details.html" aria-describedby="prepare-application-1-status">Add your details</a>
              </div>
              <div class="govuk-task-list__status" id="prepare-application-1-status">
                Completed
              </div>
            </li>

            <!-- Check info needed offline -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../checklist/web.html" aria-describedby="prepare-application-1-status">Check information needed from Terry Midhurst</a>
              </div>
              <div class="govuk-task-list__status" id="prepare-application-1-status">
                Completed
              </div>
            </li>

          </ul>

        </li>

      </ol>

      <!-- <hr class="govuk-section-break govuk-section-break--l"> -->

      <ol class="govuk-prototype-kit-task-list">

        <!-- <h2 class="govuk-prototype-kit-task-list__section govuk-!-font-size-27">
          Complete application
        </h2>
  
        <p class="govuk-body">You can complete these tasks in any order.</p> -->

        <li>

          <h3 class="govuk-prototype-kit-task-list__section">
            About the applicant
          </h3>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0 govuk-!-margin-bottom-0">

            <!-- Add personal information -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../add-applicant-information/male/aai-extra-question-1.html" aria-describedby="application-details-3-status">Add personal information</a>
              </div>
              <div class="govuk-task-list__status" id="application-details-3-status">
                <strong class="govuk-tag govuk-tag--blue">
                  Not yet started
                </strong>
              </div>
            </li>

            <!-- Add address history -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../address-history/address-history-manual-v2-1.html" aria-describedby="application-details-3-status">Add address history</a>
              </div>
              <div class="govuk-task-list__status" id="application-details-3-status">
                <strong class="govuk-tag govuk-tag--blue">
                  Not yet started
                </strong>
              </div>
            </li>

            <!-- Add equality and diversity monitoring information -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../equality-diversity/equality-diversity-opt-in.html" aria-describedby="application-details-3-status">Add equality and diversity monitoring information</a>
              </div>
              <div class="govuk-task-list__status" id="application-details-3-status">
                <strong class="govuk-tag govuk-tag--blue">
                  Not yet started
                </strong>
              </div>
            </li>

          </ul>

        </li>

        <li>

          <h3 class="govuk-prototype-kit-task-list__section">Area, funding and ID</h3>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0 govuk-!-margin-bottom-0">

            <!-- Add exclusion zones and preferred areas -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../area/v2/area-first-preference.html" aria-describedby="application-details-3-status">Add exclusion zones and preferred areas</a>
              </div>
              <div class="govuk-task-list__status" id="application-details-3-status">
                <strong class="govuk-tag govuk-tag--blue">
                  Not yet started
                </strong>
              </div>
            </li>

            <!-- Confirm funding and ID -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../funding-ni-id/funding.html" aria-describedby="application-details-3-status">Confirm funding and ID</a>
              </div>
              <div class="govuk-task-list__status" id="application-details-3-status">
                <strong class="govuk-tag govuk-tag--blue">
                  Not yet started
                </strong>
              </div>
            </li>

          </ul>

        </li>

        <li>

          <h3 class="govuk-prototype-kit-task-list__section">
            Risks and needs
          </h3>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0 govuk-!-margin-bottom-0">

            <!-- Add health needs -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../risks-and-needs/health-needs/v4/health-guidance" aria-describedby="application-details-3-status">Add health needs</a>
              </div>
              <div class="govuk-task-list__status" id="application-details-3-status">
                <strong class="govuk-tag govuk-tag--blue">
                  Not yet started
                </strong>
              </div>
            </li>

            <!-- Add risk to self information -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../risks-and-needs/risk-to-self/v4/oasys-info-2.html" aria-describedby="application-details-3-status">Add risk to self information</a>
              </div>
              <div class="govuk-task-list__status" id="application-details-3-status">
                <strong class="govuk-tag govuk-tag--blue">
                  Not yet started
                </strong>
              </div>
            </li>

            <!-- Add risk of serious harm (RoSH) information -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../risks-and-needs/rosh/v3/oasys-info" aria-describedby="application-details-3-status">Add risk of serious harm (RoSH) information</a>
              </div>
              <div class="govuk-task-list__status" id="application-details-3-status">
                <strong class="govuk-tag govuk-tag--blue">
                  Not yet started
                </strong>
              </div>
            </li>
            
          </ul>

        </li>

        <li>
          <h3 class="govuk-prototype-kit-task-list__section">
            Offence and licence information
          </h3>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0">

            <!-- Add current offences -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../offending/current-offence/v1/co-add-manual.html" aria-describedby="application-details-3-status">Add current offences</a>
              </div>
              <div class="govuk-task-list__status" id="application-details-3-status">
                <strong class="govuk-tag govuk-tag--blue">
                  Not yet started
                </strong>
              </div>
            </li>

            <!-- Add offending history -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../offending/offending-history/v2/first-time.html" aria-describedby="application-details-3-status">Add offending history</a>
              </div>
              <div class="govuk-task-list__status" id="application-details-3-status">
                <strong class="govuk-tag govuk-tag--blue">
                  Not yet started
                </strong>
              </div>
            </li>

            <!-- Add HDC licence and CPP details -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../hdc-details/hdc-dates.html" aria-describedby="application-details-3-status">Add HDC licence and CPP details</a>
              </div>
              <div class="govuk-task-list__status" id="application-details-3-status">
                <strong class="govuk-tag govuk-tag--blue">
                  Not yet started
                </strong>
              </div>
            </li>

          </ul>

        </li>

      </ol>

      <ol class="govuk-prototype-kit-task-list">
        <li>
          <h2 class="govuk-prototype-kit-task-list__section govuk-!-font-size-27">
            Check answers and submit
          </h2>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0">

            <!-- Check your answers -->
            <li class="govuk-task-list__item">
              <div class="govuk-task-list__name-and-hint">
                <div>Check application answers</div>
                <div id="application-details-3-hint" class="govuk-task-list__hint">
                  All questions must be answered first
                </div>
              </div>
              <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
                Cannot start yet
              </div>
            </li>
        
          </ul>
        </li>
      </ol>

      <form action="" method="post" novalidate>

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Submit application",
            href: "submission-confirmed"
          }) }}

          {{ govukButton({
            text: "Return to applications dashboard",
            href: "../multiple-applications/dashboard-1",
            classes: "govuk-button--secondary"
          }) }}

        </div>

      </form>

    </div>

  </div>

{% endblock %}
