{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <form action="" method="post" validate>

      {{ govukInput({
        label: {
          text: "What is the referrer's telephone number?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "This will be used for any communication from the accommodation supplier"
        },
        type: "tel",
        classes: "govuk-input--width-20",
        id: "referrer-contact-number",
        name: "referrerContactNumber"
      }) }}

      <div class="govuk-button-group govuk-!-margin-top-7">

        {{ govukButton({
          text: "Save and continue",
          href: "declaration"
        }) }}

        <a href="../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

      </div>

    </form>

  </div>
</div>

{% endblock %}