{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">What alternative identification documentation (ID) does Terry Midhurst have?</h1>
      <!-- <p class="govuk-body-m">Check to see if the applicant has any of the following alternative types of ID.</p> -->
      <hr class="govuk-section-break govuk-section-break--m">

      <form class="form" action="" method="post">

        {% set otherID %}

          {{ govukInput({
            label: {
              text: "What other ID does Terry Midhurst have?",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            id: "other-ID",
            name: "other-ID"
          }) }}

        {% endset -%}

        <!-- Employment and work -->
        {{ govukCheckboxes({
          name: "id-docs-employment",
          fieldset: {
            legend: {
              text: "Work and employment",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Employer letter/contract of employment",
              text: "Employer letter/contract of employment"
            },
            {
              value: "Trade union membership card",
              text: "Trade union membership card"
            },
            {
              value: "Invoices (self-employed)",
              text: "Invoices (self-employed)"
            },
            {
              value: "HMRC correspondence",
              text: "HMRC correspondence"
            }
          ]
        }) }}

        <!-- Citizenship and nationality -->
        {{ govukCheckboxes({
          name: "id-docs-nationality",
          fieldset: {
            legend: {
              text: "Citizenship and nationality",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "CitizenCard",
              text: "CitizenCard"
            },
            {
              value: "Foreign birth certificate",
              text: "Foreign birth certificate"
            },
            {
              value: "British citizen registration/naturalisation certificate",
              text: "British citizen registration/naturalisation certificate"
            },
            {
              value: "Permanent residence card",
              text: "Permanent residence card"
            },
            {
              value: "Residence permit",
              text: "Residence permit"
            },
            {
              value: "Biometric Residence Permit",
              text: "Biometric Residence Permit"
            },
            {
              value: "Local authority rent card",
              text: "Local authority rent card"
            }
          ]
        }) }}

        <!-- Marriage and civil partnership -->
        {{ govukCheckboxes({
          name: "id-docs-relationship",
          fieldset: {
            legend: {
              text: "Marriage and civil partnership",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Original marriage/civil partnership certificate",
              text: "Original marriage/civil partnership certificate"
            },
            {
              value: "Divorce or annulment papers",
              text: "Divorce or annulment papers"
            },
            {
              value: "Dissolution of marriage/civil partnership papers",
              text: "Dissolution of marriage/civil partnership papers"
            }
          ]
        }) }}

        <!-- Financial -->
        {{ govukCheckboxes({
          name: "id-docs-financial",
          fieldset: {
            legend: {
              text: "Financial",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Building society passbook",
              text: "Building society passbook"
            },
            {
              value: "Council tax documents",
              text: "Council tax documents"
            },
            {
              value: "Life assurance or insurance policies",
              text: "Life assurance or insurance policies"
            },
            {
              value: "Personal cheque book",
              text: "Personal cheque book"
            },
            {
              value: "Mortgage repayment policies",
              text: "Mortgage repayment policies"
            },
            {
              value: "Saving account book",
              text: "Saving account book"
            }
          ]
        }) }}

        <!-- Young people -->
        {{ govukCheckboxes({
          name: "id-docs-young",
          fieldset: {
            legend: {
              text: "Young people and students",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
          {
            value: "Student ID card",
            text: "Student ID card"
          },
          {
            value: "Educational institution letter (student)",
            text: "Educational institution letter (student)"
          },
          {
            value: "Young Scot card",
            text: "Young Scot card"
          }
          ]
        }) }}

        <!-- Other -->
        {{ govukCheckboxes({
          name: "id-other",
          fieldset: {
            legend: {
              text: "Other",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Deed poll certificate",
              text: "Deed poll certificate"
            },
            {
              value: "Vehicle registration/motor insurance documents",
              text: "Vehicle registration/motor insurance documents"
            },
            {
              value: "NHS medical card",
              text: "NHS medical card"
            },
            {
              divider: "or"
            },
            {
              value: "Other type of identification",
              text: "Other type of identification",
              conditional: {
                html: otherID
              }
            }
          ]
        }) }}

        <!-- Component to show details of why ID docs are needed and how they will be used -->
        {% from "govuk/components/details/macro.njk" import govukDetails %}

        {{ govukDetails({
          summaryText: "Why we need ID",
          html: "<p class='govuk-body'>The applicant needs ID if they are applying for Universal Credit for financial support, and Housing Benefit to
          cover their rent.</p>
          <p class='govuk-body'>If they want to receive an advance payment of Universal Credit on the day of
          release, they will need a bank account and photo ID.</p>"
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "national-insurance"
          }) }}
  
          <a href="../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>
  
        </div>

      </form>

    </div>
  </div>

{% endblock %}
