{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-m">Risks and needs for Terry Midhurst</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Health needs</h1>

      {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [
        {
          text: 'Communication needs',
          href: 'health-needs-communication.html'
        }, 
        {
          text: 'Learning disabilities and difficulties',
          href: 'health-needs-learning.html'
        }, 
        {
          text: 'Physical health',
          href: 'health-needs-physical.html'
        }, 
        {
          text: 'Mental health',
          href: 'health-needs-mental.html'
        },
        {
          text: 'Substance misuse',
          href: 'health-needs-substance.html'
        },
        {
          text: 'Brain injury',
          href: 'health-needs-brain-injury.html'
        },
        {
          text: 'Mobility',
          href: 'health-needs-mobility.html'
        },
        {
          text: 'Neurodiversity',
          href: 'health-needs-neurodiversity.html',
          active: true
        }  
        ]
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <form class="form" action="health-needs-independent-living" method="post"></form>

        <!-- Set stuff to show when the answer Yes is selected -->
        {% set yesHtml %}

          <p class="govuk-body-m">Please answer all the following questions. If the relevant information is not known, please state this.</p> 

          {{ govukTextarea({
            name: "health-neurodiversity-severity",
            id: "health-neurodiversity-severity",
            label: {
              text: "Describe their condition and the level of severity.",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-neurodiversity-vulnerable",
            id: "health-neurodiversity-vulnerable",
            label: {
              text: "Are they vulnerable as a result of this condition?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-neurodiversity-interaction",
            id: "health-neurodiversity-interaction",
            label: {
              text: "Do they have difficulties interacting with other people as a result of this condition? If yes, please provide details.",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-neurodiversity-support",
            id: "health-neurodiversity-support",
            label: {
              text: "What support is required?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          <div class="govuk-inset-text">
            This information may need to be gathered from the healthcare team. <br>Use this <a href="#">email template</a> to send these questions to the healthcare team.
          </div>

        {% endset -%}

        <!-- Answer options for question -->
        {{ govukRadios({
          name: "health-neurodiversity",
          fieldset: {
            legend: {
              text: "Does Terry Midhurst have a medical diagnosis of a neurodiverse condition such as Autism or ADHD?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: " This also includes ADD, Dyslexia, Dyscalculia and Dyspraxia."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue",
            href: "health-needs-communication"
          }) }}
  
          {{ govukButton({
            text: "Save draft of section",
            href: "../../../tasklists/tasklist",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
