<!---------------------- Before you apply ---------------------->
<!-- Section title -->
<h2 class="govuk-heading-m">Before you apply</h2>

<!-- Task Applicant details -->
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Applicant details</h2>
    </div>

    <div class="govuk-summary-card__content">
    <!-- Full name -->
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Full name
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Tanya Midhurst
        </dd>
        </div>
    </dl>

    <!-- DoB -->
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Date of birth
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            03/10/1984
        </dd>
        </div>
    </dl> 

    <!-- Nationality -->
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Nationality
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            British
        </dd>
        </div>
    </dl> 

    <!-- Immigration -->
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Immigration status
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            British
        </dd>
        </div>
    </dl> 

    <!-- Sex -->
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Sex
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Female
        </dd>
        </div>
    </dl> 

    <!-- Prison number -->
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Prison number
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            ADSF4532
        </dd>
        </div>
    </dl> 

    <!-- PNC number -->
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            PNC number
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            349785/34646
        </dd>
        </div>
    </dl> 

    <!-- NDelius CRN number -->
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            NDelius CRN number
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            TM57D2
        </dd>
        </div>
    </dl> 
    
    </div>
</div>

<!-- Task Eligibility for CAS-2-->
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Eligibility for CAS-2</h2>
    </div>

    <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Is Tanya Midhurst eligible for Short-Term Accommodation (CAS-2)?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes, I confirm Tanya Midhurst is eligible
        </dd>
        
        </div>
    </dl> 
    </div>
</div>

<!-- Task Information needed -->
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Information needed from Tanya Midhurst</h2>
    </div>

    <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Have you got all the information you need from the applicant?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>
    </dl> 
    </div>
</div>

<!-- Task Consent to share information -->
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Consent to share information</h2>
    </div>

    <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Has Tanya Midhurst given their consent to apply for CAS-2?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes<br>
            21-11-2023
        </dd>
        </div>
        
    </dl> 
    </div>
</div>