{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <!-- <span class="govuk-caption-m">CAS-2 application for Terry Midhurst</span> -->
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Confirm Terry Midhurst's consent to apply for Short-Term Accommodation (CAS-2)</h1>

        <!-- <p class="govuk-body-l">Please read the following script out loud to Terry Midhurst in full:</p> -->

        <p class="govuk-body">You need verbal consent from Terry Midhurst to send an application for Short-Term Accommodation (CAS-2) on their behalf.</p>

        <p class="govuk-body">
          Check that Terry Midhurst understands:
        </p>
  
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>that CAS-2 provides short-term housing and weekly support</li>
          <li>they are responsible for paying for CAS-2 accommodation and support</li>
          <li>what will be in the application form, including legal and confidential information about address history, offences, risks to themselves and others and health needs</li>
          <li>their health needs will be collected from relevant sources, such as the prison drug and alcohol provider, mental health in-reach team and healthcare team</li>
          <li>their information will be used to assess their suitability and ensure their safety</li>
          <li>they must leave the CAS-2 accommodation at the end of their HDC licence period, and find accommodation to move on to with their support worker's help</li>
        </ul>

        <!-- <p class="govuk-body">You can’t apply for CAS-2 on their behalf without it.</p> -->

        <!-- <p class="govuk-body">You may also be asked for written consent from health services who can provide information needed to complete this application.</p> -->

        <!-- <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View what to ask Terry Midhurst 
            </span>
          </summary> -->
          
          <!-- <div class="govuk-details__text">
            <div class="consent-script ">

              <h2 class="govuk-heading-m">Accommodation consent</h2>
              <h3 class="govuk-heading-s">Do you give HMPPS permission to apply for temporary accommodation on your behalf?</h3>

              <p>Nacro is a housing charity that provides accommodation for people leaving the criminal justice system.</p>

              <p>They’ll use your data to match you with suitable accommodation, and also to support their planning.</p>

              <p>You must give consent in order to apply.</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>Yes - share my information with the accommodation provider</li>
                <li>No - don’t apply for accommodation</li>
              </ul>

              <h2 class="govuk-heading-m">Healthcare consent</h2>

              <p class="govuk-body">In order to apply for temporary accommodation, HMPPS also needs permission to access and share your healthcare information with Nacro.</p>

              <p class="govuk-body">This will help them to make sure any potential housing meets your needs.</p>

              <p class="govuk-body">You must give consent in order to apply.

              <h3 class="govuk-heading-s">Do you give permission for health services to share health information about you for your application?</h3>

              <ul class="govuk-list govuk-list--bullet">
                <li>Yes - share information about my communication needs such as language, hearing or visual impairments</li>
                <li>Yes - share information about any cognitive impairments such as learning difficulties that might affect my ability to live independently</li>
                <li>Yes - share information about any physical needs or mobility issues</li>
                <li>Yes - share information about any substance misuse needs</li>
                <li>Yes - share information about mental health</li>
              </ul> -->
            <!-- </div>
          </div>
        </details> -->

        <!-- {{ govukButton({
            text: "Download consent form",
            classes: "govuk-button--secondary",
            href: "/public/images/consent-form-for-applicant.pdf"
        }) }} -->

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-3">

        <!-- Set stuff to show when the answer Yes is selected -->
        {% set yesHtml %}

            {{ govukDateInput({
            id: "consent-date",
            value: data['consent-date'],
            namePrefix: "consent-date",
            fieldset: {
                legend: {
                    text: "When did they give consent?",
                    classes: "govuk-label--s"
                }
            },
            hint: {
                text: "For example, 27 3 2007"
            }
            }) }}

        {% endset -%}

        <!-- Set stuff to show when the answer No is selected -->
        {% set noHtml %}

            {{ govukTextarea({
            name: "consent-refused",
            id: "consent-refused",
            value: data['consent-refused'],
            label: {
                text: "Why was consent refused?",
                classes: "govuk-label--s",
                isPageHeading: false
            }
            }) }}

        {% endset -%}

        <!-- Answer options for question -->
       
        {{ govukRadios({
          name: "consent-answer",
          value: data['consent-answer'],
          fieldset: {
            legend: {
              text: "Has Terry Midhurst given their consent to apply for CAS-2?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, Terry Midhurst has given their consent",
              conditional: {
                html: yesHtml
              }
            },
            {
            value: "no",
            text: "No, Terry Midhurst has not given their consent",
            conditional: {
                html: noHtml
            }
            }
          ]
        }) }}

        <!-- Confirmation checkbox -->
        <!-- {{ govukCheckboxes({
          name: "consent",
          fieldset: {
            legend: {
              text: "Confirm that Terry Midhurst provided consent",
              classes: "govuk-label--m"
            }
          },
          items: [
            {
              value: "consent-confirmation",
              id: "consent-confirmation",
              text: "I confirm Terry Midhurst understood the information on this page and gave verbal consent."
            }
          ]
        }) }} -->

          <div class="govuk-button-group">

            {{ govukButton({
              text: "Save and continue"
            }) }}
  
            <a href="../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>
  
          </div>

      </form>

    </div>
  </div>

{% endblock %}
