{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <div class="govuk-panel govuk-!-margin-bottom-9 govuk-panel--fail" style="background-color: #d4351c; color: #ffffff;">
          <h1 class="govuk-panel__title">
            Terry Midhurst has not given their consent
          </h1>
        </div>

        <!-- <p class="govuk-body-l"><strong>Terry Midhurst</strong> has not consented to their data being shared with Nacro.</p> -->
        <p class="govuk-body-l">This means their application for CAS-2 housing cannot proceed.</p>

        <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible "> -->

        <h2 class="govuk-heading-m">What happens next?</h2>
        <p class="govuk-body-m">You can return to the applicant and explain that their consent is required if they want to apply for CAS-2.</p>
        <p class="govuk-body-m"><strong>If they change their mind</strong>, select ‘Change consent answer to update and proceed.</p>
        <p class="govuk-body-m">Nacro is governed by the General Data Protection Regulation and also its own <a href="https://www.nacro.org.uk/about-us/policies-and-procedures/privacy-policy/">privacy policy</a>.</p>
        <p class="govuk-body-m">The applicant’s original reason for refusing consent is stated as follows:</p>
          
        {{ govukTextarea({
          name: "refusal-reason",
          id: "refusal-reason",
          classes: "padded-box govuk-!-margin-bottom-5",
          value: data['consent-refused'],
          disabled: true,
          label: {
            text: "Reason for refusal",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        <div class="govuk-button-group">
          
          {{ govukButton({
            text: "Search for a different applicant"
          }) }}

          {{ govukButton({
            text: "Change consent answer",
            href: "all-in-one.html",
            classes: "govuk-button--secondary"
          }) }}

        </div>

      </form>

    </div>
  </div>

{% endblock %}
