{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9" style="">
          <h1 class="govuk-panel__title">
            Terry Midhurst has provided consent
          </h1>
        </div>

        <p class="govuk-body-l"><strong>Terry Midhurst</strong> provided consent to their data being shared with Nacro on 
        <strong>{{ data | isoDateFromDateInput("consent-date") | govukDate }}</strong>.</p>

        <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible "> -->

        <h2 class="govuk-heading-m">What happens next?</h2>
        <p class="govuk-body-m">Continue on to work through the tasklist, making sure to add up to date, relevant information where appropriate.</p>
        <!-- <p class="govuk-body-m">When you are ready, submit the application to Nacro.</p> -->
          
        <!-- {{ govukTextarea({
          name: "refusal-reason",
          id: "refusal-reason",
          classes: "padded-box govuk-!-margin-bottom-5",
          value: data['consent-refused'],
          disabled: true,
          label: {
            text: "Reason for refusal",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }} -->

        <div class="govuk-button-group govuk-!-margin-top-5">
          
          {{ govukButton({
            text: "Save and complete",
            href: "../tasklists/tasklist"
          }) }}

          {{ govukButton({
            text: "Change consent answer",
            href: "all-in-one.html",
            classes: "govuk-button--secondary"
          }) }}

        </div>

      </form>

    </div>
  </div>

{% endblock %}
