{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <span class="govuk-caption-m">CAS-2 application for Terry Midhurst</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Capture verbal consent</h1>

        <!-- <p class="govuk-body-l">Please read the following script out loud to Terry Midhurst in full:</p> -->

        <p class="govuk-body">Before you can interview <strong>Terry Midhurst</strong> about their CAS-2 housing needs, you need to get their verbal consent.</p>

        <p class="govuk-body">You can’t apply for CAS-2 on their behalf without it.</p>

        <p class="govuk-body govuk-!-font-weight-bold">Please explain this to the applicant, then read out the following script:</p>

        <div class="consent-script govuk-!-margin-bottom-5">
            <p class="govuk-body-m">In order to apply for CAS-2 accommodation, you need to give consent that your data can be used.</p>

            <p class="govuk-body-m">HMPPS and Nacro, the housing charity, will be the controllers of the data we’ll ask you for. Nacro provides short-term housing and support for tenants entering CAS-2 accommodation.</p>
              
            <p class="govuk-body-m">The data will be shared by HMPPS with Nacro, who will then use it for two different purposes:</p>
              
            <ol class="govuk-list govuk-list--number govuk-!-margin-left-6">
              <li>They will use your data to match you with appropriate CAS-2 accommodation.</li>
            </ol>
              
            <p class="govuk-body-m">That means they’ll use various kinds of information, including your health and risk data, to find you housing that meets your needs and requirements.</p>
              
            <ol class="govuk-list govuk-list--number govuk-!-margin-left-6" start="2">
              <li>They will use your data to forecast and model demand for their accommodation.</li>
            </ol>

            <p class="govuk-body-m govuk-!-margin-bottom-0">That means your data will help Nacro to predict how long people will live in their various placements. This will help them to manage their supply and make sure people get housing when they need it.</p>
              
        </div>

        <p class="govuk-body">You can also download this script, so you can print it off and take it with you to discuss with the applicant.</p>

        {{ govukButton({
            text: "Download script",
            classes: "govuk-button--secondary",
            href: "#"
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-3">

        <!-- Set stuff to show when the answer Yes is selected -->
        {% set yesHtml %}

            {{ govukDateInput({
            id: "consent-date",
            namePrefix: "consent-date",
            fieldset: {
                legend: {
                    text: "What date did they provide consent?",
                    classes: "govuk-label--s"
                }
            },
            hint: {
                text: "For example, 27 3 2007"
            }
            }) }}

        {% endset -%}

        <!-- Set stuff to show when the answer No is selected -->
        {% set noHtml %}

            {{ govukTextarea({
            name: "consent-refused",
            id: "consent-refused",
            label: {
                text: "Why was consent refused?",
                classes: "govuk-label--s",
                isPageHeading: false
            }
            }) }}

        {% endset -%}

        <!-- Answer options for question -->
        {{ govukRadios({
          name: "health-communication",
          fieldset: {
            legend: {
              text: "Does Terry Midhurst consent to sharing their data with Nacro, for the purposes expressed in the script?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
            value: "no",
            text: "No",
            conditional: {
                html: noHtml
            }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          href: "/prototypes/tasklist"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
