{% extends "layouts/main.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}
<form action="" method="post" novalidate>

  <div class="prototype-infobox">
  
    {{ govukInput({
      label: {
        text: "What is your email address?",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "We will only use your address to test this 'Review submitted applications' prototype with."
      },
      id: "email-address",
      name: "emailAddress",
      type: "email",
      autocomplete: "email",
      classes: "govuk-input--width-20 govuk-!-margin-0",
      spellcheck: false
    }) }}

  </div>

  <div class="govuk-grid-row">

    <!---------------------- Title and actions ---------------------->
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        Check your answers before sending your application
      </h1>

      <p class="govuk-body-l">Read through this page and check that the information provided for each answer is accurate.</p>

      <p class="govuk-body-l">Alternatively, you can download a PDF version of this page.</p>

      <div class="govuk-button-group govuk-!-margin-bottom-0">
        {{ govukButton({
          text: "Download as a PDF",
          href: "#"
        }) }}
      </div>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!---------------------- Application summary ---------------------->
      <h2 class="govuk-heading-l">
        Application summary
      </h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><strong>Applicant name:</strong> Terry Midhurst</li>
        <li><strong>Referrer name:</strong> Alex Edwards</li>
        <li><strong>Referring institution:</strong> HM Prison Pentonville</li> 
        <li><strong>Contact email address:</strong> <a class="govuk-link" href="mailto:aedwards3@hmppentonville.gov.uk">aedwards3@hmppentonville.gov.uk</a></li>
        <li><strong>Contact number: </strong><a class="govuk-link" href="tel:01234567891">01234567891</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!-- Fake answer set -->
      {% include "components/answers/fake-answers-dynamic.html" %}

      <hr class="govuk-section-break govuk-section-break--l">

      {{ govukCheckboxes({
        fieldset: {
          legend: {
            text: "Confirm your answers",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            id: "check-answers-confirm",
            text: "I confirm to the best of my knowledge, the information provided in this referral is accurate and, where required, it has been verified by all relevant prison departments."
          }
        ]
      }) }}

      <div class="govuk-button-group govuk-!-margin-top-7">

        {{ govukButton({
          text: "Save and continue"
        }) }}

        <a href="../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

      </div>

</form>
{% endblock %}
