{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% from "govuk/components/panel/macro.njk" import govukPanel %}
      {{ govukPanel({
        titleText: "Application complete",
        html: "Terry Midhurst<br>HM Prison Pentonville"
      }) }}

      <!-- <p class="govuk-body">
        We have sent you a confirmation email.
      </p> -->

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p class="govuk-body">
        Terry Midhurst's application has been sent to the CAS-2 team for review.
      </p>

      <p class="govuk-body">
        The CAS-2 will make an assessment and decide whether to offer a placement.
       </p>

       <p class="govuk-body">
        You may need to provide more information is the CAS-2 team does not have everything they need to make an assessment.
       </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Start new application"
        }) }}

        {{ govukButton({
          text: "View application answers",
          href: "../submitted-application/submitted-application-mvp",
          classes: "govuk-button--secondary"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
