{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form class="form" action="../tasklist-dashboard/tasklist" method="post">

        <!-- Set stuff to show when the answer Yes is selected -->
        {% set yesHtml %}

          <p class="govuk-body-m">Please answer all questions, if there is no known information, please state this.</p> 

          {{ govukTextarea({
            name: "health-mental-health-needs",
            id: "health-mental-health-needs",
            label: {
              text: "What is the need/s?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-mental-health-affect",
            id: "health-mental-health-affect",
            label: {
              text: "How does it affect them in everyday life?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-mental-health-independent-living",
            id: "health-mental-health-independent-living",
            label: {
              text: "Can they live independently in shared housing?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-mental-health-community-service",
            id: "health-mental-health-community-service",
            label: {
              text: "Are they engaged with the community mental health service?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}
          
          {{ govukTextarea({
            name: "health-mental-health-medication",
            id: "health-mental-health-medication",
            label: {
              text: "Are they prescribed medication linked to reducing the risk to themselves or others?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-mental-health-medication-posession",
            id: "health-mental-health-medication-posession",
            label: {
              text: "Are they in posession of their medication?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "health-mental-health-medication-issues",
            id: "health-mental-health-medication-issues",
            label: {
              text: "Any issues taking their medication?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          <div class="govuk-inset-text">
            This information may need to be gathered from the healthcare team. <br>Use this <a href="#">email template</a> to send these questions to the healthcare team.
          </div>

        {% endset -%}

        <!-- Answer options for question -->
        {{ govukRadios({
          name: "health-mental-health",
          fieldset: {
            legend: {
              text: "Does Terry Midhurst have any mental health needs related to risk to themselves or others?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Save and complete section",
          href: "/prototypes/tasklist"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
