{% extends "layouts/main.html" %}

{% block pageTitle %}
  2nd preference - area section
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <span class="govuk-caption-l">Choice 2 of 2</span>
        <h1 class="govuk-heading-l">What is Terry Midhurst's 2nd preference of where to live?</h1>

        <p class="govuk-body">An applicant can request an area because they have a local connection or it is close to their approved probation office.</p>

        <p class="govuk-body">Accommodation staff will use this information to help match applicants to the most suitable available rooms.</p>

        <!--        

        {% from "govuk/components/details/macro.njk" import govukDetails %}

        {{ govukDetails({
          summaryText: "What local connection means",
          html: "<p class='govuk-body'>An applicant has a local connection if:</p><ul class='govuk-list govuk-list--bullet'><li>the applicant lived in the area in the 6 out of the 12 months before prison</li><li>the applicant lived in the area in the area in the 3 out of the last 5 years</li><li>the applicant's immediate family (parents, children or siblings) have lived in the area for at least 5 years</li><li>the applicant has secured full or part-time work in the area</li><li>the applicant has a special reason to live in the area. For example, to receive specialist healthcare</li></ul>"
        }) }}

        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

        {{ govukWarningText({
          text: "CAS-2 areas can be excluded by offences, orders or the applicant’s Community Offender Manager (COM).",
          iconFallbackText: "Warning"
        }) }}

        -->

        <form action="/prototypes/area/section-complete" method="post" novalidate>

                  <!-- towns and cities -->
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="address-town">
                      Search for a town or city
                    </label>
                    <select class="govuk-select govuk-input--width-20" name="town-city-one" id="choose-country">
                      {% include "components/area/select-options.html" %}
                    </select>
                  </div>

                  <!-- reason -->
                  <div class="govuk-form-group">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                          Reason
                        </h1>
                      </legend>
                      <div id="contact-hint" class="govuk-hint">
                        Select one option.
                      </div>
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="reason-one" name="reason-one" type="radio" value="Terry lived in the area for six out of the last 12 months before prison or three out of the last five years" data-aria-controls="conditional-reason-one">
                          <label class="govuk-label govuk-radios__label" for="reason-one">
                            Terry lived in the area in the 6 out of the 12 months before prison
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="reason-one-2" name="reason-one" type="radio" value="Immediate family (parents, children, siblings) has lived in the area for at least five years" data-aria-controls="conditional-reason-one-2">
                          <label class="govuk-label govuk-radios__label" for="reason-one-2">
                            Terry lived in the area in the area in the 3 out of the last 5 years
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="reason-one-3" name="reason-one" type="radio" value="Terry has secured full or part-time work in the area" data-aria-controls="conditional-reason-one-3">
                          <label class="govuk-label govuk-radios__label" for="reason-one-3">
                            Terry's parents, children or siblings have lived in the area for at least 5 years
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="reason-one-4" name="reason-one" type="radio" value="Terry has secured full or part-time work in the area" data-aria-controls="conditional-reason-one-4">
                          <label class="govuk-label govuk-radios__label" for="reason-one-4">
                            Terry has a special reason to live in the area. For example, to receive specialist healthcare
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="reason-one-5" name="reason-one" type="radio" value="Terry has secured full or part-time work in the area" data-aria-controls="conditional-reason-one-5">
                          <label class="govuk-label govuk-radios__label" for="reason-one-5">
                            The area is close to Terry's allocated probation office
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="reason-one-6" name="reason-one" type="radio" value="Terry has secured full or part-time work in the area" data-aria-controls="conditional-reason-one-6">
                          <label class="govuk-label govuk-radios__label" for="reason-one-6">
                            Terry has different reason to live there
                          </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason-one-6">
                          <div class="govuk-form-group">
                            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="100">
                              <label class="govuk-label" for="reason-one-by-text">
                                Can you provide more detail
                              </label>
                              <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="3" aria-describedby="with-hint-info with-hint-hint"></textarea>
                              <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                                You can enter up to 100 characters
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>



          <div class="govuk-button-group">

            {{ govukButton({
              text: "Save and continue"
            }) }}
    
            <a href="../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>
    
          </div>
        </form>


    </div>
  </div>

{% endblock %}
