{% extends "layouts/main.html" %}

{% from "components/widgets/macro.njk" import widgets %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "nacro-application-status",
          fieldset: {
            legend: {
              text: "What is the status of Terry Midhurst's application?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "In progress",
              text: "In progress"
            },
            {
              value: "Assessment complete",
              text: "Assessment complete"
            },
            {
              value: "Abandoned",
              text: "Abandoned"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          href: ""
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
