{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">

      <!-- <span class="govuk-caption-m">RoSH for Terry Midhurst</span> -->
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Terry Midhurst's ACCT notes</h1>
      <!-- <a href="risk-summary" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">View Terry Midhurst's RoSH summary</a> -->

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">

          <li class="moj-side-navigation__item ">
            <a href="vulnerability.html">
              <!-- <span class="moj-badge moj-badge--green side-nav--status">Complete</span> -->
              Vulnerability
            </a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="current.html">
              <!-- <span class="moj-badge moj-badge--green side-nav--status">Complete</span> -->
              Current risk
            </a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="historical.html">
              <!-- <span class="moj-badge moj-badge--red side-nav--status">Incomplete</span> -->
              Historical risk
            </a>
          </li>

          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="acct.html">
              <!-- <span class="moj-badge moj-badge--red side-nav--status">Incomplete</span> -->
              ACCT
            </a>
          </li>

          <li class="moj-side-navigation__item ">
            <a href="additional-info.html">
              <!-- <span class="moj-badge moj-badge--red side-nav--status">Incomplete</span> -->
              Additional information
            </a>
          </li>

        </ul>
      </nav>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <p class="govuk-body">An Assessment, Care in Custody and Teamwork (ACCT) is a tailored plan to support someone in prison at risk of self harm or suicide.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <!------------------------ User entered ------------------------>
        {% set startIsoDate %}{{ data | isoDateFromDateInput("acct-start-date") | govukDate }}{% endset %}
        {% set endIsoDate %}{{ data | isoDateFromDateInput("acct-end-date") | govukDate }}{% endset %}
        {% set refInstitution %}{{ data['acct-referring-institution'] }}{% endset %}
        {% set detailedInfo %}{{ data['acct-detail'] }}{% endset %}
        
        {% if endIsoDate == 'Invalid DateTime' %}
          {% set endIsoDate = 'Ongoing' %}
        {% endif %}

        {% if startIsoDate and refInstitution and detailedInfo %}
          <div class="govuk-summary-card prison-info">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                {% if startIsoDate and endIsoDate %}
                  {{ startIsoDate }} - {{ endIsoDate }}
                {% endif %}
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> ACCT note</span>
                  </a>
                </li>
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> ACCT note</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Referring institution:
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ refInstitution }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Details:
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ detailedInfo }}
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        {% else %}
          <p class="govuk-body govuk-!-font-weight-bold">No ACCT notes have been added.</p>
        {% endif %}

        <!------------------------ Leeds ------------------------>
        <!-- {{ govukSummaryList({
          classes: "prison-info",
          card: {
            title: {
              text: "HMPPS Leeds"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "prison case note"
                },
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "prison case note"
                }
              ]
            }
          },
          rows: [
            {
              key: {
                text: "Created:"
              },
              value: {
                html: "21/02/2022"
              }
            },
            {
              key: {
                text: "Details"
              },
              value: {
                html: "Whilst dealing with Mr Midhurst's neigbour Mr Roe who wasnt complying with officers instructions to un cover his obs panel, Midhurst was able to communicate with Mr Roe and Mr Roe listened to him and uncovered his obs panel and went to bed. This support to officers assisted and resolved the incident."
              }
            }
          ]
        }) }} -->

        {{ govukButton({
          text: "Add an ACCT note",
          classes: "govuk-button--secondary",
          href: "../acct/manual/acct-add--manual"
        }) }}

        <br>

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "rosh-additional-info.html"
          }) }}
  
          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>
  
        </div>

      </form>

    </div>
  </div>

{% endblock %}
