{% extends "layouts/main.html" %}

{% from "components/widgets/macro.njk" import widgets %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your feedback will help us to improve it.'
  }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- Left hand side -->
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Apply for a CAS-2 placement
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 2 of 8 sections.</p>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <ol class="govuk-prototype-kit-task-list">

        <li>

          <h2 class="govuk-prototype-kit-task-list__section">
            Information about Terry Midhurst
          </h2>

          <p class="govuk-body govuk-!-margin-bottom-5">To be completed by the <strong>referrer</strong>.</p>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Risk of harm
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">In progress</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="../health-questions/health-needs-communication" aria-describedby="read-declaration-status">
                  Health needs
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey" id="read-declaration-status">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <p class="govuk-!-margin-0">
                  Current convictions or alleged offences
                </p>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">In progress</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <p class="govuk-!-margin-0">
                  Offending history
                </p>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">In progress</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <p class="govuk-!-margin-0">
                  Community supervision and HDC license conditions
                </p>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--blue" id="eligibility-status">In progress</strong>
            </li>

          </ul>

        </li>

        <li>

          <h2 class="govuk-prototype-kit-task-list__section">
            Information from Terry Midhurst
          </h2>

          <p class="govuk-body govuk-!-margin-bottom-5">To be completed by the <strong>applicant</strong> with the referrer's help.</p>

          <ul class="govuk-prototype-kit-task-list__items govuk-!-padding-0 govuk-!-margin-bottom-6">

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Applicant consent
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey" id="read-declaration-status">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <p class="govuk-!-margin-0">
                  Funding your CAS-2 placement
                </p>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Complete</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <p class="govuk-!-margin-0">
                  Address before custody
                </p>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Complete</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  CAS-2 area
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey" id="read-declaration-status">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Identification documents
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey" id="read-declaration-status">Not started</strong>
            </li>

            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <p class="govuk-!-margin-0">
                  Nacro CAS-2 Equality and Diversity Monitoring Form
                </p>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag govuk-tag--grey" id="read-declaration-status">Cannot start yet</strong>
            </li>

          </ul>
          
          {{ govukButton({
            text: "Download the Applicant Information sheet"
          }) }}

        </li>

      </ol>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <form action="confirm-com" method="post" novalidate class="govuk-!-margin-top-9">

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>

  </div>

{% endblock %}
