{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <span class="govuk-caption-m">Risks and needs for Joe Bloggs</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Risk of Serious Harm (RoSH) Summary</h1>

        <div class="oasys-update govuk-!-margin-bottom-6">
          <p class="govuk-!-margin-bottom-1">Imported from OASys <strong> 09 January 2023 </strong>, last updated <strong> 09 January 2023</strong></p>
        </div>

        <p class="govuk-body-m">Any live risks must be documented. Think about what might be relevant for Nacro CAS-2 housing and edit as necessary.</p>

        <p class="govuk-body-m">Your edits won’t change the original OASys record ‒ but they could make a big difference to your applicant’s CAS-2 placement.</p>
          
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        {{ govukTextarea({
          name: "oasys-textarea",
          id: "oasys-textarea",
          classes: "oasys-textarea",
          disabled: true,
          rows: "10",
          value: "Violence against others. This includes threats, plotting of attacks and actual physical harm, both premeditated and unplanned.",
          label: {
            text: "What is the nature of the risk?",
            classes: "govuk-label--m",
            isPageHeading: false
          }
        }) }}

        <a href="#" id="edit-text" class="govuk-link govuk-link--no-visited-state govuk-body govuk-!-text-align-right link-edit-text">Edit text</a>
        <a href="#" id="revert-text" class="govuk-link govuk-body govuk-link--no-visited-state govuk-!-text-align-right link-edit-text govuk-!-display-none">Revert to original OASys</a>

        <!-- {{ govukInsetText({
          html: "<span class='govuk-body-l '>Important</span><p class='govuk-body-m'>Any live risks must be documented. Think about what might be relevant for Nacro CAS-2 housing and edit as necessary.</p><p class='govuk-body-m'>Your edits won’t change the original OASys record ‒ but they could make a big difference to your applicant’s CAS-2 placement.</p>"
        }) }} -->

        <!-- Answer options for question -->
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "oasys-edit",
          fieldset: {
          },
          items: [
            {
              value: "up-to-date",
              id: "up-to-date",
              text: "I confirm this information is relevant."
            }
          ]
        }) }}

        {{ govukButton({
          id: "button-save-and-continue",
          text: "Save and continue",
          class: "govuk-button--disabled",
          href: "greatest-risk",
          disabled: true
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
