{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="risk-implications" method="post">

        <span class="govuk-caption-m">Risks and needs for Terry Midhurst</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Risk of Serious Harm (RoSH) Summary</h1>

        <!-- Set stuff to show when the answer Yes is selected -->
        {% set yesHtml %}

          <p class="govuk-body-m">Please answer all questions, if there is no known information, please state this.</p> 

          {{ govukTextarea({
            name: "risk-management-type",
            id: "risk-management-type",
            label: {
              text: "What is the arrangement type?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "mappa-lead-contact",
            id: "mappa-lead-contact",
            label: {
              text: "Who is the lead contact?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "mappa-category-level",
            id: "mappa-category-level",
            label: {
              text: "What is the category level?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {% endset -%}

          <!-- Answer options for question -->
          {{ govukRadios({
            name: "risk-managements",
            fieldset: {
              legend: {
                text: "Are there any Risk Management Arrangements, including APPA, MARAC or Integrated Offender Management?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                conditional: {
                  html: yesHtml
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
        
        {{ govukButton({
          id: "button-save-and-continue",
          text: "Save and continue",
          class: "govuk-button--disabled",
          disabled: false
        }) }}

      </form>

    </div>
  </div>

{% endblock %} 
