{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <span class="govuk-caption-m">RoSH for Terry Midhurst</span>

        {% set yesHtml %}

          <p class="govuk-body-m">Answer all questions, if there is no known information, please state this.</p> 

          {{ govukTextarea({
            name: "risk-management-type",
            id: "risk-management-type",
            label: {
              text: "What is the arrangement type?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "mappa-lead-contact",
            id: "mappa-lead-contact",
            label: {
              text: "Who is the lead contact? (Optional)",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {{ govukTextarea({
            name: "mappa-category-level",
            id: "mappa-category-level",
            label: {
              text: "What is the category level?",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}

          {% endset -%}

          <!-- Answer options for question -->
          {{ govukRadios({
            name: "risk-managements",
            fieldset: {
              legend: {
                text: "Are there any Risk Management Arrangements?",
                classes: "govuk-label--l govuk-!-margin-top-2",
                isPageHeading: true
              }
            },
            hint: {
              text: "Including MAPPA, MARAC or Integrated Offender Management."
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                conditional: {
                  html: yesHtml
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            id: "button-save-and-continue",
            text: "Save and continue",
            class: "govuk-button--disabled",
            href: "risk-implications",
            disabled: false
          }) }}
  
          <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>
  
        </div>

      </form>

    </div>
  </div>

{% endblock %} 
