{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <span class="govuk-caption-m">Equality and diversity</span>

    <form action="" method="post" validate>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      <h1 class="govuk-heading-l">Sex and gender identity</h1>

      {% set genderHtml %}
        {{ govukInput({
          id: "gender-description",
          name: "gender-description",
          type: "text",
          classes: "govuk-!-width-one-half",
          label: {
            text: "What is their gender identity? (optional)"
          }
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "sex",
        fieldset: {
          legend: {
            text: "What is their sex?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "female",
            text: "Female"
          },
          {
            value: "male",
            text: "Male"
          },
          {
            value: "skip",
            text: "Prefer not to say"
          }
        ]
      }) }}

      {{ govukRadios({
        name: "gender-identity",
        fieldset: {
          legend: {
            text: "Is the gender they identify with the same as the sex registered at birth?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No",
            conditional: {
              html: genderHtml
            }
          },
          {
            value: "skip",
            text: "Prefer not to say"
          }
        ]
      }) }}

      <div class="govuk-button-group">

        {{ govukButton({
          text: "Save and continue",
          href: "equality-diversity-sexual-orientation"
        }) }}

        <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

      </div>

    </form>

  </div>
</div>

{% endblock %}