{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <span class="govuk-caption-m">Equality and diversity</span>

    <form action="" method="post" validate>

      <!-- <h1 class="govuk-heading-l">Sex and gender identity</h1> -->
    {% set sexualOrientationHtml %}
      {{ govukInput({
        id: "other-description",
        name: "other-description",
        type: "text",
        classes: "govuk-!-width-one-half",
        label: {
          text: "How would you describe your sexual orientation? (optional)"
        }
      }) }}
    {% endset -%}

    {{ govukRadios({
      name: "sexual-orientation",
      fieldset: {
        legend: {
          text: "Which of the following best describes your sexual orientation?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "heterosexual",
          text: "Heterosexual or straight"
        },
        {
          value: "gay",
          text: "Gay"
        },
        {
          value: "lesbian",
          text: "Lesbian"
        },
        {
          value: "bisexual",
          text: "Bisexual"
        },
        {
          value: "other",
          text: "Other",
          conditional: {
            html: sexualOrientationHtml
          }
        },
        {
          divider: "or"
        },
        {
          value: "skip",
          text: "Prefer not to say"
        }
      ]
    }) }}

      <div class="govuk-button-group">
        
        {{ govukButton({
          text: "Save and continue",
          href: "equality-diversity-ethnicity"
        }) }}
  
        <a href="../../../tasklists/tasklist" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>
  
      </div>

    </form>

  </div>
</div>

{% endblock %}