<!---------------------- Offence and licence information ---------------------->
<h2 class="govuk-heading-m">Offence and licence information</h2>

<!-- Task Current offences -->
<div class="govuk-summary-card" id="current-offence">
    <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Current offences</h2>
    </div>

    <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">            
        <!-- Current offence 1 -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Current offence 1
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Possession with intent to supply a controlled drug of Class A - Crack Cocaine (08000)<br>
            Drugs<br>
            22 September 2023<br>
            Sentenced for 6 months<br>
            <span class="govuk-!-margin-top-3 govuk-!-display-inline-block"><strong>Summary:</strong> In Stockon, Ms X and the co-accused were in a property that when searched by police, money and drugs were found. The police indicate that this related to drug dealing. Text messages were exhanged between different people in order to meet and sell the drugs. There were no named victims.</span>
            <span class="govuk-!-margin-top-3 govuk-!-display-inline-block"><strong>Outstanding charges:</strong> Theft of a motor vehicle</span>
        </dd>
        
        </div>

        <!-- Current offence 2 -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Current offence 1
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Possession with intent to supply a controlled drug of Class A - Heroin (08000)<br>
            Drugs<br>
            22 September 2023<br>
            Sentenced for 6 months<br>
            <span class="govuk-!-margin-top-3 govuk-!-display-inline-block"><strong>Summary:</strong> As above.</span>
        </dd>
        
        </div>

    </dl> 
    </div>

</div>

<!-- Task Offending history -->
<div class="govuk-summary-card" id="offence-history">
    <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Offending history</h2>
    </div>

    <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list"> 
        <!-- Does Tanya Midhurst have any previous convictions? -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Does Tanya Midhurst have any previous convictions?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>

        <!-- Historical offence 1 -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Historical offence 1
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Theft of motor vehicle (08000)<br>
            Theft<br>
            22 September 2023<br>
            Sentenced for 6 months<br>
            <span class="govuk-!-margin-top-3 govuk-!-display-inline-block"><strong>Summary:</strong> 4 x Drive a Motor Vehicle with the proporation of specific controlled drug above.</span>
        </dd>
        
        </div>

        <!-- Historical offence 2 -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Historical offence 2
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Possession a Controlled Drug-Class B- Cannabis (08000)<br>
            Drugs<br>
            31 March 2023<br>
            Sentenced for 6 months<br>
            <span class="govuk-!-margin-top-3 govuk-!-display-inline-block"><strong>Summary:</strong> No further details.</span>
        </dd>
        
        </div>

        <!-- Historical offence 3 -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Historical offence 3
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Possession a Controlled Drug-Class B- Cannabis (08000)<br>
            Drugs<br>
            22 January 2023<br>
            Sentenced for 6 months<br>
            <span class="govuk-!-margin-top-3 govuk-!-display-inline-block"><strong>Summary:</strong> No further details.</span>
        </dd>
        
        </div>

    </dl> 
    </div>

</div>

<!-- Task HDC licence and CPP details -->
<div class="govuk-summary-card" id="hdc">
    <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">HDC licence and CPP details</h2>
    </div>

    <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list"> 
        <!-- What is Tanya Midhurst's HDC eligibility date? -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            What is Tanya Midhurst's HDC eligibility date?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            27 March 2023
        </dd>
        
        </div>

        <!-- What is Tanya Midhurst's conditional release date? -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            What is Tanya Midhurst's conditional release date?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            27 December 2023
        </dd>
        
        </div>

        <!-- Who is Tanya Midhurst's Community Probation Practitioner (CPP)? -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Who is Tanya Midhurst's Community Probation Practitioner (CPP)?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Jane Kondo<br>
            HMPPS Leeds<br>
            j.kondo@hmpps.leeds.gov.uk<br>
            012345 678891
        </dd>
        
        </div>

        <!-- Does Tanya Midhurst have any non-standard licence conditions? -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Does Tanya Midhurst have any non-standard licence conditions?
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        
        </div>

        <!-- Describe the conditions -->
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <!-- Question -->
        <dt class="govuk-summary-list__key">
            Describe the conditions
        </dt>
        <!-- Answer -->
        <dd class="govuk-summary-list__value">
            Change to standard curfew hours to account for medical appointments. Hours generally are 9:00pm-7:00am.
        </dd>
        
        </div>

    </dl> 
    </div>

</div>