{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <span class="govuk-caption-m">Risks and needs for Joe Bloggs</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Risk to self</h1>

        <div class="oasys-update govuk-!-margin-bottom-6">
          <p class="govuk-!-margin-bottom-1">Imported from OASys <strong> 09 January 2023 </strong>, last updated <strong> 09 January 2023</strong></p>
          <!-- <p>OASys last updated <strong> 09 January 2023</strong></p> -->
        </div>

        <h2 class="govuk-heading-m"></h2>
        <div class="govuk-notification-banner govuk-!-margin-top-7" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <!-- <h3 class="govuk-!-margin-top-0">How it works</h3> -->
            <p class="">Joe Bloggs has previous concerns about <strong>suicide</strong>.</p>
          </div>
      </div>

        {{ govukTextarea({
          name: "oasys-textarea",
          id: "oasys-textarea",
          classes: "oasys-textarea",
          disabled: true,
          rows: "10",
          value: "Couldn't get socks",
          label: {
            text: "Describe any previous circumstances, issues and needs regarding concerns about suicide",
            classes: "govuk-label--m",
            isPageHeading: false
          }
        }) }}

        <a href="#" id="edit-text" class="govuk-link govuk-body govuk-!-text-align-right link-edit-text">Edit text</a>
        <a href="#" id="revert-text" class="govuk-link govuk-body govuk-!-text-align-right link-edit-text govuk-!-display-none">Revert to original OASys</a>

        <!-- {{ govukInsetText({
          text: "This will not be written back into OASys. If the information in OASys is out of date, we suggest you also up-date it as well as entering it here."
        }) }} -->

        <!-- Answer options for question -->
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "oasys-edit",
          fieldset: {
          },
          items: [
            {
              value: "up-to-date",
              id: "up-to-date",
              text: "I confirm this information is relevant."
            }
          ]
        }) }}

        {{ govukButton({
          id: "button-save-and-continue",
          text: "Save and continue",
          class: "govuk-button--disabled",
          href: "risk-self-implications",
          disabled: true
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
