{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <span class="govuk-caption-m">Risks and needs for Terry Midhurst</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Risk to self</h1>

        <div class="oasys-update govuk-!-margin-bottom-6">
          <p class="govuk-!-margin-bottom-1">Imported from OASys <strong> 09 January 2023 </strong>, last updated <strong> 09 January 2023</strong></p>
          <!-- <p>OASys last updated <strong> 09 January 2023</strong></p> -->
        </div>

        <h2 class="govuk-heading-m"></h2>
        <div class="govuk-notification-banner govuk-!-margin-top-7" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <!-- <h3 class="govuk-!-margin-top-0">How it works</h3> -->
            <p class="">Terry Midhurst has <strong>previous concerns</strong> about <strong>self harm</strong>.</p>
          </div>
      </div>

        <p class="govuk-body-m">They have been assessed as medium or high risk on OASys, or have other indicators of risk.</p>

        <p class="govuk-body-m">If this information is out of date or incorrect, please return to the original OASys record and update it there.</p>
          
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        {{ govukTextarea({
          name: "oasys-textarea",
          id: "oasys-textarea",
          classes: "oasys-textarea",
          disabled: true,
          rows: "10",
          value: "Mr Midhurst went through several periods of self harming as a young man, but claims not to have done so for the past 5 years. No current record of self harming.",
          label: {
            text: "Description of circumstances, relevant issues and needs: Self harm",
            classes: "govuk-label--m",
            isPageHeading: false
          }
        }) }}

        <a href="#" id="edit-text" class="govuk-link govuk-body govuk-!-text-align-right link-edit-text">Edit text</a>
        <a href="#" id="revert-text" class="govuk-link govuk-body govuk-!-text-align-right link-edit-text govuk-!-display-none">Revert to original OASys</a>

        {{ govukInsetText({
          text: "Your edits won’t change the original OASys record ‒ but they could make a big difference to your applicant’s CAS-2 placement."
        }) }}

        <!-- Answer options for question -->
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "oasys-edit",
          fieldset: {
          },
          items: [
            {
              value: "up-to-date",
              id: "up-to-date",
              text: "I confirm this information is relevant."
            }
          ]
        }) }}

        {{ govukButton({
          id: "button-save-and-continue",
          text: "Save and continue",
          class: "govuk-button--disabled",
          href: "historical-suicide",
          disabled: true
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
