{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Is OASys up to date?
      </h1>

      <p class="govuk-body-l">OASys record for <strong>Terry Midhurst</strong> last updated on <strong>4th January 2022</strong>.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>
        To support this application, sections of the OASys record will be imported.
      </p>

      <p>
        <strong>Please check the information on the following pages, and make sure nothing important is missing.</strong>
      </p>

      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        <div class="govuk-notification-banner govuk-!-margin-top-7" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              How it works
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="">You’ll be able to edit the OASys information. Think about how relevant each section is to your applicant’s CAS-2 placement ‒ then delete any text that’s no longer accurate and add any missing information you feel is relevant.</p>
            <p class="">Your edits won’t change the original OASys record ‒ <strong>but they could make a big difference to your applicant’s CAS-2 placement</strong>.</p>
          </div>
      </div>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      <form action="vulnerability" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
