{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="" method="post">

        <span class="govuk-caption-m">Risks and needs for Joe Bloggs</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Risk to self</h1>

        {{ govukTextarea({
          name: "risk-self-implications",
          id: "risk-self-implications",
          label: {
            text: "How will these risks impact the applicant's CAS-2 placement and the support they need?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Think about any issues these risks could cause, and how they might affect the safety of the applicant and others."
          }
        }) }}


        {{ govukButton({
          id: "button-save-and-continue",
          text: "Save and complete section",
          class: "govuk-button--disabled",
          href: "/prototypes/tasklist",
          disabled: false
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
