{% extends "layouts/main.html" %}

{% from "components/widgets/macro.njk" import widgets %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <!-- Applicant name -->
      <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        Terry Midhurst
      </h1> -->

      {% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}

      {{ mojPageHeaderActions({
        classes: 'govuk-!-margin-bottom-6',
        heading: {
          text: 'Terry Midhurst'
        },
        items: [{
          text: 'Update status',
          classes: 'govuk-button--secondary',
          href: "a/status-update"
        }, {
          text: 'Return to applications dashboard',
          classes: 'govuk-button--secondary',
          href: "#"
        }]
      }) }}

      <!-- Set the status tag from the first question asked -->
      {% set statusTag = data['nacro-application-status'] %}

      <!-- Set the status tag colour based on the status chosen -->
      {% if statusTag == "In progress" %}
        {% set statusTagColour = "--in-progress" %}
      {% elseif statusTag == "Assessment complete" %}
        {% set statusTagColour = "--assessment-complete" %}
      {% elseif statusTag == "Abandoned" %}
        {% set statusTagColour = "--abandoned" %}
      {% endif %}

      <!-- Set the status tag detail based on the status chosen -->
      {% set statusTagDetail = data['nacro-application-status-detail'] %}

      {% if statusTagDetail == "Withdrawn" %}
        {% set statusTagDetail = "The application was withdrawn by the referrer." %}
      {% elseif statusTagDetail == "No response" %}
        {% set statusTagDetail = "A request for further information was made, but no response was recieved." %}
      {% elseif statusTagDetail == "Place offered" %}
        {% set statusTagDetail = "The application has been reviewed and a placement has been offered." %}
      {% elseif statusTagDetail == "Declined" %}
        {% set statusTagDetail = "The application has been reviewed and an offer was not made." %}
      {% elseif statusTagDetail == "Waitlist" %}
        {% set statusTagDetail = "The application was successfull but there is no availability." %}
      {% elseif statusTagDetail == "Awaiting review" %}
        {% set statusTagDetail = "The application is being reviewed by an assessor from NACRO." %}
      {% elseif statusTagDetail == "Awaiting further information" %}
        {% set statusTagDetail = "The application requires further information from the referrer before it can be fully assessed." %}
      {% elseif statusTagDetail == "In assessment" %}
        {% set statusTagDetail = "The application is currently being assessed by NACRO." %}
      {% endif %}

      <!-- Status tag -->
      <strong class="govuk-tag govuk-tag{{ statusTagColour }} govuk-tag--big govuk-!-margin-bottom-3">
        {{ statusTag }}
      </strong>

      <!-- Status explainer -->
      <p class="govuk-body">{{ statusTagDetail }}</p>

      <!-- Actions -->
      <!-- <div class="govuk-button-group govuk-!-margin-top-5">

        {{ govukButton({
          text: "View submitted application",
          href: "submission-confirmed"
        }) }}

        {{ govukButton({
          text: "Return to applications dashboard",
          href: "../multiple-applications/dashboard-1",
          classes: "govuk-button--secondary"
        }) }}

      </div> -->

      {{ govukButton({
        text: "View submitted application",
        href: "submitted-application",
        classes: "govuk-!-margin-top-3"
      }) }}

      <!-- Spacer -->
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-2">
      
      <!-- History starts -->
      <h2 class="govuk-heading-l">
        Status history
      </h2>

      {%- from "moj/components/timeline/macro.njk" import mojTimeline -%}

      {{ mojTimeline({
        items: [
          {
            label: {
              text: "Application opened"
            },
            datetime: {
              timestamp: "2023-10-14T14:01:00.000Z",
              type: "datetime"
            },
            byline: {
              text: "Alex Edwards"
            }
          },
          {
            label: {
              text: "Application submitted"
            },
            datetime: {
              timestamp: "2023-10-12T14:01:00.000Z",
              type: "datetime"
            },
            byline: {
              text: "Chanel Diep"
            }
          }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
