{% extends "layouts/main.html" %}

{% block pageTitle %}
  CAS2 Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        CAS-2 Referral Hub Prototypes
      </h1>

      <p class="govuk-body-l">An initial page linking to various prototypes created for the MoJ <strong>Community Accommodation Service - Tier 2</strong> project.</p>

      <h2 class="govuk-heading-l">Current</h2> 

      <p class="govuk-body-m">The section contains a list of current, latest work:</p>

      <ul class="govuk-list govuk-list--bullet govuk-body-m">
        <li><a href="prototypes/prison-information/prison-behaviours">Tasklist dashboard only</a></li>
        <li><a href="prototypes/tasklist-dashboard-journey/search-referrer">Task list dashboard journey</a></li>
        <li><a href="prototypes/health-questions-journey/health-needs-communication">Health questions only</a></li>
        <li><a href="prototypes/prison-information/prison-behaviours">Prison information only</a></li>
        <li><a href="prototypes/risk/risk-oasys-editable-check">Risk question with editable OASys using text link and checkbox</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Archive</h2>
      <h3 class="govuk-heading-m">Tasklist dashboards</h3>
      <ul class="govuk-list govuk-list--bullet govuk-body-m">
        <li><a href="prototypes/tasklists/tasklist">Task list - plain</a></li>
        <li><a href="prototypes/tasklists/tasklist-overview-vertical-with-image.html">Task list - overview, vertical, with image</a></li>
        <li><a href="prototypes/tasklists/tasklist-overview-vertical-without-image.html">Task list - overview, vertical, without image</a></li>
        <li><a href="prototypes/tasklists/tasklist-with-banner.html">Task list - with banner</a></li>
      </ul>

      <h3 class="govuk-heading-m">Risk experiments</h3>
      <ul class="govuk-list govuk-list--bullet govuk-body-m">
        <li><a href="prototypes/risk/risk-oasys-editable-radio">Risk question with editable OASys using radio buttons</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Other information</h2>

      <p>Additional links to project artifacts.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://docs.google.com/presentation/d/108czvzn8AHrawH5gAKZimL5e98ikr140/edit?usp=share_link&ouid=100294621552212942595&rtpof=true&sd=true">Discovery Deck</a>
        </li>
        <li>
          <a href="https://github.com/dxw/cas2-prototypes">Github repo (For prototypes)</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}