{% extends "layouts/main.html" %}

{% block pageTitle %}
  CAS2 Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-column">
      <h1 class="govuk-heading-xl">
        CAS-2 Referral Hub Prototypes
      </h1>

      <p class="govuk-body-l">An initial page linking to various prototypes created for the MoJ <strong>Community Accommodation Service - Tier 2</strong> project.</p>

      <h2 class="govuk-heading-l">Current</h2> 

      <p class="govuk-body-m">The section contains a list of current, latest work:</p>

      <h3 class="govuk-heading-s">General</h3>
      <ul class="govuk-list govuk-list--bullet govuk-body-m">
        <li><a href="prototypes/tasklist">Task list dashboard only</a> (Last updated 17-05-23)</li>
        <li><a href="prototypes/tasklist-dashboard-journey/search-referrer">Prelude to task list dashboard</a></li>
        <li><a href="https://www.figma.com/proto/08lR7TmBzVwARdbkiZltad/CAS2-Working-board?page-id=29%3A19061&type=design&node-id=107-8723&scaling=min-zoom&starting-point-node-id=107%3A8723&show-proto-sidebar=1">Eligibility checker</a></li>
      </ul>

      <h3 class="govuk-heading-s">Risks and needs</h3>
      <ul class="govuk-list govuk-list--bullet govuk-body-m">
        <li><a href="prototypes/risks-and-needs/rosh/oasys-info">Risk of Serious Harm (RoSH) summary</a> (Last updated 18-05-23)</li>
        <li><a href="prototypes/risks-and-needs/risk-to-self/oasys-info">Risk to self</a> (Last updated 19-05-23)</li>
        <li><a href="prototypes/risks-and-needs/prison-information/prison-behaviours">Prison information</a> (Last updated 22-05-23)</li>
      </ul>

      <h3 class="govuk-heading-s">Health needs</h3>
      <ul class="govuk-list govuk-list--bullet govuk-body-m">
        <li><a href="prototypes/risks-and-needs/health-needs/health-needs-communication">Health needs</a> (Last updated 19-05-23)</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Archive</h2>
      <h3 class="govuk-heading-m">Tasklist dashboards</h3>
      <ul class="govuk-list govuk-list--bullet govuk-body-m">
        <li><a href="prototypes/tasklists/tasklist">Task list - plain</a></li>
        <li><a href="prototypes/tasklists/tasklist-overview-vertical-with-image.html">Task list - overview, vertical, with image</a></li>
        <li><a href="prototypes/tasklists/tasklist-overview-vertical-without-image.html">Task list - overview, vertical, without image</a></li>
        <li><a href="prototypes/tasklists/tasklist-with-banner.html">Task list - with banner</a></li>
      </ul>

      <h3 class="govuk-heading-m">Risk experiments</h3>
      <ul class="govuk-list govuk-list--bullet govuk-body-m">
        <li><a href="prototypes/risk-experiments/risk-oasys-editable-radio">Risk question pattern (using radio buttons)</a></li>
        <li><a href="prototypes/risk-experiments/risk-oasys-editable-check">Risk question pattern (text link and checkbox)</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Other information</h2>

      <p>Additional links to project artifacts.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://docs.google.com/presentation/d/108czvzn8AHrawH5gAKZimL5e98ikr140/edit?usp=share_link&ouid=100294621552212942595&rtpof=true&sd=true">Discovery Deck</a>
        </li>
        <li>
          <a href="https://github.com/dxw/cas2-prototypes">Github repo (For prototypes)</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}