{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-m">Risks and needs for Terry Midhurst</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Health needs</h1>

    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">

          <li class="moj-side-navigation__item">
            <a href="draft-tags-substance.html">
              <span class="moj-badge moj-badge--white side-nav--status">Draft</span>
              Substance misuse
            </a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="draft-tags-physical.html">
              <span class="moj-badge moj-badge--white side-nav--status">Draft</span>
              Physical health
            </a>
          </li>

          <li class="moj-side-navigation__item ">
            <a href="draft-tags-mental.html">Mental health</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="draft-tags-communication.html" aria-current="location">
              <span class="moj-badge moj-badge--white side-nav--status">Draft</span>
              Communication needs
            </a>
          </li>
  
          <li class="moj-side-navigation__item ">
            <a href="draft-tags-learning.html">Learning difficulties and Neurodiversity</a>
          </li>
  
          <li class="moj-side-navigation__item ">
            <a href="draft-tags-brain-injury.html">Brain injury</a>
          </li>

          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="draft-tags-other.html">Other health</a>
          </li>

        </ul>
      </nav>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <h2 class="govuk-heading-m">Other health needs</h2>

        {{ govukTextarea({
          name: "health-other-long-term",
          id: "health-other-long-term",
          label: {
            text: "Are they managing any long term health conditions?",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "For example, diabetes, arthritis or high blood pressure."
          }
        }) }}

        {{ govukTextarea({
          name: "health-other-cancer",
          id: "health-other-cancer",
          label: {
            text: "Are they currently recieving regular treatment for cancer?",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {{ govukTextarea({
          name: "health-other-seizure",
          id: "health-other-seizure",
          label: {
            text: "Do they experience seizures? If so, please describe how they manage these.",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {{ govukTextarea({
          name: "health-other-seizure",
          id: "health-other-seizure",
          label: {
            text: "Have they experienced a stroke?",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue",
            href: "draft-tags-substance"
          }) }}

          <a href="../../../tasklist.html" class="govuk-link govuk-link--no-visited-state">Back to tasklist</a>

        </div>

      </form>

    </div>
  </div>

{% endblock %}
