{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service. <a href="#" target="_blank">Complete our feedback form</a> or <a href="#">email us</a> to report a bug.'

    }) }}
  </div>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/prototypes/offending/current-offence/v1/co-listing" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Add Terry Midhurst's current offence details
                </h1>
              </legend>

              <p class="govuk-body">Add one offence at a time. For example, you should record 3 drug-related offences as 3 separate offences.</p>

              <!-- Offence title -->
              {{ govukInput({
                label: {
                  text: "Offence title and number",
                  classes: "govuk-label--m",
                  isPageHeading: false
                },
                hint: {
                    text: "For example, 'Stalking (08000)'"
                },
                id: "co-offence-title",
                name: "co-offence-title"
              }) }}

              <!-- Offence date -->
              {{ govukDateInput({
                id: "co-offence-date",
                value: data['co-offence-date'],
                namePrefix: "co-offence-date",
                fieldset: {
                  legend: {
                    text: "When did they commit the offence?",
                    classes: "govuk-label--m"
                  }
                },
                hint: {
                    text: "For example, 27 3 2007"
                }
              }) }}

              <!------------------------ Sentence length ------------------------>
              {{ govukInput({
                id: "co-sentence-length",
                value: data['co-sentence-length'],
                name: "co-sentence-length",
                classes: "govuk-input--width-10",
                label: {
                  text: "How long were they sentenced for?",
                  classes: "govuk-label--m"
                },
                hint: {
                  text: "For example, 6 months"
                }
              }) }}

              <!-- Offence details -->
              {{ govukTextarea({
                name: "co-offence-summary",
                id: "co-offence-summary",
                label: {
                  text: "Provide a summary of the offence",
                  classes: "govuk-label--m",
                  isPageHeading: false
                },
                hint: {
                  html: 
                  "<p class='govuk-hint'>Include:</p>
                  <ul class='govuk-list govuk-list--bullet govuk-hint'>
                    <li>where it happened (excluding addresses)</li>
                    <li>when it happened</li>
                    <li>damage or injury caused</li>
                    <li>weapon type</li>
                    <li>motivations for the offence</li>
                    <li>if a violent offence, the relationship to the victim</li>
                    </ul>"
                }
              }) }}

              <!-- Outstanding charges details -->
              {% set outstandingHTML %}
                {{ govukTextarea({
                  name: "co-outstanding-charges-details",
                  id: "co-outstanding-charges-details",
                  label: {
                    text: "Details of any outstanding charges",
                    classes: "govuk-label--s",
                    isPageHeading: false
                  }
                }) }}
              {% endset -%}
              
              <!-- Outstanding charges question -->
              {{ govukRadios({
                name: "co-outstanding-charges-question",
                fieldset: {
                  legend: {
                    text: "Are there outstanding charges committed prior to the current sentence?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    conditional: {
                      html: outstandingHTML
                    }
                  },
                  {
                    value: "No",
                    text: "No"
                  }
                ]
              }) }}

              <!-- Provide seriousness details -->
              <!-- {% set seriousHTML %}
                {{ govukTextarea({
                  name: "co-serious-details",
                  id: "co-serious-details",
                  label: {
                    text: "Provide the victim(s) full name and area they live in so that we can avoid placing the applicant near to them.",
                    classes: "govuk-label--s",
                    isPageHeading: false
                  }
                }) }}
              {% endset -%} -->
              
              <!-- Is it serious? -->
              <!-- {{ govukRadios({
                name: "co-serious-question",
                fieldset: {
                  legend: {
                    text: "Does this offence relate to domestic abuse, stalking or harassment?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    conditional: {
                      html: seriousHTML
                    }
                  },
                  {
                    value: "No",
                    text: "No"
                  }
                ]
              }) }} -->

              <!--
              <div class="govuk-form-group">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Are they currently subject to any civil/criminal orders including a restraining order, injunction or any other prohibited areas?
                  </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="order" name="order" type="radio" value="email" data-aria-controls="conditional-order">
                    <label class="govuk-label govuk-radios__label" for="order">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-order">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="order-by-email">
                         Provide the victim(s) full name and area they live in so that we can avoid placing the applicant near to them
                      </label>
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="order-2" name="order" type="radio" value="phone" data-aria-controls="conditional-order-2">
                    <label class="govuk-label govuk-radios__label" for="order-2">
                      No
                    </label>
                  </div>
                </div>
              </div> -->
            </fieldset>

          </div>

          <div class="govuk-button-group">

            {{ govukButton({
              text: "Save and continue"
            }) }}

            {{ govukButton({
              text: "Add another offence",
              classes: "govuk-button--secondary"
            }) }}
            
          </div>

        </form>

    </div>
  </div>

{% endblock %}
