{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
      }) }}
    </div>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="confirm-referrer" method="post" novalidate>
      {{ govukInput({
        label: {
          text: "Find a referrer",
          isPageHeading: true,
          classes: "govuk-label--l "
        },
        hint: {
          text: "Enter some kind of key to find an individual referrer's details within the relevant system."
        },
        classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
        id: "referrer-number",
        name: "referrer"
      }) }}

      {{ govukButton({
        text: "Search"
      }) }}
    </form>

    <a href="#" class="govuk-link govuk-link--no-visited-state">Enter details manually.</a>

  </div>
</div>

{% endblock %}