{% extends "layouts/main.html" %}

{% from "components/widgets/macro.njk" import widgets %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "components/other/new-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/help/help-v1.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form class="form" action="application-overview" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "nacro-application-status-detail",
          fieldset: {
            legend: {
              text: "But why?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Place offered",
              text: "Place offered",
              hint: {
                text: "The application was successful and a placement was offered."
              }
            },
            {
              value: "Declined",
              text: "Declined",
              hint: {
                text: "The application was unsuccessful and a placement was not offered."
              }
            },
            {
              value: "Waitlist",
              text: "Waitlist",
              hint: {
                text: "The application was successful but there is currently no suitable placement available."
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and update status",
          href: ""
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
